.get-app {
    min-height: 100vh;
    background-color: #fff;
}

.get-app__header {
    height: 102px;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    display: flex;

    .get-app__logo {
        width: 255px;
        height: auto;
        margin: 30px 40px;
    }

    .get-app__custom-logo {
        align-self: center;
        max-width: 240px;
        max-height: 40px;
        margin-left: 40px;
    }

    .get-app__custom-site-name {
        align-self: center;
        margin-left: 40px;

        > span {
            opacity: 0.8;	
            color: #000;	
            font-family: "Open Sans";	
            font-size: 40px;
            font-weight: bold;	
            line-height: 40px;
        }
    }
    
    .get-app__custom-logo + .get-app__custom-site-name {
        margin-left: 8px;
    }
}

.get-app__dialog {
    margin: 80px auto;
    width: 1280px;
    display: flex;
    justify-content: center;
}

.get-app__graphic {
    flex: 0 0 600px;
    background-color: var(--sidebar-bg);

    &.mobile {
        flex: 0 1 300px;
    }
    
    > img {
        max-width: 100%;
    }
}



.get-app__dialog-body {
    margin-left: 60px;
    margin-top: 60px;
    flex: 0 1 600px;
}

.get-app__launching > span {
    opacity: 0.8;	
    color: #000;	
    font-family: "Open Sans";	
    font-size: 32px;
    font-weight: 600;	
    line-height: 43px;
}

.get-app__alternative {
    margin-top: 8px;
    
    span {
        opacity: 0.8;	
        font-family: "Open Sans";	
        font-size: 20px;	
        line-height: 27px;
    }

    > a {
        text-decoration: none;
        color: #145DBF;
    }

    > span {
        color: #000000;
    }

    &.redirect-page {
        margin-top: 24px;
        margin-bottom: 32px;

        > br.mobile-only {
            display: none;
        }
    }
}

.get-app__buttons {
    margin-top: 28px;
}

.get-app__status {
    margin-right: 20px;
    font-family: "Open Sans";
    display: inline-block;

    > a {
        font-size: 16px;	
        font-weight: 600;	
        line-height: 22px;
        padding: 13px 30px;
        border-radius: 4px;
    }
}

.get-app__download {
    background-color: #145DBF !important;
    border: none !important;

    &:hover {
        background-color: #145DBF !important;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    }

    &:active,
    &:focus {
        background-color: #1151A6 !important;
    }
}

.get-app__continue {
    color: #145DBF !important;
    border-color: #145DBF !important;

    &:hover {
        background-color: rgba(255,255,255,0.1) !important;	
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    }

    &:active {
        background-color: rgba(20,93,191,0.1) !important;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    }

    &:focus {
        background-color: rgba(20,93,191,0.1) !important;
    }
}

.get-app__preference {
    margin-top: 23px;
    display: flex;

    > span {
        opacity: 0.8;	
        color: #000;	
        font-family: "Open Sans";	
        font-size: 16px;	
        line-height: 22px;
        font-weight: normal;
        margin-top: -2px;
    }
}


.get-app__checkbox {
    border-radius: 3px;
    border: 2px solid $dark-gray;
    height: 18px;
    width: 18px;
    margin-right: 7px;
    padding: 0;
    background: none;

    > * {
        pointer-events: none;
    }

    &.checked {
        border: 0;

        svg {
            fill: #145DBF;
        }
    }
}

.get-app__download-link {
    margin-top: 40px;
    opacity: 0.8;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 16px;	
    line-height: 22px;

    > span > a {
        text-decoration: none;
        color: #145DBF;
    }

    > br {
        display: none;
    }
}

@media only screen and (max-width: 1280px) {
    .get-app__dialog {
        width: 100%;
        margin: 80px 0;
        padding: 0 80px 0 0;
        align-items: center;
    }

    .get-app__dialog-body {
        align-self: baseline;
        margin-top: 40px;
    }

    .get-app__graphic {
        flex-shrink: 1;
    }
}

@media only screen and (max-width: 1082px) {
    .get-app__dialog {
        flex-direction: column-reverse;
        text-align: center;
        margin: 40px 0 0 0;
        padding: 0;
    }

    .get-app__dialog-body {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 0;
        align-self: center;
        flex: 0 1 270px;
    }

    .get-app__preference {
        align-self: center;
    }

    .get-app__graphic {
        flex: 0 1 500px;
        margin-top: 40px;

        &.mobile {
            flex: 0 1 347px;
        }

        > img {
            max-height: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .get-app__header {
        height: 52px;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
        justify-content: center;

        .get-app__logo {
            width: 170px;
            height: auto;
            margin: 0 auto;
            display: block;
        }

        .get-app__custom-logo {
            margin-left: 0;
        }

        .get-app__custom-site-name {
            margin-left: 0;
            
            > span {
                font-size: 24px;	
                line-height: 24px;
                font-weight: bold;
            }
        }

        .get-app__custom-logo + .get-app__custom-site-name {
            margin-left: 4px;
        }
    }

    .get-app__dialog {
        margin: 32px auto;
        height: auto;
        flex-direction: column-reverse;
    }

    .get-app__graphic {
        margin: 16px 40px 0 40px;
        flex-basis: unset !important;
    }
    
    .get-app__dialog-body {
        margin-left: 0;
    }

    .get-app__launching {
        text-align: center;
        margin: 0 auto;
        padding: 0 24px;

        > span {
            font-size: 20px;	
            line-height: 27px;
            font-weight: 600;
        }
    }

    .get-app__alternative {
        display: none;

        span {
            font-size: 16px;
            line-height: 22px;
        }

        &.redirect-page {
            display: block;

            > br.mobile-only {
                display: block;
            }
        }
    }

    .get-app__buttons {
        margin-top: 25px;
    }

    .get-app__preference {
        margin-top: 0;
    }

    .get-app__status {
        margin-right: 0;
        display: block;
        margin-bottom: 20px;

        > a {
            width: 219px;
        }
    }

    .get-app__download-link {
        padding: 0 24px;

        > br {
            display: block;
        }
    }
}