.form-switch {
  display: flex;
  align-items: center;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: 600;
  margin: 0 0 0.8rem;
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
    margin-right: 8px;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
  
    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  
    input:checked + .slider {
      background-color: #1b70ff;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #1b70ff;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 50px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    
  }
}


.form-select {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: 600;
  margin: 0.8rem 0 0.8rem;
  .form-time {
    margin: 12px 0 8px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    .custom-time{
      .week-name {
        width: 100px;
      }
      margin: 4px 0 4px 0;
      width: 100%;
      .time-picker {
        width: 150px;
      }
    }
  }
  div {
    .period {
      display: inline-block;
      width: 35%;
      margin-right: 10px;
      .react-select__control {
        width: 100%;
        .react-select__value-container {
          width: 80%;
        }
        .react-select__indicators {
          width: 20%;
        }
      }
    }
    .n-custom-time {
      width: 100%;
      .time-picker {
        width: 150px;
      }
    }
    .time-wrapper {
      display: inline-flex;
      align-items: center;
      width: 60%;
      p {
        margin: 0;
      }
      .time-picker {
        margin: 0 10px;
        display: flex;
        align-items: center;
        img {
          position: absolute;
          width: 24px;
          left: 8px;
          height: 24px;
          opacity: 0.5;
        }
        .rc-time-picker-input {
          padding-left: 38px;
          height: 36px;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
        }

        .rc-time-picker-clear {
          display: none;
          width: 0;
          height: 0;
        }
      }
    }
  }
}


.weekDays-selector {
  display: inline-block;

  input {
    display: none !important;
  }

  input[type=checkbox] + label {
    display: inline-block;
    border-radius: 20px;
    background: #dddddd;
    height: 35px;
    width: 35px;
    margin-right: 8px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
  }

  input[type=checkbox]:checked + label {
    background: #1b70ff;
    color: #ffffff;
  }

  input[type=checkbox]:disabled + label {
    cursor: default;
    background: #dddddd;
  }
}