.form-switch {
    display: flex;
    align-items: center;
    border: none;
    margin: 0 0 0.8rem;
    color: inherit;
    font-size: inherit;
    font-weight: 600;

    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 24px;
        margin-right: 8px;

        input {
            width: 0;
            height: 0;
            opacity: 0;
        }

        .slider {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: var(--center-channel-color-24);
            cursor: pointer;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        .slider::before {
            position: absolute;
            bottom: 2px;
            left: 2px;
            width: 20px;
            height: 20px;
            background-color: white;
            content: "";
            -webkit-transition: 0.4s;
            transition: 0.25s;
        }

        input:checked + .slider {
            background-color: var(--button-bg);
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #1b70ff;
        }

        input:checked + .slider::before {
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 50px;
        }

        .slider.round::before {
            border-radius: 50%;
        }
    }
}

.form-select {
    border: none;
    margin: 0.8rem 0 0.8rem;
    color: inherit;
    font-size: inherit;
    font-weight: 400;

    .form-time {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 12px 0 8px 0;

        .custom-time {
            width: 100%;
            margin: 4px 0 4px 0;

            .week-name {
                width: 100px;
            }

            .time-picker {
                width: 150px;
            }
        }
    }

    div {
        .period {
            display: inline-block;
            width: 35%;
            margin-right: 10px;

            .react-select__control {
                width: 100%;

                .react-select__value-container {
                    width: 80%;
                }

                .react-select__indicators {
                    width: 20%;
                }
            }
        }

        .n-custom-time {
            width: 100%;

            .time-picker {
                width: 150px;
            }
        }

        .time-wrapper {
            display: inline-flex;
            width: 60%;
            align-items: center;

            p {
                margin: 0;
            }

            .time-picker {
                display: flex;
                align-items: center;
                margin: 0 10px;

                .time-icon {
                    position: absolute;
                    left: 8px;
                    width: 20px;
                    height: 20px;

                    .icon-clock-outline {
                        width: 25px;
                        height: 25px;
                    }
                }

                .rc-time-picker-input {
                    width: 100%;
                    height: 36px;
                    padding-left: 38px;
                    border: 1px solid var(--center-channel-color-20);
                    background-color: var(--center-channel-bg);
                    color: var(--center-channel-color);
                    font-size: 14px;
                    font-weight: 400;
                }

                .rc-time-picker-input:focus {
                    border-color: rgba(var(--button-bg-rgb), 1);
                    box-shadow: inset 0 0 0 1px rgba(var(--button-bg-rgb), 1);
                }

                .rc-time-picker-clear {
                    display: none;
                    width: 0;
                    height: 0;
                }
            }
        }
    }
}

.weekDays-selector {
    display: inline-block;

    input {
        display: none !important;
    }

    input[type=checkbox] + label {
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: 8px;
        background: var(--center-channel-color-08);
        border-radius: 20px;
        color: var(--center-channel-color-48);
        cursor: pointer;
        line-height: 35px;
        text-align: center;
    }

    input[type=checkbox]:checked + label {
        background: var(--button-bg);
        color: #fff;
    }

    input[type=checkbox]:disabled + label {
        background: #ddd;
        cursor: default;
    }
}

.rc-time-picker-panel-inner {
    border: none;
    margin-top: 2px;
    background-color: transparent;
    box-shadow: none;

    .rc-time-picker-panel-input-wrap {
        width: 80%;
        height: 36px;
        border: none;

        .rc-time-picker-panel-input {
            display: none;
        }
    }

    .rc-time-picker-panel-combobox {
        width: 168px;
        height: 156px;
        border: 1px solid var(--center-channel-color-20);
        margin-top: 9px;
        background-color: var(--center-channel-bg);
        border-radius: 4px;

        .rc-time-picker-panel-select {
            border: none;
            border-width: none;
            margin-top: 4px;

            .rc-time-picker-panel-select-option-selected {
                background-color: rgba(var(--button-bg-rgb), 1);
                color: var(--sys-button-color);
            }

            li:hover {
                background-color: rgba(var(--sys-center-channel-color-rgb), 0.08);
            }
        }
    }
}
