@import 'utils/variables';

.InvitationModalConfirmStepRow {
    display: flex;

    .username-or-icon {
        display: flex;
        width: 50%;
        align-items: center;

        .email {
            margin: 0 4px 0 8px;
            overflow-wrap: anywhere;
            word-break: break-word;
        }

        .name {
            margin: 0 4px 0 8px;
        }

        .mail-icon {
            display: inline-block;
            width: 36px;
            height: 36px;
            padding: 3px;
            margin: 12px 0 12px 12px;
            background: var(--button-bg);
            border-radius: 18px;

            svg {
                width: 24px;
                height: 24px;
                margin: 3px;
                fill: var(--button-color);
            }
        }

        .alert-icon {
            display: inline-block;
            width: 36px;
            height: 36px;
            padding: 3px;
            margin: 12px 0 12px 12px;
            background: var(--dnd-indicator);
            border-radius: 18px;

            svg {
                width: 28.8px;
                height: 28.8px;
                margin: 0.6px;
                fill: var(--button-color);
            }
        }

        .Avatar {
            margin: 12px 0 12px 12px;
        }

        .Badge {
            display: inline-block;
            margin-top: 2px;
            vertical-align: top;
        }
    }

    .reason {
        display: flex;
        width: 50%;
        align-items: center;
        padding: 12px;
    }
}
