@import 'utils/variables';

.InvitationModal .InvitationModalConfirmStep h1 {
    margin-bottom: 10px;
}

.InvitationModalConfirmStep {
    .subtitle {
        margin-bottom: 40px;
        margin-top: 0px;
        font-size: 16px;
        text-align: center;
    }
    .invitation-modal-confirm-not-sent {
        h2 {
            margin-top: 32px;
            margin-bottom: 13px;
            font-size: 20px;
        }
        .InvitationModalConfirmStepTable {
            .table-header {
                border-bottom: 1px solid;
                border-top: 1px solid;
                border-color: var(--center-channel-color-10);
                background: rgba(255,165,0,.2);
            }
        }
    }
    .invitation-modal-confirm-sent {
        h2 {
            font-size: 20px;
            margin-bottom: 13px;
        }
        .InvitationModalConfirmStepTable {
            .table-header {
                border-bottom: 1px solid;
                border-top: 1px solid;
                border-color: var(--center-channel-color-10);
                background: rgba(0,128,0,.2);
            }
        }
    }
    .confirm-done {
        margin-top: 32px;
        text-align: right;
        button {
            height: 48px;
            padding: 13px 26px;
            font-size: 16px;
        }
    }
}
