.InviteView {
    &__sectionTitle {
        padding-top: 16px;
        padding-bottom: 8px;
        font-weight: 600;

        &--first {
            padding-top: 0;
        }
    }

    &__copyLink {
        display: flex;
        align-items: center;

        &:active {
            box-shadow: none;
        }

        &.btn.btn-cancel {
            padding-left: 0;
        }

        .icon-check {
            color: var(--online-indicator);
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;

        // to override clearfix rule in clearfix.less
        &::before,
        &::after {
            display: none;
        }

        .btn {
            font-weight: 600;
        }
    }

    &__sectionTitleParenthetical {
        color: rgba(var(--center-channel-color-rgb), 0.6);
        font-weight: normal;
    }
}

.modal-body {
    .UsersEmailsInput {
        .users-emails-input__control {
            overflow: auto;
            min-height: 84px;
            max-height: min(50vh, 800px);
            align-items: flex-start;
        }

        .users-emails-input__value-container {
            margin-top: 7px;
        }
    }
}
