@import 'utils/variables';

.InvitationModalConfirmStepTable {
    width: 720px;
    .table-header {
        display: flex;
        border-bottom: 1px solid green;
        .people-header, .details-header {
            margin: 12px;
            width: 50%;
            font-weight: bold;
            display: flex;
        }
        span {
            display: flex;
        }
        svg {
            align-self: end;
            transform: rotate(90deg);
            fill: var(--center-channel-color-60);
            height: 20px;
            width: 20px;
            margin-right: 2px;
        }
    }
}
