@import 'utils/variables';

.InvitationModalMembersStep {
    max-width: 720px;
    width: 100%;
    h2 {
        margin-bottom: 12px;
        margin-top: 0px;
        font-size: 20px;
    }
    .share-link {
        max-width: 720px;
        width: 100%;
        .share-link-input-block {
            display: flex;
        }
        .share-link-input {
            flex-grow: 1;
            height: 48px;
            background: $bg--gray;
            border-top: 1px solid $gray;
            border-left: 1px solid $gray;
            border-bottom: 1px solid $gray;
            border-right: 0;
            border-radius: 4px 0 0 4px;
            padding: 12px 14px;
            font-size: 16px;
            color: $dark-gray;
        }
        .share-link-input-button {
            flex-grow: 0;
            border: 1px solid $primary-color;
            color: $primary-color;
            height: 48px;
            border-radius: 0 4px 4px 0;
            background: $white;
            padding: 13px 38px;
            font-size: 16px;
            span {
                display: inline-block;
                margin-right: 9px
            }
        }
        .help-text {
            margin-top: 8px;
            color: $dark-gray;
        }
    }
    .search-and-add {
        max-width: 720px;
        width: 100%;
        margin-bottom: 28px;
        .search-and-add-input {
            height: 48px;
            background: $white;
            border: 1px solid $gray;
            border-radius: 4px;
            padding: 12px 14px;
            width: 100%;
        }
        .help-text {
            margin-top: 8px;
            color: $dark-gray;
        }
    }
    .invitation-modal-or {
        position: relative;
        max-width: 720px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        hr {
            max-width: 720px;
            width: calc(100% - 40px);
            margin: 50px 0;
        }
        div {
            text-align: center;
            display: inline-block;
            position: absolute;
            background: white;
            padding: 35px 12px;
            top: 0;
            color: $gray;
            font-size: 20px;
        }
    }
    .invite-members {
        text-align: right;
        button {
            height: 48px;
            padding: 13px 26px;
            font-size: 16px;
        }
    }
}
