@import 'utils/variables';

.InvitationModal {
    display: flex;
    flex-direction: column;
    padding-top: 168px;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 16px;
    color: var(--center-channel-color-90);
    @media (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 40px;
        margin-top: 16px;
        text-align: center;
        font-weight: 300;
        line-height: 1;
        strong {
            font-weight: 400;
        }
    }
    h2 {
        font-weight: 300;
        strong {
            font-weight: 400;
        }
    }
    .back {
        position: fixed;
        top: 48px;
        left: 48px;
        cursor: pointer;
        svg {
            fill: var(--center-channel-color-90);
            padding: 4px;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            &:hover {
                background: var(--button-bg-10);
            }
        }
    }
    .modal-icon {
        text-align: center;
        svg {
            fill: var(--button-bg);
            height: 32px;
            width: 126px;
            margin-right: 85px;
        }
    }
}

.app__body .modal.invitation-modal-confirm {
    .modal-dialog {
        width: 400px;
    }
    .modal-content {
        border-radius: 8px;
    }
    .modal-header {
        border-radius: 8px 8px 0 0;
        background: var(--center-channel-bg);
        border: 0px;
        min-height: 64px;
        padding: 20px;
        .modal-title {
            font-size: 20px;
            color: var(--center-channel-color);
        }
    }
    .modal-body {
        padding: 0 20px;
    }
    .modal-footer {
        border-radius: 0 0 8px 8px;
        border: 0px;
        min-height: 80px;
        padding: 20px;
        button {
            outline: none;
            font-size: 15px;
            font-weight: bold;
        }
    }
}
