@import 'utils/variables';

.InvitationModal {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 168px;
    color: var(--center-channel-color);
    font-size: 16px;

    @media (max-width: 768px) {
        padding-right: 15px;
        padding-left: 15px;
    }

    h1 {
        margin-top: 16px;
        margin-bottom: 40px;
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
        text-align: center;
    }

    h5 {
        font-size: 16px;
        font-weight: 600;
    }

    .modal-icon {
        text-align: center;

        svg {
            width: 126px;
            height: 38px;
            margin-right: 85px;
            fill: var(--button-bg);
        }
    }
}

.app__body .modal.invitation-modal-confirm {
    .modal-dialog {
        width: 400px;
    }

    .modal-content {
        border-radius: 8px;
    }

    .modal-header {
        min-height: 64px;
        padding: 20px;
        border: 0;
        background: var(--center-channel-bg);
        border-radius: 8px 8px 0 0;

        .modal-title {
            color: var(--center-channel-color);
            font-size: 20px;
        }
    }

    .modal-body {
        padding: 0 20px;
    }

    .modal-footer {
        min-height: 80px;
        padding: 20px;
        border: 0;
        border-radius: 0 0 8px 8px;

        button {
            font-size: 15px;
            font-weight: bold;
            outline: none;
        }
    }
}
