.modal {
    .view-user-groups-modal {
        .user-groups-search {
            margin-bottom: 16px;
        }
        

        .user-groups-modal__content {
            &.group-member-list {
                border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                margin-bottom: 16px;
                max-height: 450px;

                h2.group-member-count {
                    font-size: 16px;
                    line-height: 24px;
                    padding: 0 32px;
                    margin: 16px 0;
                }

                .group-member-row {
                    display: flex;
                    align-items: center;
                    padding: 8px 32px;

                    &:hover {
                        background: rgba(var(--center-channel-color-rgb), 0.1);
                    }

                    .group-member-name {
                        padding-left: 12px
                    }
                    .group-member-username {
                        padding-left: 8px;
                        color: rgba(var(--center-channel-color-rgb), 0.64);
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}
