.channel-icon {
    display: inline-block;
    margin: 0 7px 0 1px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 15px;
}

.channel-icon__lock,
.channel-icon__globe,
.channel-icon__archive {
    top: 1px;
}

.channel-icon__archive {
    left: -2px;
}