@charset 'UTF-8';

#TeamSidebar {
    display: flex;
    width: 65px;
    background-color: var(--sidebar-header-bg);
    position: fixed;
    flex-direction: column;
    left: 0;
    text-align: center;
    z-index: 13;
    height: 100%;

    .TeamSidebarWrapper {
        -webkit-overflow-scrolling: touch;
        background-color: rgba(0, 0, 0, 0.2);
        overflow: hidden;
        height: 100%;
        flex: 1 1 auto;
        position: relative;
    }
}
    
#SidebarContainer {
    background-color: var(--sidebar-bg);
    width: 240px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    // TODO: Devin changed
    height: 100%;
    z-index: 12;

    .badge {
        background: var(--mention-bg);
        color: var(--mention-color);
        margin-right: 20px;
        height: 16px;
        min-width: 16px;
    }

    .a11y--focused {
        box-shadow: inset 0 0 1px 3px var(--sidebar-text-50), inset 0 0 0 1px var(--sidebar-text);
    }

    .SidebarContainer_filterAddChannel {
        display: flex;
        flex-direction: row;
        width: 240px;
    }

    .SidebarHeader {
        background-color: var(--sidebar-header-bg);

        .status-wrapper {
            height: 36px;
            width: 36px;
        
            .status {
                bottom: -5px;
                height: 19px;
                right: -6px;
                width: 19px;

                .offline--icon {
                    fill: var(--sidebar-text);
                }

                svg {
                    height: 13px;
                    left: 0;
                    max-height: initial;
                    position: relative;
                    top: 0;
                    width: 13px;
                    z-index: 1;
                }
            }
        }
    }

    .SidebarChannelNavigator {
        display: flex;
        margin: 18px 16px 11px 16px;

        button {
            font-size: 16px;
            line-height: 16px;
            height: 28px;
            min-width: 28px;
            vertical-align: middle;
            border: 0;
            background: rgba(255, 255, 255, 0.16); // TODO themeing?
            color: var(--sidebar-text-80);

            &:hover:not(.disabled) {
                color: var(--sidebar-text);
                background: rgba(255, 255, 255, 0.4); // TODO themeing?
            }

            &.disabled {
                background: rgba(255, 255, 255, 0.08); // TODO themeing?
            }
        }

        .SidebarChannelNavigator_jumpToButton {
            display: flex;
            flex: 1 1 auto;
            border-radius: 4px;
            font-family: 'Open Sans';
            font-size: 14px;
            line-height: 19px;
            margin-right: 4px;
            padding: 3px 8px 5px 8px;

            .SidebarChannelNavigator_shortcutText {
                margin-left: auto;
                display: none;
            }

            &:hover {
                .SidebarChannelNavigator_shortcutText {
                    display: inherit;
                }
            }
        }

        .SidebarChannelNavigator_backButton {
            border-radius: 4px 0px 0px 4px;
            padding-left: 0;
            padding-right: 0;
        }

        .SidebarChannelNavigator_forwardButton {
            border-radius: 0px 4px 4px 0px;
            padding-left: 0;
            padding-right: 0;
            padding-top: 3px;
        }

        i {
            font-size: 16px;
            line-height: 16px;
            margin: 0;
        }
    }

    .SidebarFilters {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 7px 16px;
    }
    .SidebarFilters .SidebarFilters_filterButton {
        display: block;
        line-height: 28px;
        height: 28px;
        width: 28px;
        background: rgba(255, 255, 255, 0.16);
        text-align: center;
        border-radius: 4px;
        color: var(--sidebar-text-60);
        font-size: 16px;
    }
    .SidebarFilters .SidebarFilters_filterButton:hover {
        color: var(--sidebar-text-80);
        background: rgba(255, 255, 255, 0.4);
    }
    .SidebarFilters .SidebarFilters_filterButton.active {
        color: var(--sidebar-bg);
        background: var(--sidebar-text);
    }

    .SidebarFilters .SidebarFilters_filterTitle {
        color: var(--sidebar-text-80);
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        margin-left: 8px;
    }

    .SidebarFilters .SidebarFilters_filterDescription {
        color: var(--sidebar-text);
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        margin-left: 8px;
    }

    .AddChannelDropdown {
        height: 30px;

        .dropdown-menu {
            button {
                padding: 0 16px;
            }
        }
    }

    .AddChannelDropdown_dropdownButton {
        padding: 0;
        margin-right: 19px;
        margin-top: 6px;
        z-index: 1;
        background: transparent;
        border: none;
        color: var(--sidebar-text-80);
        font-size: 18px;
        line-height: 18px;
        height: 28px;
        width: 28px;
        border-radius: 4px;
    }
    .AddChannelDropdown_dropdownButton:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.24);
        color: var(--sidebar-text);
    }
    .AddChannelDropdown_dropdownButton:focus {
        outline-style: none;
    }
    
    .nav-pills__unread-indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 50%;
        width: 188px;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        @include border-radius(14px);
        z-index: 2;
        cursor: pointer;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        background: var(--mention-bg);
        color: var(--mention-color);

        .icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
        }

        body.enable-animations & {
            @include transition-property(opacity, visibility);
            @include transition-duration($transition-quick);
            @include transition-delay(0s);
            @include transition-timing-function(ease-in, step-end);
        }

        svg {
            fill: var(--mention-color);
        }
    }

    .nav-pills__unread-indicator-top {
        top: 16px;

        .icon {
            svg {
                @include transform(rotate(180deg));
            }
        }
    }

    .nav-pills__unread-indicator-bottom {
        bottom: 16px;
    }

    .nav-pills__unread-indicator--visible {
        opacity: 1;
        visibility: visible;

        body.enable-animations & {
            @include transition-property(opacity, visibility);
            @include transition-duration($transition-quick);
            @include transition-delay(0s);
            @include transition-timing-function(ease-out, step-start);
        }
    }

    .SidebarNavContainer {
        flex: 1 1 auto;
        overflow: hidden;
        position: relative;

        .scrollbar--view ~ div {
            z-index: 2;

            div {
                z-index: 2;
            }
        }
    }
    
    .SidebarChannelGroup .SidebarChannelGroupHeader {
        height: 32px;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-overflow: ellipsis;
        text-align: left;
        border: none;
        color: var(--sidebar-text-60);
        position: sticky;
        top: 0;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.33);
        transition: box-shadow 0.25s ease-in-out;
        z-index: 1;
    }
    .SidebarChannelGroup .SidebarChannelGroupHeader_groupButton {
        height: 32px;
        padding: 0;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        border: none;
        color: var(--sidebar-text-60);
        background-color: var(--sidebar-bg);
        position: sticky;
        top: 0;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.33);
        transition: box-shadow 0.25s ease-in-out;
        z-index: 1;
        display: flex;
        width: 100%;
        align-items: center;

        > div {
            flex: 1 1 auto;
        }
      
        i.icon-chevron-down {
            max-width: 16px;
            max-height: 16px;
            line-height: 18px;

            &.hide-arrow {
                visibility: hidden;
            }
        }
    }

    .SidebarNavContainer.disabled .SidebarChannelGroup .SidebarChannelGroupHeader_groupButton {
        cursor: default;

        i.icon-chevron-down {
            visibility: hidden;
        }
    } 

    .SidebarChannelGroup .SidebarChannelGroupHeader.stuck {
        /* box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.33);
        transition: box-shadow 0.25s ease-in-out; */
    }
    .SidebarNavContainer:not(.disabled) .SidebarChannelGroup .SidebarChannelGroupHeader_groupButton:hover {
        color: var(--sidebar-text);
        cursor: pointer;
    }
    
    .SidebarChannelGroup .SidebarChannelGroupHeader_groupButton:focus {
        /* box-shadow: inset 0 0 0 2px orange; */
        outline-style: none;
    }
    .SidebarChannelGroup .SidebarChannelGroupHeader_groupButton.directMessages {
        width: 208px;
    }
    .SidebarChannelGroup .SidebarChannelGroupHeader > i {
        font-size: 12px;
    }
    .SidebarChannelGroup__is-collapsed {
        animation-name: menuAnimation;
        animation-duration: 0.25s;
        animation-timing-function: linear;
    }
    
    .SidebarChannelGroupHeader_addButton {
        padding: 0;
        z-index: 1;
        background: transparent;
        border: none;
        color: var(--sidebar-text-80);
        font-size: 18px;
        line-height: 18px;
        height: 28px;
        width: 28px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: 19px;
    }
    .SidebarChannelGroupHeader_addButton:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.24);
        color: var(--sidebar-text);
    }
    .SidebarChannelGroupHeader_addButton:focus {
        outline-style: none;
    }
    
    /* Content */
    .SidebarChannelGroup_content {
        padding-bottom: 14px;
    }
    
    .SidebarChannelGroup_content ul {
        margin: 0;
        padding: 0;
    }
    
    /* Channels */
    .SidebarChannel {
        display: block;
        height: 31px; /* height required for transition animation */
        list-style-type: none;
        /* border: solid 2px transparent; */
        overflow: hidden;
        color: var(--sidebar-text-60);

        &:hover {
            .btn-close {
                @include opacity(.8);
                visibility: visible;
            }
        }

        .btn-close {
            @include opacity(0);
            visibility: hidden;
            font-family: 'Open Sans', sans-serif;
            font-size: 21px;
            font-weight: 600;
            position: relative;
            width: 24px;
            height: 20px;
            line-height: 16px;
            margin-right: 7px;
            text-align: center;

            &:hover {
                @include opacity(1);
            }
        }
    }
    
    .SidebarChannel:hover {
        /* background: rgba(255, 255, 255, 0.16); */
    }
    
    
    .SidebarChannel.animating {
        transition-property: height, padding, color;
        transition-duration: 0.15s; /* collapse animation speed */
        transition-timing-function: ease-out;
    }
    
    .SidebarChannel.collapsed {
        height: 0 !important;
        padding-top: 0;
        padding-bottom: 0;
        border-top: none;
        border-bottom: none;
        overflow-y: hidden;
    }
    
    /* fade out collapsing list item */
    .SidebarChannel.animating .SidebarLink {
        transition-property: color;
        transition-duration: 0.15s; /* speed should match collapse animation speed */
        transition-timing-function: ease-out;
    }
    
    .SidebarChannel .SidebarLink {
        position: relative;
        font-size: 14px;
        text-decoration: none;
        padding: 7px 5px 7px 15px;
        display: flex;
        color: var(--sidebar-text-60);
        align-items: flex-start;
        margin-right: 0;
        width: 100%;
    }
    .SidebarChannel .SidebarLink:focus {
        /* box-shadow: inset 0 0 0 2px orange; */
        outline-style: none;
    }
    
    .SidebarChannel .SidebarLink:hover {
        background: rgba(255, 255, 255, 0.08);
    }
    .SidebarChannel.active .SidebarLink {
        background: rgba(255, 255, 255, 0.16);

        .SidebarChannelLinkLabel {
            color: var(--sidebar-text);
        }
        
    }

    .SidebarChannel.active .SidebarLink::before {
        content: '';
        height: 33px;
        position: absolute;
        left: -2px;
        top: 0;
        width: 4px;
        background: var(--sidebar-text);
        border-radius: 4px;
    }
    
    .SidebarChannel.unread .SidebarLink,
    .SidebarChannel.unread .SidebarLink:hover {
        font-weight: 600;
        color: var(--sidebar-unread-text);
    }
    .SidebarChannel .SidebarLink > i {
        font-size: 12px;
        margin-right: 5px;
    }
    .SidebarChannel.dragging {
        opacity: 0;
    }

    .SidebarChannel span.SidebarChannelLinkLabel {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        padding-right: 10px;
        line-height: 16px;
        text-align: justify;
        height: 18px;
    }
    
    /* .SidebarChannel__absolute {
        height: 44px;
        list-style-type: none;
        width: 100%;
        position: relative;
    }
    
    .SidebarChannel__absolute:hover {
        background: rgba(255, 255, 255, 0.16);
    }
    
    .SidebarChannel__absolute > a {
        text-decoration: none;
        position: absolute;
        line-height: 44px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 24px;
        color: #BCCDE7;
    }
    
    .SidebarChannel__absolute > a:hover {
        color: #BCCDE7;
    } */
    
    .icon {
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: transform 0.15s ease-out; /* should match collapse animation speed */
    }
    .icon-rotate-minus-90 {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition: transform 0.15s ease-out; /* should match collapse animation speed */
    }

    .icon-flip {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    :root .icon-rotate-180 {
        filter: none;
    }

    .status.status--group {
        background: var(--sidebar-text-30);
        margin: 1px 8px 0 0;
        min-width: 14px;
        height: 14px;
    }

    .status-away {
        color: var(--away-indicator);
    }
    .status-online {
        color: var(--online-indicator);
    }
    .status-dnd {
        color: var(--dnd-indicator);
    }

    + .inner-wrap #app-content {
        margin-left: 240px;
    }
}

.multi-teams {
    #SidebarContainer {
        left: 65px;

        + .inner-wrap #app-content {
            margin-left: 305px;
        }
    }
}


