@charset 'UTF-8';

.SidebarChannel {
    height: 31px; /* height required for transition animation */
}

.SidebarChannel.animating {
    transition-property: height, padding, color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.SidebarChannel.collapsed {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    overflow-y: hidden;
}
