@charset 'UTF-8';

.sidebar--right {
    @include translateX(100%);
    height: 100%;
    padding: 0;
    position: fixed;
    right: 0;
    width: 400px;
    z-index: 11;

    body.announcement-bar--fixed & {
        height: calc(100% - #{$announcement-bar-height});
    }

    &.move--left {
        transition: width 0.25s 0s ease-in, z-index 0.25s 0s step-end;
    }

    &.sidebar--right--expanded {
        @include box-shadow(0px 8px 24px alpha-color($black, .24));
        z-index: 13;

        .sidebar-right__body {
            overflow: hidden;
        }

        &.move--left {
            transition: width 0.25s 0s ease-in, z-index 0.15s 0.1s step-start;
        }
    }

    .sidebar--right__bg {
        background-color: transparent;
        height: 110%;
        position: absolute;
        top: -70px;
        visibility: hidden;
        z-index: 5;
        // Since the element (sidebar--right__bg) is tied to the sidebar, we need to expand beyond it, we're given an arbitrary large width and left positioning so that it may take the width completely
        width: 1000%;
        left: -500%;
    }

    &.sidebar--right--expanded {
        .sidebar--right__bg {
            visibility: visible;
        }
    }

    .sidebar-right__table {
        display: table;

        > div:not(.sidebar-collapse__container) {
            display: table-cell;
            vertical-align: top;

            &:last-child {
                .channel-header__icon {
                    margin-right: 16px;
                }
            }
        }

        .search-form__container {
            width: 100%;
        }
    }

    .post-body {
        img {
            max-height: 200px;
        }
    }

    .post {
        &.post--compact {
            .card-icon__container {
                margin: 0px 0 0 6px;
            }
        }

        &.post--comment {
            .post__body {
                border-left: none;
            }
        }

        .post__content {
            padding: 0 10px 0 0;
        }

        .post__header {
            .col__name {
                &.Badge {
                    flex: none;
                }
            }
        }
    }

    .post-create__container {
        form {
            padding: 0;
        }

        .post-create {
            padding: .5em 15px 0;
        }

        .msg-typing {
            margin: 0;
        }

        .post-create-footer {
            .post-error {
                @include opacity(.55);
                display: inline-block;
                font-size: .85em;
                font-weight: normal;
                margin-bottom: 0;
                position: relative;
                top: 0;
            }
        }
    }

    .channel-archived-warning {
        padding: 20px;
    }

    .help__format-text {
        display: none;
    }

    .sidebar--right__content {
        @include display-flex;
        @include flex-direction(column);
        height: 100%;
    }

    .sidebar--right__back {
        @include single-transition(all, .2s, ease-in);
        border-radius: 4px;
        text-decoration: none;
        color: rgba(var(--center-channel-color-rgb), 0.56);
        font-size: 12px;
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
            background-color: rgba(var(--center-channel-color-rgb), 0.08);
            color: rgba(var(--center-channel-color-rgb), 0.72);
        }

        &:active {
            background-color: rgba(var(--button-bg-rgb), 0.08);
            color: v(button-bg);
        }
    }

    .sidebar-right__body {
        @include display-flex;
        @include flex(1 1 auto);
        @include flex-direction(column);
        background: v(center-channel-bg);
        border-left: 1px solid v(center-channel-color-16);
        height: calc(100% - 56px);

        .loading-screen {
            position: relative;
            height: 40px;
            padding: 0px;

            .loading__content {
                height: 40px;
            }
        }

        .info-card {
            padding: 5px 15px 60px 15px;
        }

        .scrollbar--view {
            .emoji-picker--active & {
                pointer-events: none;
            }
        }
    }

    .sidebar__overlay {
        @include opacity(.1);
        background-color: $yellow;
        height: 100%;
        pointer-events: none;
        position: absolute;
        width: 100%;
        z-index: 5;
    }

    .input-group {
        word-break: break-word;
    }

    .sidebar--right__buttons {
        float: right;
    }

    .sidebar--right__expand {
        margin: 0 4px 0 0;

        i {
            top: 0;
        }

        .icon-arrow-collapse {
            display: none;
        }
    }

    .sidebar--right__title {
        height: 2.4rem;
        @include clearfix;
        display: flex;
        flex: 1 1 auto;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 0 1.6rem;
    }

    .sidebar--right__title__channel {
        border-left: 1px solid v(center-channel-color-16);
        color: rgba(var(--center-channel-color-rgb), 0.56);
        cursor: pointer;
        margin: 0 0 0 8px;
        font-size: 12px;
        font-weight: normal;
        height: 2.4rem;
        line-height: 2.4rem;
        padding: 0 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            border-radius: 4px;
            border-color: transparent;
            background: rgba(var(--center-channel-color-rgb), 0.08);
            color: rgba(var(--center-channel-color-rgb), 0.72);
        }

        &:active {
            color: v(button-bg);
            background: rgba(var(--button-bg-rgb), 0.08);
        }
    }

    .sidebar--right__header {
        @include flex(0 0 56px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(var(--center-channel-color-rgb), 0.04);
        border-bottom: 1px solid v(center-channel-color-08);
        color: inherit;
        overflow: hidden;
        padding: 0 16px 0 0;
        white-space: nowrap;

        .btn-icon {
            font-size: 20px;
        }
    }

    .sidebar--right__loading {
        @include opacity(.7);
        text-align: center;

        .fa {
            margin-right: 5px;
        }
    }

    .sidebar--right__subheader {
        @include single-transition(width, 0.25s, ease-in);
        font-size: 1em;
        width: 100%;
        margin: auto;
        padding-bottom: 10vh;

        &.search__hints {
            margin: 0;
        }

        h4 {
            font-size: 1em;
            margin: 0 0 16px;
        }

        ul {
            @include opacity(.7);
            padding: 0 0 0 30px;
            margin: 0;
        }

        li {
            font-size: .95em;
            padding-bottom: 10px;
        }

        .usage__icon {
            @include opacity(.9);
            margin: 0 3px;
            position: relative;
            top: 3px;
        }

        &.sidebar-expanded {
            width: 52%;
        }
    }

    .suggestion-list__content {
        max-height: 120px;
    }
}

.sidebar-right-container {
    height: calc(100% - 63px);
}

.sidebar-collapse__container {
    display: none;
}

.sidebar-collapse {
    @include single-transition(all, .2s, linear);
    @include translateX(0);
    cursor: pointer;
    height: 48px;
    text-align: center;
    width: 45px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
        position: relative;
        top: 1px;
    }
}
