@charset 'UTF-8';

.sidebar--left {
    display: flex;
    flex-direction: column;
    border-right: $border-gray;
    height: 100%;
    left: 0;
    position: fixed;
    width: 220px;
    z-index: 10;

    .error-bar--fixed & {
        height: calc(100% - 22px);
    }

    &.sidebar--padded {
        padding-top: 44px;
    }

    .sidebar--left__icons {
        border-bottom: 1px solid transparent;
    }

    .sidebar-item {
        .icon {
            display: inline-block;
            margin: 0 7px 0 1px;
            position: relative;
            text-align: left;
            vertical-align: top;
            width: 15px;
        }

        .icon__lock {
            top: 2px;
        }

        .icon__globe {
            top: 1px;
        }

        .icon__archive {
            top: 2px;
        }

        .icon__draft {
            top: 2px;
        }
    }

    .sidebar-item__name {
        display: flex;
        flex: 1;
        padding-right: 10px;
        overflow: hidden;
        vertical-align: top;

        > span {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }

    .sidebar__divider {
        color: $white;
        font-size: .9em;
        height: 20px;
        line-height: 20px;
        margin: 5px 0 6px;
        position: relative;
        z-index: 0;

        &:before {
            background: $light-gray;
            content: '';
            height: 1px;
            position: absolute;
            top: 10px;
            width: 100%;
        }

        .sidebar__divider__text {
            background: $primary-color;
            float: right;
            padding: 0 10px;
            position: relative;
            z-index: 1;
        }
    }

    .sidebar__switcher {
        flex: 0 0 45px;
        bottom: 0;
        display: block;
        padding-bottom: 0;
        width: 100%;

        button {
            background: transparent;
            display: block;
            font-weight: 600;
            height: 45px;
            line-height: 40px;
            padding: 0;
            text-decoration: none;
            width: 100%;

            > span {
                display: inline-block;
                position: relative;
                vertical-align: middle;
                z-index: 5;
            }

            &:hover {
                span {
                    @include opacity(1);
                }
            }
        }

        .switch__shortcut {
            margin-left: 4px;
        }
    }

    .dropdown-menu {
        max-height: 80vh;
        max-width: 270px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .search__form {
        display: none;
        margin: 0;
        padding: 1em 1em 0;
    }

    .badge {
        @include border-radius(100px);
        font-size: 11px;
        height: 16px;
        line-height: 16px;
        min-width: 18px;
        padding: 0 5px;
        position: relative;
    }

    .sidebar--left__list {
        position: relative;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .nav-pills__container {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        position: relative;
        width: 100%;
        padding-bottom: 10px;
    }

    .nav-pills__unread-indicator {
        @include border-radius(50px);
        font-size: 13.5px;
        cursor: pointer;
        left: 15px;
        margin: 0 auto;
        padding: 4px 0 3px;
        position: absolute;
        text-align: center;
        width: 190px;
        z-index: 1;

        .icon {
            margin-left: 5px;
        }
    }

    .nav-pills__unread-indicator-top {
        top: 15px;

        .icon {
            svg {
                @include transform(rotate(180deg));
            }
        }
    }

    .nav-pills__unread-indicator-bottom {
        bottom: 15px;
    }

    .nav {
        &.nav-stacked {
            > li + li {
                margin: 0;
            }
        }

        li {
            > h4 {
                align-items: end;
                display: flex;
                font-size: 1em;
                font-weight: 600;
                margin: 1.5em 0 .7em;
                padding: 0 12px 0 15px;
                text-transform: uppercase;

                span {
                    flex: 1;
                }
            }

            .divider {
                & + .divider {
                    display: none;
                }
            }

            > .nav-more {
                border-radius: 0;
                display: block;
                line-height: 1.5;
                outline: none;
                overflow: hidden;
                padding: 5px 0 5px 15px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .sidebar-item {
                @include single-transition(none);
                align-items: center;
                border-radius: 0;
                display: flex;
                line-height: 1.5;
                outline: none;
                overflow: hidden;
                padding: 5px 5px 5px 15px;
                text-decoration: none;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;

                .status {
                    flex: 0 0 auto;
                }

                .icon {
                    &.icon__archive,
                    &.icon__globe,
                    &.icon__draft,
                    &.icon__lock {
                        @include opacity(.5);
                    }
                }

                &.has-close {
                    &:hover {
                        .btn-close {
                            @include opacity(.8);
                            display: block;
                        }
                    }

                    .btn-close {
                        @include opacity(0);
                        display: none;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 21px;
                        font-weight: 600;
                        position: relative;
                        width: 24px;
                        height: 20px;
                        line-height: 20px;
                        margin-right: 7px;
                        text-align: center;

                        &:hover {
                            @include opacity(1);
                        }
                    }
                }

                &.unread-title {
                    font-weight: 600;
                }

                &.muted {
                    opacity: 0.5;
                }

            }

            &.active {
                .muted {
                    opacity: 1;
                }

                button,a {
                    &:before {
                        background: $black;
                        content: '';
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 3px;
                    }
                }

                .icon {
                    &.icon__archive,
                    &.icon__globe,
                    &.icon__draft,
                    &.icon__lock {
                        @include opacity(.7);
                    }
                }

                button,a,
                button:hover,a:hover,
                button:focus,a:focus {
                    @include alpha-property(background-color, $black, .1);
                    border-radius: 0;
                    font-weight: 400;
                    position: relative;

                    &.unread-title {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .modal-title {
        line-height: 2em;
    }

    .add-channel-btn {
        float: right;
        font-size: 1.9em;
        font-weight: 700;
        line-height: 18px;
        margin: -2px 0 0 0;
        outline: none;
        padding: 0 5px;
        text-decoration: none;

        &:hover {
            color: #666666;
        }
    }

    .status-wrapper {
        height: 36px;
        width: 36px;

        .status {
            bottom: -4px;
            height: 18px;
            right: -5px;
            width: 18px;

            &.status-edit {
                .fa {
                    top: 4px;
                }
            }

            .fa {
                position: relative;
                top: 2px;
            }

            .icon__container {
                &:after {
                    border-radius: 20px;
                    content: '';
                    height: 10px;
                    left: 4px;
                    position: absolute;
                    top: 4px;
                    width: 10px;
                }
            }

            svg {
                height: 13px;
                left: 3px;
                max-height: initial;
                position: relative;
                top: 3px;
                width: 13px;
                z-index: 1;
            }
        }
    }
}

.channel-loading-gif {
    height: 15px;
    margin-top: 2px;
    width: 15px;
}

.join-channel-loading-gif {
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
    width: 25px;
}

/* context menu shown when right-clicking on a channel in the LHS when using the desktop app */
.react-contextmenu--visible {
    background: #f0f0f0;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    padding: 2px 0;
    z-index: 100;
}

.react-contextmenu-item {
    margin: 1px 0;
    padding: 0 22px;

    &:hover {
        background: #489DFE;
        color: $white;
    }

    &:focus,
    span {
        outline: none;
    }
}
