.team-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    width: 65px;
    z-index: 13;

    body.announcement-bar--fixed & {
        height: calc(100% - #{$announcement-bar-height});
    }

    .fa {
        @include single-transition(all, .15s, ease);
        @include opacity(.6);
        color: $white;

        &:hover {
            @include opacity(1);
        }
    }

    .team-sidebar-bottom-plugin {
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        flex: 0 0 auto;
        padding: 16px 0 6px;
    }

    .team-wrapper {
        -webkit-overflow-scrolling: touch;
        background-color: alpha-color($black, .2);
        overflow: hidden;
        height: 100%;
        flex: 1 1 auto;
        position: relative;

        .team-container {
            display: flex;
            justify-content: center;
            margin-bottom: 16px;
            position: relative;
            text-align: center;
            width: 100%;

            &:before {
                @include border-radius(4px);
                content: '';
                transform-origin: center center;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.1s;
                width: 8px;
                height: 32px;
            }

            &:not(.unread) {
                &:before {
                    transform: translateX(-100%) translateY(22%) scaleY(0);
                }
            }

            &.isDragging {
                transition-timing-function: ease-in;
                &:before,
                &:hover::before,
                &.unread:before,
                &.active:before  {
                    transform: translateX(-100%) translateY(22%) scaleY(0);
                }
            }

            &:hover::before {
                transform: translateX(-50%) translateY(22%) scaleY(1);
            }

            &.special {
                &:before {
                    display: none;
                }
            }

            &.active {
                &:before {
                    transform: translateX(-50%) translateY(22%) scaleY(1.25);
                }

                &:hover::before {
                    transform: translateX(-50%) translateY(22%) scaleY(1);
                }
            }

            &.unread {
                &:before {
                    border-radius: 100%;
                    transform: translateX(0px) translateY(22%) scaleX(0.8) scaleY(0.2);
                }

                &:hover::before {
                    border-radius: 8px;
                    transform: translateX(-50%) translateY(22%) scaleY(1);
                }
            }

            a {
                display: block;
                height: 100%;
                text-decoration: none;
            }

            &.active {
                .TeamIcon__content {
                    @include opacity(1);
                }
            }

            .TeamIcon__content {
                @include opacity(.5);
                &:hover {
                    @include opacity(.8);

                    &.no-hover {
                        @include opacity(.5);
                    }
                }
            }

            button {
                border: none;
                padding: 0;
                text-decoration: none;
            }


            a.team-disabled {
                @include opacity(.5);
                cursor: not-allowed;
            }

            .team-btn {
                color: var(--sidebar-header-text-color);
            }

            .order-indicator {
                position: absolute;
                width: 16px;
                height: 16px;
                left: 12px;
                top: 28px;
                background: #000000;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                text-align: center;
                color: #FFFFFF;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
            }
        }

        .scrollbar--view {
            padding-top: 15px;
        }

        .team-container a:hover {
            text-decoration: none;
        }
    }
}

.multi-teams {
    .sidebar--left {
        left: 65px;
    }

    .app__content {
        margin-left: 285px;
    }
    .team-sidebar {
        .team-wrapper {
            .team-container {
            }
        }
    }
}
