.team-btn {
    @include border-radius(8px);
    font-weight: bold;
    letter-spacing: -.5px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    vertical-align: top;

    &.team-btn__add {
        font-size: 25px;
        line-height: 41px;
        vertical-align: middle;

        .TeamIcon {
            background-color: transparent;
            transform-origin: center bottom;
            border-color: transparent;
            transition: transform 0.1s, background-color 0.2s;

            .TeamIcon__initials {
                transition: transform 0.2s;
            }

            &:hover {
                border-color: transparent;
                box-shadow: none;
                background-color: rgba(255, 255, 255, 0.08);
            }

            &:active {
                transform: scale(0.9);
                background-color: rgba(255, 255, 255, 0.16);

                .TeamIcon__initials {
                    transform: scale(1.1);
                }
            }

            &:before {
                display: none;
            }

            .icon-plus {
                font-size: 22px;
            }
        }
    }
}
