.team-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    width: 65px;
    z-index: 17;

    body.announcement-bar--fixed & {
        height: calc(100% - #{$announcement-bar-height});
    }

    .fa {
        @include single-transition(all, 0.15s, ease);
        @include opacity(0.6);
        color: var(--sidebar-header-text-color);

        &:hover {
            @include opacity(1);
        }
    }

    .team-sidebar-bottom-plugin {
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        flex: 0 0 auto;
        padding: 16px 0 6px;
    }

    .team-wrapper {
        -webkit-overflow-scrolling: touch;
        background-color: var(--sidebar-teambar-bg);
        overflow: hidden;
        height: 100%;
        flex: 1 1 auto;
        position: relative;

        .draggable-team-container {
            margin-bottom: 12px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }

        .team-container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            &.unread {
                .unread-badge {
                    position: absolute;
                    top: -2px;
                    right: -3px;
                    border-radius: 100%;
                    width: 8px;
                    height: 8px;
                    box-shadow: 0 0 0 3px var(--sidebar-teambar-bg);
                    background: white;
                    z-index: 1;
                }
            }

            a {
                display: block;
                text-decoration: none;
                transition: transform 0.1s;
                transform: translate(0, 0);
                transform-origin: center center;

                &:active {
                    transform: translate(0, 2px);
                }
            }

            &.active {
                .TeamIcon__content {
                    @include opacity(1);
                }
            }

            button {
                border: none;
                padding: 0;
                text-decoration: none;
            }

            a.team-disabled {
                @include opacity(0.5);
                cursor: not-allowed;
            }

            .team-btn {
                color: var(--sidebar-header-text-color);

                .badge {
                    border-color: rgba(var(--sidebar-text-rgb), 0.5);
                }
            }

            .order-indicator {
                position: absolute;
                width: 16px;
                height: 16px;
                left: 12px;
                top: 28px;
                background: #000000;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                text-align: center;
                color: #ffffff;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
            }

            &.isDragging {
                cursor: grab;

                .TeamIcon {
                    background-color: rgba(255, 255, 255, 0.32);

                    .TeamIcon__image {
                        box-shadow: inset 0 0 0 3px var(--sidebar-teambar-bg);
                    }
                }
            }
        }

        .scrollbar--view {
            padding-top: 15px;
        }

        .team-container a:hover {
            text-decoration: none;
        }
    }
}

.multi-teams {
    .sidebar--left {
        left: 65px;
    }

    .app__content {
        margin-left: 285px;
    }
}
