$grey: #F5F5F5;
$white: #FFF;

.DataGrid {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 1rem 2rem 2rem 2rem;
    background: $grey;
    
    .dg-header {
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        font-size: 1.1em;
        font-weight: bold;
        padding: .5em 0;
    }

    .dg-row, .dg-header {
        display: flex;
        flex-direction: row;
        min-width: 200px;
        height: auto;

        .dg-cell {
            flex-basis: 100%;
        }
    }

    .dg-row {
        &:nth-child(odd) {
            background: $white;
        }
        .dg-cell {
            padding: 10px;
        }
    }
}