@import 'utils/variables';

.SystemUserDetail__field-label {
    font-size: 12px;
    display: block;
    font-weight: bold;
    margin-top: 12px;
}

.SystemUserDetail__input {
    display: inline-block;
    height: 40px;
    max-width: 320px;
}

.SystemUserDetail__field-text {
    vertical-align: middle;
}

.SystemUserDetail__field-icon {
    width: 20px;
    height: 20px;
    fill: $dark-gray;
    margin: 0 6px 0 0;
    display: inline-block;
    vertical-align: middle;
}
