.dropdown-menu__dotmenu {
    .Menu__content {
        width: 264px;
    }

    .MenuItem > button {
        .MenuItem__primary-text,
        .grid {
            display: grid;
            align-items: center;
            grid-template-columns: auto 1fr auto auto auto;

            .title-with-new-badge {
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
    }

    #postReminderSubMenu-header {
        font-weight: bold;
        pointer-events: none;
    }

    #postReminder-tomorrow .postReminder-tomorrow_timestamp {
        float: right;
        opacity: 0.7;
    }

    .postReminderSubMenuRHS {
        left: 0;
    }
}
