.MigrateWorkspace {
    .admin-console__migrate-header {
        justify-content: flex-start;

        .BetaBadge {
            background: var(--sys-button-bg);
            color: #FFF;
            text-transform: uppercase;
            padding: 2px 4px;
            border-radius: 3px;

            span {
                font-weight: 600;
                font-size: 10px;
                letter-spacing: 0.02em;
                line-height: 16px;
            }
        }
    }

    .MigrateWorkspace__topWrapper {
        display: flex;
        .ImportCard {
            padding: 28px 32px;
            width: 568px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-family: Open Sans;
            font-style: normal;

            > span:nth-of-type(1) {
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;
                /* identical to box height */
                text-align: center;
                letter-spacing: -0.5px;
                margin-top: 20px;
            }

            > span:nth-of-type(2) {
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: rgba(var(--sys-center-channel-color-rgb), 0.72);
                /* identical to box height */
                text-align: center;
                margin-top: 20px;
            }

            button {
                background-color: var(--sys-button-bg);
                padding: 12px 20px;
                border-radius: 4px;
                width: fit-content;
                display: flex;
                color: var(--sys-button-color);
                align-items: center;
                border: none;
                margin: 20px auto;

                span {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }
        .GetHelpCard {
            border-radius: 4px;
            width: 332px;
            margin-left: 20px;
            padding: 28px 32px;
            display: flex;
            flex-direction: column;
            font-family: Open Sans;
            font-style: normal;

            > span:nth-of-type(1) {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }

            > span:nth-of-type(2) {
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                margin-top: 20px;
                color: rgba(var(--sys-center-channel-color-rgb), 0.72);
            }

            a {
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: var(--sys-button-bg);
                margin-top: 20px;
            }
        }
    }

    .ImportListCard {
        width: 920px;
        height: 350px;
        margin-top: 20px;
        padding: 32px 54px 18px 32px;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        overflow-y: auto;
        header {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            height: 60px;
            border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);

            span:nth-of-type(1) {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }

            span:nth-of-type(2) {
                font-size: 14px;
                line-height: 20px;
            }
        }

        .admin-console__migrate-importStatus {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
        }

        .completed {
            color: var(--sys-online-indicator);
        }

        .failed {
            color: var(--sys-error-text);
        }

        .in_progress {
            color: var(--sys-mention-color);
            .icon {
                
            }
        }
    }

    .MigrateWorkspace__table {
        width: 100%;
    
        th, td {
            padding: 8px 12px;
        }
    }
    
    .MigrateWorkspace__table-header {
        background: rgba(var(--sys-center-channel-color-rgb), 0.08);
        line-height: 16px;
        font-weight: 600;
        border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.16);
    
        &:last-child {
            border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
        }
    }
    
    .MigrateWorkspace__table-row {
        border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
        height: 50px;

        a.download_log {
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
        }
    }
    
    .MigrateWorkspace__table-bottomDesc {
        margin-top: 4px;
        color: rgba(var(--sys-center-channel-color-rgb), 0.56);
        font-size: 12px;
        line-height: 16px;
    }

    .MigrateWorkspace__table-importType {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    
    .MigrateWorkspace__table-headerTotal {
        text-align: right;
    }
    
}