.label {
    padding: 0.2em 0.5em 0.3em;
    border-radius: 4px;
    font-size: 10px;

    &-danger {
        background-color: var(--dnd-indicator);
    }

    &-success {
        background-color: var(--online-indicator);
    }

    &-warning {
        background-color: var(--away-indicator);
    }

    &-info {
        background-color: var(--sidebar-text-active-border);
    }

    &-default {
        background-color: var(--center-channel-color);
        color: var(--center-channel-bg);
    }

    &-primary {
        background-color: var(--button-bg);
    }
}
