.People__LHS {
    width: 240px;
    height: 100%;
    align-items: center;
    padding: 0;
    border-right: 1px solid rgba(var(--center-channel-color-rgb), 0.12);
    background-color: var(--sidebar-bg);

    .Link {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        padding: 6px 12px;
        color: rgba(var(--sidebar-text-rgb), 0.72);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: rgba(var(--sidebar-text-rgb), 0.16);
            color: var(--sidebar-text);
            text-decoration: none;
        }

        // Active indicator
        &.active::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background: var(--sidebar-text-active-border);
            border-radius: 0 2px 2px 0;
            content: "";
        }
    }
}
