.error {
    color: var(--sys-error-text);
}

.info {
    color: var(--sys-sidebar-text-active-border);
}

.warning {
    color: var(--sys-away-indicator);
}

.ok {
    color: var(--sys-online-indicator);
}

.WorkspaceOptimizationDashboard {
    button[class*=' StyledChip'],
    button[class^='StyledChip'] {
        width: 120px;
        height: 24px;
        justify-content: space-around;
        border: none;
        box-shadow: none;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        line-height: 16px;
        text-align: center;

        &.error {
            background-color: rgba(var(--sys-error-text-color-rgb), 0.3);

            @extend .error;
        }

        &.info {
            background-color: rgba(var(--sys-sidebar-text-active-border-rgb), 0.3);

            @extend .info;
        }

        &.warning {
            background-color: rgba(var(--sys-away-indicator-rgb), 0.3);

            @extend .warning;
        }

        &.ok {
            background-color: rgba(var(--sys-online-indicator-rgb), 0.3);

            @extend .ok;
        }
    }

    div.OverallScore {
        display: flex;
        width: 872px;
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid rgba(var(--center-channel-text-rgb) 0.08);
        margin-left: 25px;
        background: var(--center-channel-bg);
        border-radius: 4px;
        box-shadow: var(--elevation-1);

        &__scoreEllipseSvg {
            .CircularChart {
                .circular-chart {
                    display: block;
                    margin: 5px auto;

                    &.warning .circle {
                        stroke: var(--sys-away-indicator);
                    }

                    &.success .circle {
                        stroke: var(--sys-online-indicator);
                    }

                    &.info .circle {
                        stroke: var(--sys-sidebar-text-active-border);
                    }

                    &.error .circle {
                        stroke: var(--sys-error-text);
                    }

                    .circle-bg {
                        fill: none;
                        stroke: var(--center-channel-bg);
                        stroke-width: 4.2;
                    }

                    .circle {
                        animation: progress 1s ease-out forwards;
                        fill: none;
                        stroke-width: 3.2;
                    }
                }

                @keyframes progress {
                    0% {
                        stroke-dasharray: 0 100;
                    }
                }

                .percentage {
                    fill: var(--center-channel-color);
                    font-family: sans-serif;
                    font-size: 0.5em;
                    text-anchor: middle;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            margin-left: 24px;

            &__title {
                margin-bottom: 8px;
                color: var(--sys-denim-center-channel-text);
                font-size: 22px;
                font-weight: 700;
                line-height: 28px;
            }

            &__description {
                margin-bottom: 24px;
                color: var(--sys-denim-center-channel-text);
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                line-height: 20px;
            }

            &__chips {
                display: flex;
                flex-direction: row;
            }
        }
    }

    ul.Accordion {
        width: 872px;
        margin-left: 25px;

        li.accordion-item {
            border: 1px solid rgba(63, 67, 80, 0.08) !important;
            margin-top: 10px;
            background-color: var(--sys-center-channel-bg);

            .accordion-item-header {
                background-color: var(--sys-center-channel-bg);

                &__icon {
                    z-index: 1;
                    display: flex;
                    width: 44px;
                    height: 44px;
                    justify-content: center;
                    background-color: rgba(63, 67, 80, 0.16);
                    border-radius: 50%;

                    >svg {
                        z-index: 2;
                        align-self: center;
                    }
                }

                &__body {
                    margin-left: 10px;

                    &__title {
                        margin-bottom: 5px;
                        color: #1c58d9;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 14px;
                    }

                    &__description {
                        color: #3d3c40;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: normal;
                        line-height: 20px;
                    }
                }

                &__extraContent {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    margin-left: auto;
                }

                &__chevron {
                    margin-left: 0 !important;
                }
            }

            .accordion-item-container {
                &__content {
                    border-top: 1px solid rgba(63, 67, 80, 0.06);
                    background-color: rgb(255, 255, 255);
                }
            }
        }
    }
}
