.gfycat-search {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 7px 1px 7px;

  .search-input {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 29px;
    padding: 0 27px;
    font-size: 1.3rem;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    box-shadow: none;
    z-index: 1;
    background-color: transparent;
  }

  // Hide IE input clear button
  .search-input::-ms-clear {
    display: none;
  }

  .search-input-bg {
    position: absolute;
    width: calc(100% - 2.4rem);
    height: 3.3rem;
    border-radius: .6rem;
  }

  .placeholder {
    position: absolute;
    top: 14px;
    left: 34px;
    font-size: 13px;
  }

  .ic {
    position: absolute;
    top: calc(50% - .3rem);
  }

  .ic-clear-search, .ic-search {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
  }

  .ic-clear-search {
    right: 12px;
    top: 12px;
    width: 2rem;
    height: 2rem;
  }

  .ic-search {
    top: 11px;
    left: 11px;
    width: 2.4rem;
    height: 2.4rem;
  }

  .submit-button {
    display: none;
  }
}
