.EnterpriseVersionsRightPannel {
    font-family: Metropolis;

    .svg-image {
        text-align: center;

        svg {
            margin: 0 auto;
        }
    }

    .upgrade-title {
        margin: 10px 0;
        color: #3f4350;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .advantages-list {
        margin: 7px 0;

        .item {
            margin: 3px 0;

            i {
                margin-right: 5px;
            }
        }
    }

    button {
        width: 100%;
        margin: 5px auto;
        border-radius: 4px;
    }

    .purchase_buttons {
        margin-top: 20px;

        button {
            max-height: 48px !important;
            padding: 6px 12px !important;
            margin: 0 5px !important;
        }
    }

    .upgrade-error {
        margin-top: 10px;
    }
}

.EnterpriseVersionsLeftPanel {
    font-family: Metropolis;

    .title {
        color: #3f4350;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }

    .subtitle {
        margin-top: 15px;
    }

    .license-notices {
        text-align: justify;
    }

    .Badge {
        position: absolute;
        display: inline-block;
        align-items: center;
        margin: 0 0 0 4px;
        margin-top: 2px;

        .free-trial-license {
            padding: 2px 5px;
            margin-left: 10px;
            background: var(--denim-status-online);
            border-radius: 4px;
            color: #fff;
            text-transform: uppercase;
        }
    }

    .licenseInformation {
        padding: 24px;
        border: 1px solid rgba(63, 67, 80, 0.16);
        margin: 15px 0;

        .license-details-top {
            display: flex;
            justify-content: flex-start;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;

            span.title {
                display: inline-block;
                color: #3f4350;
            }

            span.expiration-days {
                margin-left: auto;
                color: var(--denim-status-online);
                font-size: 12px;
            }
        }

        .licenseElements {
            .item-element {
                margin: 15px 0;
                font-size: 14px;
                line-height: 20px;

                span.legend {
                    display: inline-block;
                    min-width: 150px;
                    color: rgba(var(--secondary-blue-rgb), 0.4);
                    font-weight: 700;
                }

                span.value {
                    margin-left: 10px;
                    color: var(--secondary-blue);
                }
            }
        }

        #remove-button {
            padding: 0;
            border: none !important;
            margin: 10px 0;
            background: none !important;
            color: var(--error-text);
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
