@import 'compass/utilities';
@import 'compass/css3';
@import 'utils/variables';

.FileSearchResultItem {
    @include single-transition(box-shadow, .15s, ease);
    @include border-radius(4px);
    display: flex;
    flex-direction: row;
    padding: 8px;
    color: var(--center-channel-color);
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    align-items: center;
    margin: 0 14px 8px 14px;
    cursor: pointer;
    max-width: 600px;
    .Menu__content {
        background-color: var(--center-channel-bg);
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    }
    .Badge {
        margin: 0 4px 0 0;
        .file-search-channel-name {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &:hover {
        @include box-shadow(0 2px 3px 0 rgba($black, 0.1), 0 2px 3px 0 rgba($black, 0.1));
        .action-icon {
            opacity: 1;
            display: flex;
        }
        .MenuWrapper {
            opacity: 1;
            display: block;
        }
    }
    .file-icon {
        min-width: 48px;
        width: 48px;
        height: 48px;
    }
    .fileData {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
        padding: 5px 8px;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        .fileDataName {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .fileMetadata {
            font-weight: 400;
            opacity: 0.56;
            display: flex;
            flex-direction: row;
            >span {
                margin-right: 8px;
            }
        }
    }
    .action-icon {
        @include single-transition(opacity, .15s, ease);
        @include border-radius(4px)
        display: flex;
        align-items: center;
        height: 32px;
        width: 32px;
        min-width: 32px;
        background-color: var(--center-channel-bg);
        color: rgba(var(--center-channel-color-rgb), 0.72);
        fill: rgba(var(--center-channel-color-rgb), 0.72);
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        cursor: pointer;
        text-decoration: none;
        opacity: 0;
        svg {
            display: flex
        }
        &:hover {
            background-color: rgba(var(--center-channel-color-rgb), 0.08);
        }
    }
    .MenuWrapper {
        opacity: 0;
        display: flex;
    }
}
