.MessagesOrFilesSelector {
    display: flex;
    padding: 7px;
    border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    align-items: center;
    justify-content: space-between;
    .buttons-container {
        margin: 7px 0;
    }
    .tab {
        text-decoration: none;
        padding: 4px 12px;
        margin-right: 4px;
        color: rgba(var(--center-channel-color-rgb), 0.56);
        background-color: rgba(var(--center-channel-bg-rgb), 1);
        font-weight: 600;
        cursor: pointer;
        border: 0px;
        border-radius: 4px;
        &.active {
            background-color: rgba(var(--button-bg-rgb), 0.08);
            border-radius: 4px;
            color: var(--button-bg);
            .counter {
                background-color: rgba(var(--button-bg-rgb), 0.08);
            }
        }
        .counter {
            background-color: rgba(var(--center-channel-color-rgb), 0.08);
            border-radius: 8px;
            padding: 1px 6px;
            margin-left: 4px;
            font-size: 10px;
            font-weight: 700;
            position: relative;
            bottom: 1px;
        }
    }
}
