$app-bar-icon-size: 24px;
$app-bar-width: 48px;
$channel-view-padding: 63px;
// We don't have control over the class names on these components, so we cast a net on the known variants.
$app-bar-plugin-component: '.fa, i, svg';

.app-bar {
    // Do not show App Bar if on mobile
    @media (max-width: 768px) {
        display: none;
    }

    padding-top: 16px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: $app-bar-width;
    text-align: center;
    border-left: solid 1px rgba(var(--center-channel-color-rgb),.12);
    background-color: rgba(var(--center-channel-color-rgb),.04);

    .app-bar__icon {
        border-left:none;
        width: 100%;
        position: relative;
        margin-bottom: 16px;
        cursor: pointer;

        &--active {

            &::before {
                width: 3px;
                height: $app-bar-icon-size;
                background-color: var(--sidebar-text-active-border);
                content: '';
                position: absolute;
                left: 0px;
                top: 0px;
                border-radius: 0 2px 2px 0;
            }

            .app-bar__icon-inner, #{$app-bar-plugin-component} {
                outline: solid 2px var(--sidebar-text-active-border);

                &:hover {
                    outline: solid 2px rgba(var(--sidebar-text-active-border-rgb),.92) !important;
                }
            }
        }


        .app-bar__icon-inner, #{$app-bar-plugin-component} {
            width: $app-bar-icon-size;
            height: $app-bar-icon-size;
            background-color: white;
            border-radius: 50%;
            line-height: 1;
            padding: 2px;
            display: block;
            margin: 0 auto;
            overflow: hidden;

            &:hover {
                outline: solid 2px rgba(var(--center-channel-color-rgb),.16);
            }

            img {
                border-radius: 50%;
            }
        }

        #{$app-bar-plugin-component} {
            font-size: 14px;
            color: #3F4350;
            line-height: 20px;
            vertical-align: middle;

            &.CompassIcon {
                font-size: 20px;
                &::before {
                    margin: 0 0 0 0.5px;
                }
            }
        }

    }

    .app-bar__icon.channel-header__icon--active {
        background: rgba(var(--button-bg-rgb), 0.08);
        color: var(--button-bg);
        fill: var(--button-bg);
    }
}

.app-bar-enabled .sidebar--right {
    @media screen and (min-width: 769px) {
        right: $app-bar-width;
    }
}

.channel-view-inner.app-bar-enabled {
    @media screen and (min-width: 769px) {
        padding-right: $channel-view-padding;
    }
}
