.app-bar {
    // Do not show App Bar if on mobile
    @media (max-width: 768px) {
        display: none;
    }

    padding-top: 16px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    text-align: center;
    border-left: solid 1px rgba(var(--center-channel-color-rgb),.12);
    background-color: rgba(var(--center-channel-color-rgb),.04);

    // For when there are 15+ Apps installed
    overflow-y: scroll;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        display: none;
    }

    .active-rhs-plugin::before {
        width: 3px;
        height: 24px;
        background-color: var(--sidebar-text-active-border);
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 0 2px 2px 0;
    }

    .fa, i {
        font-size: 30px;
        display: block;
    }

    .app-bar-icon {
        border-left:none;
        width: 100%;
        cursor: pointer;
        position: relative;
    }

    .app-bar-icon, .app-bar-binding {
        margin-bottom: 20px;
        cursor: pointer;
    }

    .app-bar-binding {
        margin-top: 5px;
    }

    img {
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }

    .app-bar-icon.channel-header__icon--active {
        background: rgba(var(--button-bg-rgb), 0.08);
        color: var(--button-bg);
        fill: var(--button-bg);
    }
}

.app-bar-enabled .sidebar--right {
    @media screen and (min-width: 769px) {
        right: 60px;
    }
}

.channel-view-inner.app-bar-enabled {
    @media screen and (min-width: 769px) {
        padding-right: 80px;
    }
}
