// this style is defined outside of the block scope because is intended to affect the tippy element
.new-channel-with-board-tip {
    background: var(--button-bg) !important;
    color: var(--sidebar-text) !important;

    .tippy-arrow {
        border-color: var(--button-bg) !important;
        color: var(--button-bg) !important;

        &::before {
            border-width: 0 !important;
            border-color: var(--button-bg) !important;
            border-left-color: initial;
            background-color: var(--button-bg) !important;
            transform-origin: unset !important;
        }
    }

    .tour-tip__header {
        font-weight: 600;
    }

    .icon-close {
        color: var(--sidebar-text) !important;
    }
}
