.DowngradeFeedback {
    &__Error {
        margin-bottom: 10px;
        color: var(--error-text);
    }

    &__FreeFormText {
        margin-bottom: 10px;
        font-size: 15px;
        resize: 'none';
    }

    &__Submit {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}
