@import 'utils/variables';

.InvitationModalGuestsStep {
    width: 100%;
    max-width: 720px;

    h5 {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 600;
    }

    input {
        width: 100%;
        padding: 12px 14px;
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.64);
        background: var(--center-channel-bg);
        border-radius: 4px;
    }

    textarea {
        width: 100%;
        height: 90px;
        padding: 12px;
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.64);
        margin-top: 4px;
        background: var(--center-channel-bg);
        border-radius: 4px;

        &:focus {
            padding: 11px;
            border: 2px solid var(--button-bg);
        }
    }

    .help-text {
        margin-top: 8px;
        color: rgba(var(--center-channel-color-rgb), 0.64);
    }

    .add-people,
    .add-channels,
    .custom-message {
        width: 100%;
        max-width: 720px;
        margin-bottom: 28px;
    }

    .invite-guests {
        margin-bottom: 28px;
        text-align: right;

        button {
            width: 180px;
            height: 48px;
            padding: 13px 26px;
            background: var(--button-bg);
            border-radius: 4px;
            color: var(--button-color);
            font-size: 16px;
            font-weight: 600;

            &:focus,
            &:active,
            &:focus:active {
                border-color: transparent;
                outline: none;
            }

            &.btn-inactive {
                background: rgba(var(--center-channel-color-rgb), 0.08);
                color: rgba(var(--center-channel-color-rgb), 0.56);
            }
        }
    }

    .custom-message {
        position: relative;

        a {
            color: rgba(var(--button-bg-rgb), 0.88);
            font-weight: 600;
        }

        span {
            font-weight: 600;
        }

        svg {
            &:hover {
                fill: rgba(var(--center-channel-color-rgb), 0.8);
            }

            position: absolute;
            top: 3px;
            right: 0;
            width: 19.2px;
            height: 19.2px;
            cursor: pointer;
            fill: rgba(var(--center-channel-color-rgb), 0.64);
        }

        .help-text {
            span {
                font-weight: normal;
            }
        }
    }
}
