@import 'utils/variables';
@import 'utils/mixins';

$transition_time: 300ms;

@mixin absolutely-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

@mixin simple-in-and-out-after($classPrefix) {
    .#{$classPrefix}--enter-from-after {
        &-enter {
            transform: translateY(-100vh);
        }

        &-enter-active {
            transform: translateY(0);
            transition: transform $transition_time linear;
        }

        &-enter-done {
            transform: translateY(0);
        }
    }

    .#{$classPrefix}--exit-to-after {
        &-exit {
            transform: translateY(0);
        }

        &-exit-active {
            transform: translateY(-100vh);
            transition: transform $transition_time linear;
        }

        &-exit-done {
            transform: translateY(-100vh);
        }
    }
}

@mixin simple-in-and-out-before($classPrefix) {
    .#{$classPrefix}--enter-from-before {
        &-enter {
            transform: translateY(100vh);
        }

        &-enter-active {
            transform: translateY(0);
            transition: transform $transition_time linear;
        }

        &-enter-done {
            transform: translateY(0);
        }
    }

    .#{$classPrefix}--exit-to-before {
        &-exit {
            transform: translateY(0);
        }

        &-exit-active {
            transform: translateY(100vh);
            transition: transform $transition_time linear;
        }

        &-exit-done {
            transform: translateY(100vh);
        }
    }
}

@mixin simple-in-and-out($classPrefix) {
    @include simple-in-and-out-before($classPrefix);
    @include simple-in-and-out-after($classPrefix);
}

.FullscreenWizard {
    color: green !important;

    &-enter {
        opacity: 0;
    }

    &-enter-active {
        opacity: 1;
        transition: opacity 200ms;
    }

    &-exit {
        opacity: 1;
    }

    &-exit-active {
        opacity: 0;
        transition: opacity 200ms;
    }


    &__logo {
        position: fixed;
        z-index: 1;
        top: 10px;
        right: 10px;
    }
}


.fullscreen-wizard-container {
    display: flex;
    flex-direction: row;
    background: url('images/admin-onboarding-background.png');

    .tertiary-button {
        @include tertiary-button;
    }
}

.fullscreen-page-container {
    position: relative;
    width: calc(100vw - 120px);
}
