@import 'utils/variables';
@import 'utils/mixins';
@import './fullscreen_wizard';

.Url-body {
    @include absolutely-fullscreen;

    display: flex;
}

.Url-form-wrapper {
    padding-top: 116px;
}

.Url-left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Url {
    &__input {
        margin: 12px 24px 0;
    }
}

@include simple-in-and-out-before("Url");
