.ActivityAndInsights {
    background-color: rgba(var(--center-channel-color-rgb), 0.04);

    .insights-body {
        padding: 24px;

        .top-channel-container {
            display: flex;

            .top-channel-line-chart {
                flex: 0.67;
                margin-right: 16px;
            }

            .top-channel-list {
                flex: 0.33;
                margin-left: 16px;

                .top-channel-row {
                    display: flex;
                    align-items: center;
                    margin: 12px 0;

                    .skeleton-loader {
                        &.title {
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
        .top-reaction-container {
            display: flex;
            align-items: center;
            margin: 0 18px;

            .bar-chart-entry {
                display: flex;
                flex: .2;
                align-items: center;
                flex-direction: column;

                .skeleton-loader {
                    &.bar-chart {
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}
