
.ActivityAndInsights {
    --border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);

    background-color: rgba(var(--center-channel-color), 0.04);

    .ActivityAndInsights___header {
        border-bottom: var(--border);
        background-color: var(--center-channel-bg);
        grid-area: header;

        h2 {
            line-height: 24px;
        }
    }
}
