@import 'compass/utilities';
@import 'compass/css3';

.StatusModal {
    width: 600px;

    .modal {
        &-dialog {
            margin: auto;
        }

        &-content {
            width: 100%;
            padding: 28px 0 24px 24px;
        }

        &-body {
            overflow: visible;
        }

        &-footer {
            margin-top: 20px;
            padding: 0 24px;
        }
    }

    .GenericModal {
        &__header {
            padding: 0 0 20px;
        }

        &__body {
            padding: 0;
        }
    }

    .form-control {
        font-size: 14px;
        height: 4.8rem !important;
        padding: 0 5.2rem;
        font-weight: 600;
        border-radius: 4px;

        &:focus {
            box-shadow: inset 0 0 0 1px var(--button-bg);
            border-color: var(--button-bg);
        }
    }

    & &__input {
        position: relative;
        width: calc(100% - 24px);
    }

    &__emoji-container {
        position: absolute;
        margin-right: 2px;
        top: 6px;
        left: 10px;
    }

    &.GenericModal &__clear-container {
        position: absolute;
        top: 17px;
        right: 20px;
        color: rgba(var(--center-channel-color-rgb), 0.72);
        opacity: 1;
    }

    &__emoji-button {
        background: transparent;
        border: none;
        @include border-radius(4px);
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: rgba(var(--center-channel-color-rgb), 0.56);
        color: rgba(var(--center-channel-color-rgb), 0.56);

        &:hover {
            background: rgba(var(--center-channel-color-rgb), 0.08);
            fill: rgba(var(--center-channel-color-rgb), 0.72);
            color: rgba(var(--center-channel-color-rgb), 0.72);
        }

        &:active,
        &--active,
        &--active:hover {
            background: rgba(var(--button-bg-rgb), 0.08);
            fill: var(--button-bg);
            color: var(--button-bg);
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__footer {
        text-align: right;
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn {
            font-size: 14px;
            font-weight: 600;
            padding: 0 2rem;
            height: 4rem;
            border-radius: 4px;
        }
    }
}
.status-dropdown-menu,
.StatusModal__input {
    .input-clear-x {
        color: rgba(var(--center-channel-color-rgb), 0.56);
    
        .icon {
            font-size: 20px;
        }
    }
}

.ic-clear-search, .ic-search {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.ic-clear-search {
    right: 12px;
    top: 12px;
    width: 2rem;
    height: 2rem;
}

.statusSuggestion {
    height: 232px;
    overflow: auto;
    margin-top: 8px;

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        box-shadow: none;
        border: none;
        overflow: auto;
    }

    &__row {
        display: flex;
        font-size: inherit;
        min-height: 40px;
        width: 97%;
        align-items: center;
        padding: 0 18px;
        color: var(--center-channel-color);

        &:hover {
            background-color: rgba(var(--center-channel-color-rgb), 0.08);
            border-radius: 4px;
        }

        &:active {
            background-color: rgba(var(--button-bg-rgb), 0.08);
            color: v(button-bg);
        }
    }

    &__icon {
        margin-right: 15px;
        margin-bottom: 1px;
    }

    &__title {
        display: flex;
        font-weight: 600;
        height: 24px;
        margin-top: 8px;
        color: rgba(var(--center-channel-color-rgb), 0.55);
    }

    &__text {
        font-weight: 600;
        overflow: hidden;
        height: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}


.suggestion-clear {
    margin-left: auto;
    margin-top: 3px;
}

.custom-status {
    display: flex;
}

#custom-status-tooltip {
    p {
        margin: 0;
    }
}
