{
    presets: [
        ['@babel/preset-env', {
            targets: {
                chrome: 66,
                firefox: 60,
                edge: 42,
                ie: 11,
                safari: 12,
            },
            modules: false,
            corejs: 2,
            debug: false,
            useBuiltIns: 'usage',
            shippedProposals: true,
        }],
        ['@babel/preset-react', {
            useBuiltIns: true,
        }],
    ],
    plugins: [
        '@babel/plugin-proposal-class-properties',
        '@babel/plugin-syntax-dynamic-import',
        'babel-plugin-styled-components',
    ],
    env: {
        test: {
            presets: [
                ['@babel/preset-env', {
                    targets: {
                        chrome: 66,
                        firefox: 60,
                        edge: 42,
                        ie: 11,
                        safari: 12,
                    },
                    debug: false,
                    useBuiltIns: 'usage',
                    corejs: 2,
                    shippedProposals: true,
                }],
                ['@babel/preset-react', {
                    useBuiltIns: true,
                }],
            ],
            plugins: [
                '@babel/plugin-proposal-class-properties',
                '@babel/plugin-syntax-dynamic-import',
                'babel-plugin-styled-components',
            ],
        }
    }
}
