@charset 'UTF-8';

#createNewChannel {
  background-color: var(--center-channel-bg);
  border: 1px solid var(--denim-button-bg);
  border-radius: 4px;
  color: var(--denim-button-bg);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.GenericModal {
  .col-sm-12, .more-modal__row {
    padding: 0;
  }

  #searchChannelsTextbox {
    height: 48px;
    border: 1px solid rgba(var(--center-channel-text-rgb), 0.16)
  }
}