.Card {
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: var(--center-channel-bg);
    transition: box-shadow 0.3s ease-in-out;

    & + .Card {
        margin-top: 16px;
    }

    &.expanded {
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    }

    &:not(.expanded):hover {
        border-color: rgba(var(--center-channel-color-rgb), 0.16);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
        transition-duration: 0.15s;
    }
    &.console {
        background-color: var(--sys-center-channel-bg);
        border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
        border-radius: 2px;
        color: var(--sys-center-channel-color);
        width: 100%;
        margin-bottom: 20px;

        .Card__header {
            padding: 28px 32px 24px 32px;
            border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
            display: flex;
            align-items: center;

            .text-top {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }
            .text-bottom {
                font-size: 14px;
                line-height: 20px;
                margin-right: 24px;
            }
            .content-button {
                margin-left: auto;
                padding: 10px 16px;
                font-size: 12px;
                height: 32px;
                font-weight: 600;
                line-height: 9.5px;
                border: none;
                border-radius: 4px;
                white-space: nowrap;
                &.primary {
                    background: var(--button-bg);
                    color: var(--button-color);
                }
            }
            .Card__hr {
                display: none;
            }
        }
        .Card__body {
            overflow: visible;
            &.expanding {
                transition: none;
            }
            &.expanded {
                margin: 28px 32px;
            }
        }
    }
    
}

.Card__header {
    hr.Card__hr {
        margin: 0 12px;
        border-color: rgba(var(--center-channel-color-rgb), 0.08);
    }
}

.Card__body {
    overflow: hidden;
    height: 0;
    margin: 0 12px;

    &.expanding {
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-property: height, margin;
    }

    &.expanded {
        margin: 12px;
    }

    &.expanded:not(.expanding) {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .Card + .Card {
        margin-top: 12px;
    }
}
