.Content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.flexcontainer{
    display: flex;
    min-height: 120px;
}

div.alert-option{
    flex: 1;
}

div.toggle-monthly-yearly-container{
    display: grid;
    width: 161px;
}

div.toggle-monthly-yearly, div.toggle-border {
    grid-column: 1;
    grid-row: 1;
}

div.toggle-monthly-yearly {
    width: 161px;
    height: 32px;
    margin: 44px auto;
}

div.toggle-border {
    width: 80px;
    height: 32px;
    border: 1px solid var(--denim-button-bg);
    border-radius: 40px;
    margin-top: 44px;
    margin-left: 80px;
}

@keyframes moveLeft {
    from {right: 0px;}
    to {right: 80px;}
}

@keyframes moveRight {
    from {right: 80px;}
    to {right: 0px;}
}

div.move-left {
    position: relative;
    animation-name: moveLeft;
    animation-duration: 0.1s;  
    animation-fill-mode: forwards;
}
div.move-right {
    position: relative;
    animation-name: moveRight;
    animation-duration: 0.1s;  
    animation-fill-mode: forwards;
}

div.save-text-div{
    flex: 1;
}

p.save-text {
    margin-top: 51px;
    margin-right: 12px;
    text-align: right;
    color: var(--denim-status-online);
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.react-switch-selector-option {
    // width: 88px !important;
    height: 32px !important;
}