.Content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.flexcontainer{
    display: flex;
    min-height: 120px;
}

div.alert-option{
    flex: 1;
}

div.save-text-div{
    flex: 1;
}

p.save-text {
    margin-top: 51px;
    margin-right: 12px;
    text-align: right;
    color: var(--denim-status-online);
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.react-switch-selector-option {
    // width: 88px !important;
    height: 32px !important;
}