$bigStone: #152234;
$geyser: #dadfe5;

.PricingModal {
    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1440px;
        margin: auto;
        transform: translate(-50%, -50%) !important;

        .modal-content {
            background-color: var(--center-channel-bg);
        }
    }

    .modal-header {
        height: 77px;
        min-height: 77px;
    }

    .PricingModal__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 28px 32px;
        border: none;
        border-bottom: 1px solid rgba(var(--center-channel-text-rgb), 0.08);
        font-size: 22px;
        font-weight: 600;

        .header_lhs {
            display: flex;
            align-items: center;

            h1 {
                margin: 0;
                color: var(--center-channel-text);
                font-family: 'Metropolis', sans-serif;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
            }

            div {
                padding-left: 8px;
                border-left: 1px solid rgba(var(--center-channel-text-rgb), 0.16);
                margin-left: 8px;
                color: rgba(var(--center-channel-text-rgb), 0.56);
                font-family: 'Open Sans';
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }

        &::before,
        &::after {
            display: none;
        }

        // beat regular modal-header in specificity
        &.modal-header {
            background-color: var(--center-channel-bg);
            color: var(--center-channel-color);
        }

        .icon-close {
            padding: 0;
            border: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background: none;
            color: rgb(var(--center-channel-color-rgb), 0.56);
            cursor: pointer;
            font: inherit;
            outline: inherit;

            &:hover,
            &:active,
            &:focus {
                color: rgb(var(--center-channel-color-rgb), 0.56);
            }
        }
    }

    .modal-body {
        display: flex;
        height: 623px;
        min-height: 623px;
        flex-direction: column;
        padding: 0 71px;
        overflow-x: visible;
        overflow-y: scroll;

        .self-hosted-alert {
            display: flex;
            width: 100%;
            height: 40px;
            flex-direction: column;
            margin-top: 19px;
            margin-bottom: 40px;
            text-align: right;

            span {
                color: var(--center-channel-text);
                font-family: 'Open Sans';
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                text-align: right;
            }

            a {
                color: var(--denim-button-bg);
                font-family: 'Open Sans';
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
            }
        }
    }

    .PricingModal__body {
        position: relative;
        display: flex;
        align-self: center;
        gap: 12px;

        .self-hosted-svg-left {
            position: absolute;
            top: 36px;
            left: -145px;
        }

        .self-hosted-svg-right {
            position: absolute;
            top: 36px;
            right: -130px;
        }

        .PlanCard {
            position: relative;
            width: 280px;

            .planLabel {
                position: absolute;
                top: -36px;
                left: 52px;
                display: flex;
                width: 184px;
                height: 36px;
                align-items: center;
                justify-content: center;
                padding: 14px;
                border-radius: 13px 13px 0 0;
                font-weight: 600;
                gap: 5px;
            }

            .top {
                height: 18px;
                border-radius: 4px 4px 0 0;
            }

            .bottom {
                height: 668px;
                padding-right: 24px;
                padding-left: 24px;
                border: 1px solid $geyser;
                background-color: var(--center-channel-bg);
                border-radius: 0 0 4px 4px;

                .plan_briefing,
                .plan_extra_briefing {
                    height: 250px;
                    margin-top: 16px;

                    span {
                        color: $bigStone;
                        font-family: 'Metropolis';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        letter-spacing: -0.02em;
                        line-height: 24px;
                        white-space: nowrap;
                    }

                    .item {
                        display: flex;
                        max-height: 72px;

                        .bullet {
                            display: inline-block;
                            margin: 8px 8px 0 0;
                            color: #0058cc;
                            font-size: 10px;
                        }

                        p {
                            margin: 0;
                            color: rgba(33, 63, 107, 0.8);
                            font-family: 'Metropolis';
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: -0.02em;
                            line-height: 24px;
                        }
                    }

                    .disclaimer {
                        margin-top: 36px;
                        color: var(--error-text);
                        font-family: 'Open Sans';
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 16px;
                    }
                }

                .plan_extra_briefing {
                    height: 200px;

                    span {
                        font-size: 12px;
                    }
                }

                .plan_action_btn {
                    width: 100%;
                    height: 40px;
                    padding: 10px 24px;
                    border: none;
                    background: none;
                    border-radius: 4px;
                    color: var(--denim-button-bg);
                    font-weight: 700;

                    &.grayed {
                        background: rgba(var(--center-channel-text-rgb), 0.08);
                        color: rgba(var(--center-channel-text-rgb), 0.32);
                    }

                    &.secondary {
                        background: rgba(var(--denim-button-bg-rgb), 0.08);
                        color: var(--denim-button-bg);
                    }

                    &.active {
                        border: 1px solid var(--denim-button-bg);
                    }

                    &.special {
                        background: var(--denim-button-bg);
                        color: var(--button-color);
                    }
                }

                .plan_price_rate_section {
                    width: 100%;
                    height: 150px;
                    border-bottom: 1px solid $geyser;
                    text-align: center;

                    h4 {
                        color: rgba(33, 63, 107, 0.8);
                        font-family: 'Metropolis';
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        letter-spacing: -0.02em;
                        line-height: 30px;
                    }

                    h1 {
                        color: var(--title-color-indigo-500);
                        font-family: 'Metropolis';
                        font-size: 52px;
                        font-style: normal;
                        font-weight: 700;
                        letter-spacing: -0.02em;
                        line-height: 60px;

                        span {
                            color: $bigStone;
                            font-family: 'Metropolis';
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: -0.02em;
                            line-height: 20px;
                        }
                    }

                    .enterprise_price {
                        font-size: 32px;
                    }

                    p {
                        color: $bigStone;
                        font-family: 'Metropolis';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        letter-spacing: -0.02em;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
