.custom_policy_fields {
    width: 100%;
    @media screen and (min-width: 960px) {
        width: 50%;
    }

    .DropdownInput .Input.form-control {
        padding: 6px 12px;
    }

    i.icon.icon-infinity.option-icon {
        vertical-align: middle;
    }
}