@charset 'UTF-8';

@import 'compass/utilities';
@import 'compass/css3';
@import 'utils/module';

.TeamIcon__content {
    @include single-transition(all, .25s, ease);
    @include border-radius(8px);
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.no-hover {
        transition:none;
    }
}

.TeamIcon__initials {
    transition: transform 0.2s;

    &.TeamIcon__initials__lg {
        font-size: 3em;
        width: 94px;
        height: 94px;
    }
    &.TeamIcon__initials__sm {
        font-size: 14px;
        width: 40px;
        height: 40px;
    }
}

.TeamIcon {
    font-weight: 600;
    height: 40px;
    width: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.16);
    border: 3px solid #0E4289;
    border-radius: 11px;
    box-sizing: content-box;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.32);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    transform: translate(0, 0);
    transform-origin: center center;
    position: relative;

    &:hover {
        transform: scale(0.9);
        margin: auto;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.32);
        background-color: rgba(255, 255, 255, 0.32);
        
        .TeamIcon__initials {
            transform: scale(1);
        }
    }

    &:active {
        box-shadow: 0 0 0 3px rgba(var(--sidebar-text-active-border-rgb), 0.72);
        transform: translate(0, 2px) scale(0.9px);
    }

    &.active {
        transform: scale(0.9);
        margin: auto;
        box-shadow: 0 0 0 3px rgba(var(--sidebar-text-active-border-rgb), 0.72);
        background-color: rgba(255, 255, 255, 0.32);
       
        .TeamIcon__initials {
            transform: scale(1);
        }
    }

    &.TeamIcon__lg {
        width: 94px;
        height: 94px;
    }

    &.TeamIcon__sm {
        width: 40px;
        height: 40px;
    }

    .TeamIcon__image {
        @include clearfix;
        @include background-size(100% 100%);
        background-color: $white;
        background-repeat: no-repeat;
        width: 45px;
        height: 100%;
        &.TeamIcon__lg {
            width: 94px;
        }

        &.TeamIcon__sm {
            width: 40px;
        }

    }
}
