@charset 'UTF-8';

@import 'compass/utilities';
@import 'compass/css3';
@import 'utils/module';

.TeamIcon__content {
    @include single-transition(all, .25s, ease);
    @include border-radius(8px);
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.no-hover {
        transition:none;
    }
}

.TeamIcon__initials {
    &.TeamIcon__initials__lg {
        font-size: 3em;

    }
    &.TeamIcon__initials__sm {
        font-size: 14px;
    }
}

.TeamIcon {
    font-weight: 600;
    height: 34px;
    width: 34px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.16);
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
    box-sizing: content-box;
    transition: box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
    transform-origin: center center;
    position: relative;

    &:not(.no-hover):hover {
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.32);
        border-color: var(--sidebar-teambar-bg);
        background-color: rgba(255, 255, 255, 0.32);
    }

    &:active {
        border-color: var(--sidebar-teambar-bg);
        box-shadow: 0 0 0 3px rgba(var(--sidebar-text-active-border-rgb), 0.72);
    }

    &.active {
        border-color: var(--sidebar-teambar-bg);
        box-shadow: 0 0 0 3px rgba(var(--sidebar-text-active-border-rgb), 0.72);
        background-color: rgba(255, 255, 255, 0.32);
    }

    &.TeamIcon__lg {
        width: 94px;
        height: 94px;
    }

    &.TeamIcon__sm {
        height: 34px;
        width: 34px;
    }

    &.withImage {
        border: none;
        &.TeamIcon__lg {
            width: 100px;
            height: 100px;
        }

        &.TeamIcon__sm {
            height: 40px;
            width: 40px;
        }

        .TeamIcon__image {
            transition: box-shadow 200ms;
            border-radius: 8px;
        }

        &:not(.no-hover):hover {
            box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.32);

            .TeamIcon__image {
                box-shadow: inset 0 0 0 3px var(--sidebar-teambar-bg);
            }
        }
    }

    &.withImage.active {
        box-shadow:  0 0 0 3px rgba(var(--sidebar-text-active-border-rgb), 0.72);

        .TeamIcon__image {
            box-shadow: inset 0 0 0 3px var(--sidebar-teambar-bg);
        }
    }

    .TeamIcon__image {
        @include clearfix;
        @include background-size(100% 100%);
        background-color: $white;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;


    }
}
