.AdvancedTextEditor {
    &__ctr {
        form {
            padding: unset;
        }
    }

    width: 100%;
    padding: 0 24px;
    margin: 0 auto;

    .custom-textarea {
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }

        &.custom-textarea--emoji-picker {
            padding-right: 50px;
        }

        &.textbox-preview-area {
            padding-right: 50px;
        }
    }

    &__body {
        position: relative;
        border: 2px solid rgba(var(--center-channel-color-rgb), 0.16);
        border-radius: 4px;

        &:focus-visible,
        &:focus-within,
        &:focus-visible:hover,
        &:focus-within:hover, {
            border: 2px solid rgba(var(--center-channel-color-rgb), 0.32);
            outline: none;
            outline-offset: 0;
        }

        &:hover {
            border: 2px solid rgba(var(--center-channel-color-rgb), 0.24);
        }

        &[disabled] {
            &:hover {
                border: none;
            }
        }
    }

    &__attachment-preview {
        padding-bottom: 46px;
    }

    &__action-button {
        display: flex;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        background: transparent;
        border-radius: 4px;
        color: rgba(var(--center-channel-color-rgb), 0.56);
        cursor: pointer;
        fill: currentColor;

        &:hover {
            background: rgba(var(--center-channel-color-rgb), 0.08);
            color: rgba(var(--center-channel-color-rgb), 0.72);
            fill: currentColor;
            text-decoration: none;
        }

        &.hidden {
            visibility: hidden;
        }

        & + input {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            cursor: pointer;
            direction: ltr;
            font-size: 23px;
            opacity: 0;
            pointer-events: none;
        }
    }

    &__action-button--active {
        background: rgba(var(--button-bg-rgb), 0.08);
        color: rgb(var(--button-bg-rgb));
        fill: currentColor;
    }

    &__icon {
        display: inline-flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-family: "compass-icons";
        font-size: 18px;
    }

    &__cell {
        position: relative;
        display: flex;
        flex-direction: column;
        vertical-align: top;
    }

    &__helper-text {
        display: inline-block;
        margin: 8px 0 4px;
        color: rgba(var(--center-channel-color-rgb), 0.64);
        font-family: "Open Sans", sans-serif;
    }

    &__footer {
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        gap: 8px;

        .help__text {
            text-align: right;

            a,
            button {
                margin-left: 10px;
            }
        }

        &--has-error {
            padding: 6px 0 0;
        }

        .post-error {
            position: absolute;
            top: 4px;
            display: inline-block;
            margin-bottom: 0;
            font-size: 0.85em;
            font-weight: normal;
            opacity: 0.55;
        }
    }
}

@media screen and (max-width: 768px) {
    .AdvancedTextEditor {
        padding: 0;

        &__body {
            border-right: none;
            border-left: none;
            border-radius: 0;

            &:focus-visible,
            &:focus-within,
            &:focus-visible:hover,
            &:focus-within:hover,
            &:hover {
                border-right: none;
                border-left: none;
            }
        }
    }
}

.msg-typing {
    display: block;
    overflow: hidden;
    height: 20px;
    margin-bottom: 5px;
    font-size: 0.95em;
    opacity: 0.7;
    text-overflow: ellipsis;
    white-space: nowrap;
}
