.modal {
    .user-groups-modal-create {
        &.modal-dialog {
            margin-top: calc(50vh - 240px);
        }

        .Input___error {
            &.group-error {
                position: absolute;
                right: 180px;
                bottom: 35px;
            }
        }
    }
}
