@import 'utils/variables';

.Menu {
    .MenuHeader {
        display: block;
        overflow: hidden;
        width: 100%;
        align-items: center;
        padding: 0 32px 0 24px;
        clear: both;
        color: inherit;
        cursor: default;
        font-weight: $font-weight--semibold;
        line-height: 28px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
