@import 'compass/css3';
@import 'utils/variables';
@import 'utils/functions';

.MenuGroup {
    &.menu-divider {
        background: rgba(var(--center-channel-color-rgb), 0.16);
        height: 1px;
        margin: 8px 0;
    }
}
