.user-popover__set-custom-status-btn {
    padding: 0;
    border: none;
    background: transparent;
    color: var(--link-color);
}

.user-profile-popover__heading {
    font-weight: 600;
}

.user-popover-last-active {
    display: block;
    margin: 10px 0 4px;
    color: rgba(var(--center-channel-color-rgb), 0.64);
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}
