.user-popover__set-custom-status-btn {
    padding: 2px 0;
    border: none;
    background: transparent;
    color: var(--denim-button-bg);
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.user-profile-popover__heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.user-popover-last-active {
    display: block;
    margin: 8px 0 4px;
    color: rgba(var(--center-channel-text-rgb), 0.64);
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

.user-profile-popover {
    .popover-content {
        padding: 4px 16px 8px;

        .overflow--ellipsis {
            text-align: center;
        }

        .user-popover__subtitle {
            font-weight: 600;
            font-size: 11px;
            line-height: 16px;
        }

        .popover__row {
            .btn {
                display: flex;
                align-items: center;
                padding: 8px 12px;
                background-color: var(--button-bg);
                color: var(--button-color);
                gap: 6px;
                border-radius: 4px;
                font-weight: 600;
                font-size: 12px;
                line-height: 10px;
            }

            .icon-btn {
                background-color: unset;
                color: rgba(var(--center-channel-color-rgb), 0.56);
                padding: 2px 4px;

                &:hover {
                    background: rgba(var(--center-channel-color-rgb), 0.08);
                    border-radius: 4px;
                }
            }
        }
    }
}