.image_preview_div {
    &__normal {
        display: flex;
        align-items: center;
        text-align: center;
    }

    &__fullscreen {
        border-radius: 0px;
    }
}

.image_preview_canvas {
    &__normal {
        cursor: default;
    }
    &__hover {
        cursor: grab;
    }
    &__dragging {
        cursor: grabbing;
    }
}
