.ConfirmLicenseRemovalModal {
    .modal-header {
        border-bottom: none !important;
        background: none !important;

        button.close {
            span {
                color: rgba(63, 67, 80, 0.56) !important;
            }
        }
    }

    .content-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            margin: 10px 0;
            color: #3f4350;
            font-family: Metropolis;
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
        }

        .subtitle {
            color: #3f4350;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            line-height: 20px;
            text-align: center;
        }
    }

    .content-footer {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            height: 40px;
            margin-top: 15px !important;
            margin-left: 10px;
            border-radius: 4px;
        }
    }

    .modal-footer {
        border-top: none !important;
    }
}
