.people-directory {
    width: 100%;

    .directory-header {
        &.header {
            height: 120px;
            padding: 16px;
            border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
            background-color: var(--center-channel-bg);

            .top {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .people-title {
                    color: var(--center-channel-color);
                    font-family: 'Metropolis';
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28px;
                }
            }

            .bottom {
                display: flex;
                align-items: center;

                .people-search-input {
                    width: 300px;
                }
            }
        }
    }

    .Grid {
        overflow-x: hidden !important;

        > div {
            margin: auto;
            position: relative;
            display: block;
        }
    }
}
