.people-directory {
    width: 100%;

    .directory-header {
        &.header {
            height: 120px;
            padding: 16px;
            border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
            background-color: var(--center-channel-bg);

            .top {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .people-title {
                    color: var(--center-channel-color);
                    font-family: 'Metropolis';
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28px;
                }
            }

            .bottom {
                display: flex;
                align-items: center;

                .people-search-input {
                    width: 300px;
                }
            }
        }

        &.groups-header {
            height: 60px;
        }
    }

    .Grid {
        overflow-x: hidden !important;

        > div {
            position: relative;
            display: block;
            margin: auto;
        }
    }

    .directory-content {
        display: flex;
        height: 100%;

        .group-directory-list {
            width: 400px;
            height: 100%;
            background-color: var(--center-channel-bg);

            .Input_container {
                width: 300px;
                margin: 8px 88px 8px 12px;
            }

            .group__list {
                border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.16);

                .group__item {
                    display: flex;
                    align-items: center;
                    padding: 18px 32px;

                    &:hover {
                        background: rgba(var(--center-channel-color-rgb), 0.08);
                        cursor: pointer;
                    }

                    &:active,
                    &.active {
                        background: rgba(var(--center-channel-color-rgb), 0.08);
                    }

                    .group-display-name,
                    .group-name {
                        display: block;
                        overflow: hidden;
                        max-width: 200px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .group-name {
                        padding-left: 8px;
                        color: rgba(var(--center-channel-color-rgb), 0.64);
                    }

                    .group-member-count {
                        margin-right: 8px;
                        margin-left: auto;
                        color: rgba(var(--center-channel-color-rgb), 0.64);
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }

        .group-members-list {
            width: 100%;
            height: 100%;

            .group-members-list-header {
                padding: 12px 20px;
                border-left: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
                background-color: var(--center-channel-bg);
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);

                .group-display-name {
                    padding-right: 8px;
                    border-right: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
                    color: var(--center-channel-text);
                    font-family: 'Metropolis';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                }

                .group-member-count {
                    padding-left: 8px;
                    color: rgba(var(--center-channel-text-rgb), 0.56);
                    font-family: 'Open Sans';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }
}
