@charset "UTF-8";

@import 'utils/mixins';
@import 'utils/variables';

.AcknowledgementButton {
    @include button-xsmall;

    position: relative;
    display: flex;
    min-width: 0;
    align-items: center;
    border: 0;
    background: rgba(var(--online-indicator-rgb), 0.08);
    border-radius: 4px;
    color: var(--online-indicator);
    font-weight: 600;
    transition: all 0.15s ease-out;

    > svg {
        margin-right: 3px;
        fill: var(--online-indicator);
    }

    &:disabled {
        background: rgba(var(--online-indicator-rgb), 0.08);
        color: rgba(var(--online-indicator-rgb), 0.32);
    }

    &:hover:enabled {
        background: rgba(var(--online-indicator-rgb), 0.12);
    }

    &:active:enabled {
        background: rgba(var(--online-indicator-rgb), 0.16);
    }

    &--acked {
        background: rgba(var(--online-indicator-rgb), 0.8);
        color: #fff;

        > svg {
            margin-right: 3px;
            fill: #fff;
        }

        &:disabled {
            background: rgba(var(--online-indicator-rgb), 0.8);
            color: #fff;
            cursor: not-allowed;

            > svg {
                margin-right: 3px;
                fill: #fff;
            }
        }

        &:hover:enabled {
            background: rgba(var(--online-indicator-rgb), 1);
        }

        &:active:enabled {
            background: rgba(var(--online-indicator-rgb), 1);
        }
    }
}

.AcknowledgementButton__divider {
    width: 1px;
    height: 24px;
    margin: 0 4px;
    background: rgba(var(--center-channel-text-rgb), 0.08);
}
