.apps-form-modal-body-common {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(0);
    background: rgba(255, 255, 255, 0.8);
}

.apps-form-modal-body-loaded {
    z-index: 0;
}

.apps-form-modal-body-loading {
    z-index: 1000;
}
