.apps-form-modal-body-common {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            z-index: 0;
            justify-content: center;
            align-items: center;
            background: rgba(255,255,255,0.8);
            backdrop-filter: blur(0px);
}
.apps-form-modal-body-loaded {
            z-index: 0;
}
.apps-form-modal-body-loading {
            z-index: 1000;
}
