@charset 'UTF-8';

.modal {
    .user-groups-modal-create,
    .user-groups-modal-update,
    .view-user-groups-modal,
    .user-groups-modal {
        &.modal-dialog {
            margin-top: 50px;
        }

        .modal-content {
            border-radius: 8px;

            .modal-header {
                display: flex;
                min-height: 0;
                align-items: center;
                padding: 20px 24px;
                border: none;
                background: transparent;
                color: inherit;

                button.modal-header-back-button {
                    width: 3rem;
                    height: 3rem;
                    margin-right: 16px;
                    color: rgba(var(--center-channel-color-rgb), 0.56);
                    float: left;

                    i {
                        display: inline;
                        font-size: 20px;
                    }
                }

                a {
                    border: 1px solid var(--button-bg);
                    margin: auto;
                    margin-right: 42px;
                    background-color: var(--center-channel-bg);
                    border-radius: 4px;
                    color: var(--button-bg);
                }

                .close {
                    right: 24px;
                    color: inherit;
                    font-size: 30px;
                    font-weight: normal;
                    opacity: 0.5;

                    &:hover {
                        background: rgba(var(--center-channel-color-rgb), 0.1);
                        border-radius: 4px;
                        fill: rgba(var(--center-channel-color-rgb), 0.72);
                    }
                }

                .modal-title {
                    color: inherit;
                    font-size: 22px;
                    line-height: 28px;
                }
            }
        }

        .modal-body {
            max-height: 100%;
            padding: 0;
        }

        .user-groups-search {
            height: 48px;
            margin: 0 23px 14px;
            background: #fff;
            clear: both;

            .user-groups-searchbar {
                position: relative;
                display: flex;
                width: 100%;
                height: 48px;
                box-sizing: border-box;
                align-items: center;
                border: 1px solid rgba(var(--center-channel-color-rgb), 0.2);
                border-radius: 4px;

                input {
                    width: 100%;
                    border: 0;
                    margin-right: 16px;
                }

                input:focus {
                    outline: none;
                }

                .user-groups-search-icon {
                    display: flex;
                    flex-basis: 40px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    justify-content: center;
                    color: rgba(var(--center-channel-color-rgb), 0.64);
                    font-size: 18px;
                    pointer-events: none;
                }

                .user-groups-clear-button {
                    display: flex;
                    flex-basis: 40px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    color: rgba(var(--center-channel-color-rgb), 0.64);
                    font-size: 18px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .more-modal__dropdown {
            width: 100%;
            padding: 0 30px 30px;
            border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
            margin-bottom: 16px;

            a span {
                color: var(--button-bg);
            }

            .groups-filter-btn span {
                width: 100%;

                i {
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                    color: var(--button-bg);
                }
            }
        }

        .user-groups-modal__content {
            overflow: auto;

            &.user-groups-list {
                position: relative;
                max-height: 450px;
                margin-bottom: 16px;

                .group-row {
                    display: flex;
                    align-items: center;
                    padding: 18px 32px;

                    &:hover {
                        background: rgba(var(--center-channel-color-rgb), 0.1);
                        cursor: pointer;
                    }

                    .group-display-name,
                    .group-name {
                        display: block;
                        overflow: hidden;
                        max-width: 200px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .group-name {
                        padding-left: 8px;
                        color: rgba(var(--center-channel-color-rgb), 0.64);
                    }

                    .group-member-count {
                        margin-right: 8px;
                        margin-left: auto;
                        color: rgba(var(--center-channel-color-rgb), 0.64);
                        font-size: 12px;
                        line-height: 16px;
                    }

                    .group-action {
                        width: 24px;

                        .MenuWrapper {
                            width: 24px;
                            margin-left: auto;
                        }

                        .group-actions-menu {
                            span.MenuItem__primary-text {
                                font-size: 14px;
                                line-height: 20px;

                                &.leave-group-action {
                                    color: var(--dnd-indicator);
                                }

                                span.icon {
                                    display: inline-flex;
                                    width: auto;
                                    height: auto;
                                    align-self: center;
                                    padding-right: 12px;
                                    color: rgba(var(--center-channel-color-rgb), 0.56);
                                    font-size: 18px;
                                    line-height: 18px;
                                }
                            }
                        }
                    }

                    .group-action button.action-wrapper {
                        display: flex;
                        width: 24px;
                        height: 24px;
                        flex-direction: column;
                        align-items: center;
                        padding: 6px;
                        border: none;
                        margin-left: auto;
                        background: transparent;
                        border-radius: 4px;
                        color: rgba(var(--center-channel-color-rgb), 0.56);
                        text-decoration: none;

                        i.icon {
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }

                    &:hover .group-action button.action-wrapper i {
                        display: flex;
                    }

                    .group-action button.action-wrapper:hover {
                        background: rgba(var(--sys-center-channel-color-rgb), 0.08);
                    }
                }

                .loading-screen {
                    position: fixed;
                    bottom: 0;
                    height: 60px;
                }
            }

            .group-name-input-wrapper {
                padding: 2px 24px 12px;
            }

            .group-mention-input-wrapper {
                padding: 12px 24px 24px;
            }

            h2 {
                padding: 0 24px;
                color: inherit;
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
            }

            .group-add-user {
                .multi-select__footer {
                    padding-top: 8px;

                    button {
                        height: 40px;
                        padding: 0 20px;
                        border-radius: 4px;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    button[disabled] {
                        color: rgba(var(--center-channel-color-rgb), 0.32);
                    }

                    button.multiselect-back {
                        padding: 13px 20px;
                        margin-right: 8px;
                        background: rgba(var(--button-bg-rgb), 0.08);
                        color: rgb(var(--button-bg-rgb));
                        line-height: 14px;
                    }
                }
            }
        }
    }
}
