@charset 'UTF-8';

.modal {
    .user-groups-modal {
        .modal-content {
            .modal-header {
                align-items: center;
                padding: 20px 24px;
                border: none;
                background: transparent;
                color: inherit;

                a {
                    border: 1px solid var(--button-bg);
                    background-color: var(--center-channel-bg);
                    border-radius: 4px;
                    color: var(--button-bg);
                }

                .close {
                    right: 15px;
                    color: inherit;
                    font-size: 30px;
                    font-weight: normal;
                    opacity: 0.5;
                }

                .modal-title {
                    color: inherit;
                    font-size: 22px;
                    line-height: 28px;
                }

            }
        }
        .modal-body {
            padding: 0px;
        }

        .user-groups-search {
            height: 48px;
            background: #ffffff;
            clear: both;
            margin: 0px 23px 14px;
    
            .user-groups-searchbar {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                height: 48px;
                box-sizing: border-box;
                border: 1px solid rgba(var(--center-channel-color-rgb), 0.2);
                border-radius: 4px;
    
                input {
                    width: 100%;
                    border: 0;
                    margin-right: 16px;
                }
    
                input:focus {
                    outline: none;
                }
    
                .user-groups-search-icon {
                    color: rgba(var(--center-channel-color-rgb), 0.64);
                    pointer-events: none;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    flex-basis: 40px;
                    flex-grow: 0;
                    flex-shrink: 0;
                }
    
                .user-groups-clear-button {
                    color: rgba(var(--center-channel-color-rgb), 0.64);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-basis: 40px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    font-size: 18px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .more-modal__dropdown {
            padding: 0 30px 30px;
            width: 100%;
            border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
            margin-bottom: 16px;

            a span {
                color: var(--button-bg);
            }

            .groups-filter-btn span {
                width: 100%;

                i {
                    color: var(--button-bg);
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                }
            }
        }
        

        .user-groups-modal__content {
            overflow: auto;

            .group-row {
                display: flex;
                align-items: center;
                padding: 18px 32px;

                &:hover {
                    cursor: pointer;
                    background: rgba(var(--center-channel-color-rgb), 0.1);
                }

                .group-name {
                    color: rgba(var(--center-channel-color-rgb), 0.64);
                    padding-left: 8px;
                }

                .group-member-count {
                    color: rgba(var(--center-channel-color-rgb), 0.64);
                    font-size: 12px;
                    line-height: 16px;
                    margin-left: auto;
                    margin-right: 8px;
                }
                .group-action {
                    width: 24px;
    
                    .MenuWrapper {
                        width: 24px;
                        margin-left: auto;
                    }
                }
    
                .group-action button.action-wrapper {
                    border: none;
                    display: flex;
                    width: 24px;
                    height: 24px;
                    flex-direction: column;
                    align-items: center;
                    padding: 6px;
                    margin-left: auto;
                    background: transparent;
                    border-radius: 4px;
                    color: rgba(var(--center-channel-color-rgb), 0.56);
                    text-decoration: none;

                    i.icon {
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
    
                &:hover .group-action button.action-wrapper i {
                    display: flex;
                }
    
                .group-action button.action-wrapper:hover {
                    background: rgba(var(--sys-center-channel-color-rgb), 0.08);
                }
            }

            .group-name-input-wrapper {
                padding: 2px 24px 12px;
            }
            .group-mention-input-wrapper {
                padding: 12px 24px 24px;
            }
            h2 {
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
                color: inherit;
                padding: 0px 16px;
            }
        }
    }
}