.loading-modal {
    top: 50%;
    transform: translateY(50%);
    .CloudSubscribeWithLoad-progress {
        width: 387px;
        height: 4px;
        margin: 0 auto;
        margin-top: 60px;
        background: rgb(34, 64, 109, 0.12);
        border-radius: 4px;
    }

    .CloudSubscribeWithLoad-progress-fill {
        height: 100%;
        background: #0058cc;
        border-radius: 4px;
    }

    .CloudSubscribeWithLoad-body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
