.PaymentForm {
    margin: 0 auto;
    padding-left: 96px;
    padding-right: 96px;

    .form-row {
        width: 100%;
        margin-bottom: 24px;
        display: flex;
    }

    .form-row-third-1 {
        .DropdownInput {
            margin-top: 0px;
            z-index: 99999;
        }
        max-width: 288px;
        width: 66%;
        margin-right: 16px;
    }

    .form-row-third-2 {
        max-width: 144px;
        width: 34%;
    }

    .section-title{
        font-weight: 600;
        font-size: 16px;
        color: var(--center-channel-text);
        text-align: left;
        margin-bottom: 24px;
    }

    .DropdownInput {
        margin-bottom: 24px;
        height: 36px;
        position: relative;

        z-index: 999999;

        .DropDown__control {
            min-height: 0px;
        }
    }

    .full-width {
        width: 100%
    }

    Input{
        font-size: 14px;
    }

    .Input_fieldset {
        background: var(--center-channel-bg);
        height: 40px;
        padding: 2px 1px;

        .Input_wrapper {
            margin: 0;
        }

        &.Input_fieldset___legend {
            >legend {
                margin-left: 11px;
            }
        }

        &.Input_fieldset:focus-within {
            box-shadow: inset 0 0 0 2px var(--button-bg);
            color: var(--button-bg);
            padding-top: 2px
        }


        &.Input_fieldset___error {
            color: var(--error-text);
            box-shadow: inset 0 0 0 1px var(--error-text);
            padding-top: 1px;
            padding-bottom: 1px;
        }

        &.Input_fieldset___error:focus-within {
            color: var(--error-text);
            box-shadow: inset 0 0 0 2px var(--error-text);
        }

        .Input {
            height: 32px;
            &::placeholder{
                color: var(--center-channel-color);
                opacity: 0.64;
            }
        }
    }


    .PaymentForm-saved {
        width: 442px;
        height: fit-content;
        background: #FFFFFF;
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
        box-sizing: border-box;
        border-radius: 4px;
        padding: 24px;
        margin-bottom: 16px;
    }

    .PaymentForm-saved-title {
        font-family: Metropolis;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #22406D;
        opacity: 0.4;
        margin-bottom: 16px;
    }

    .PaymentForm-saved-card {
        font-family: Source Sans Pro;
        font-size: 16px;
        line-height: 24px;
        color: #22406D;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding-bottom: 16px;
    }

    .PaymentForm-saved-address {
        font-family: Source Sans Pro;
        font-size: 16px;
        line-height: 24px;
        color: #22406D;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .PaymentForm-change {
        font-family: Source Sans Pro;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #0058CC;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--center-channel-bg) inset !important;
}
