.CompleteProfileStep {
    display: flex;
    padding: 24px 40px;

    h4 {
        margin: 0;
        color: var(--center-channel-color);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
}

.CompleteProfileStep__profilePicture {
    flex-grow: 0;

    .PictureSelector {
        margin-top: 12px;
    }
}

.CompleteProfileStep__fullName {
    max-width: 600px;
    flex-grow: 0.75;
    margin-left: 64px;

    .Input_wrapper {
        padding: 0 16px;
        font-size: 14px;
        line-height: 38px;
    }

    .Input {
        font-size: 14px;
        line-height: 38px;
    }

    .Input_legend {
        margin-left: 12px;
    }

    .Input_container {
        margin-top: 28px;
    }
}

.CompleteProfileStep__pictureError {
    padding: 0 40px;
    color: var(--error-text);
    font-size: 12px;
    line-height: 16px;

    > span {
        margin-left: 4px;
    }

    i {
        margin-top: -2px;
        font-size: 14px;
        vertical-align: middle;
    }
}

@media screen and (max-width: 1020px) {
    .CompleteProfileStep {
        flex-direction: column;
        padding: 4px 12px 24px 12px;
    }

    .CompleteProfileStep__fullName {
        max-width: unset;
        margin-top: 32px;
        margin-left: 0;

        .Input_container {
            margin-top: 20px;
        }
    }
}
