@charset 'UTF-8';

.radio,
.checkbox {
    &.margin-bottom--none {
        margin-bottom: 0;
    }

    &.no-padding {
        padding: 0;

        label {
            padding: 0;
        }
    }
}

.form-control {
    @include input-placeholder {
        color: inherit;
    }

    &.form-sm {
        font-size: 13px;
        height: 32px;
    }
}

.form-legend {
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: 600;
    margin: 0 0 0.8rem;
}

.input__help {
    @include opacity(.8);
    color: inherit;
    margin: 10px 0 0 0;
    word-break: break-word;

    &.dark {
        @include opacity(1);
    }

    &.error {
        color: darken($red, 20%);
    }
}

.form-horizontal {
    .modal-intro {
        margin: -10px 0 30px;
    }

    .form__label {
        font-size: 1.1em;
        font-weight: 600;
        padding-right: 3px;
        text-align: left;

        &.light {
            @include opacity(.6);
            font-size: 1.05em;
            font-style: italic;
            font-weight: normal;
            padding-top: 2px;
        }
    }

    .form-control {
        font-weight: normal;
    }

    .form-group {
        margin-bottom: 25px;

        &.less {
            margin-bottom: 10px;
        }
    }
}

.help-block {
    color: $dark-gray;
    font-size: .95em;
    margin: 10px 0 0;
}

.form-group {
    max-width: 100%;

    &.form-group--small {
        margin-bottom: 10px;
    }
}

.has-error {
    .help-block,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline {
        color: $red;
    }

    .form__label {
        &.control-label {
            color: inherit !important;
        }
    }

    &.radio,
    &.checkbox,
    &.radio-inline,
    &.checkbox-inline {
        label {
            color: $red;
        }
    }
}

.multi-select__radio {
    label {
        display: flex;
        align-items: center;
    }

    input[type='radio'] {
        margin-top: 0;
        width: 13px;
    }

    .flex-parent {
        display: flex;
        align-items: center;
    }

    .icon {
        display: flex;
        height: 21px;
        align-items: center;
        padding-right: 1px;
        margin-right: 6px;
        width: 14px;
        justify-content: center;

        & + span {
            font-weight: 600;
            margin-right: 4px;
        }
    }

    span {
        &:last-child {
            @include opacity(.8);
        }
    }
}

.app__body {
    .form-control {
        color: v(center-channel-color);
        border-color: rgba(var(--center-channel-color-rgb), 0.16);

        &:focus {
            border-color: rgba(var(--center-channel-color-rgb), 0.40);
        }

        &.inline {
            display: inline-block;
            width: auto;
        }

        &::-moz-placeholder,
        &:-moz-placeholder {
            color: inherit !important;
            opacity: .6;
        }
    }
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #f9f9f9;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: none;
}

.notification-sound-dropdown {
    padding-top: 5px;
}