@charset 'UTF-8';

.post-right__container {
    @include display-flex;
    @include flex-direction(column);
    height: 100%;

    .post-right-root-message {
        padding: 1em 1em 0;
    }

    .post-right-comments-container {
        position: relative;

        .post {
            &.same--root {
                &.same--user {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            &:hover {
                & + .Separator {
                    .separator__hr {
                        overflow: visible;

                        &:before {
                            content: '';
                            background: rgba(v(center-channel-color-rgb), 0.04);
                            width: 100%;
                            height: 16px;
                            position: absolute;
                            left: 0;
                            top: -16px;
                        }
                    }
                }
            }
        }

        .Separator {
            padding-top: 15px;

            & + .post {
                padding-top: 20px;
            }
        }
    }



    .help_format_text {
        bottom: -63px;
        right: auto;
    }

    .post {
        &.post--root {
            padding-top: 2rem;

            .post__body {
                background: transparent !important;
            }
        }

        .post-pre-header__icons-container {
            padding-right: 12px; // If the padding of post__img changes, this needs to be adjusted accordingly
            width: 60px; // If the width of post__img changes, this needs to be adjusted accordingly
            margin-left: 0px; // if left margin of post__content changes, this needs to be adjusted accordingly
        }

        .post__header {
            .post-menu {
                text-align: right;
            }
        }

        .post__body {
            padding-left: 0;
            width: 100%;
        }

        &.post--compact {
            .post__body {
                padding-left: 0;
            }

            &.same--root {
                &.post--comment {
                    padding-left: 1em;

                    .post__header {
                        margin-left: 0;
                        float: none;
                        height: auto;

                        .post__time {
                            opacity: .6;
                        }
                    }
                }
            }

            &.same--user {
                .post__header {
                    .col__name {
                        display: inline-block;
                    }
                }
            }

            .post__img {
                width: 16px;
            }
        }

        .post__img {
            width: 60px; // if this changes, the width of post-pre-header__icons-container needs to be adjusted accordingly
            padding: 2px 12px 0 0; // if the right padding changes, the padding of post-pre-header__icons-container needs to be adjusted accordingly
        }
    }

    hr {
        border: none;
    }

    .post-create__container {
        width: 100%;

        .btn {
            margin-bottom: 10px;

            &.disabled {
                background: grey !important;
                border-color: transparent !important;
            }
        }

        .custom-textarea {
            max-height: calc(50vh - 80px);
            min-height: 100px;
        }

        .msg-typing {
            @include opacity(.7);
            display: block;
            float: left;
            font-size: 13px;
            height: 20px;
            line-height: 20px;
            margin-top: 3px;
            max-width: 230px;
            min-width: 1px;
        }

        .post-right-comments-upload-in-progress {
            @include opacity(.7);
            margin-right: 10px;
            padding: 6px 0;
        }

        .emoji-picker {
            position: absolute;
            top: -361px;
            right: 0px;
        }
    }
}

.post-right-header {
    border-bottom: $border-gray;
    color: #999;
    font-size: 1em;
    font-weight: 400;
    height: 39px;
    padding: 10px 10px 0 15px;
    text-transform: uppercase;
}

.post-right-root-container {
    border-bottom: $border-gray;
    padding: 5px 10px;

    ul {
        margin-bottom: 2px;
        padding-left: 0;
    }
}

.post-right-channel__name {
    font-weight: 600;
    margin: 8px 0 12px;
}

.card-info-channel__name {
    font-weight: 600;
    margin: 0 0 15px 14px;
}

.post-right-root-container li {
    display: inline;
    list-style-type: none;
    padding-right: 3px;
}

.post-right-root-time {
    color: #a8adb7;
}

.post-right-create-comment-container {
    bottom: 0;
    left: 0;
    margin-bottom: 18px;
    padding: 5px;
    position: absolute;
    width: 100%;
}

.post-right__scroll {
    -webkit-overflow-scrolling: touch;
    @include flex(1 1 auto);
    padding-top: 28px;
    position: relative;

    .file-preview__container {
        margin-top: 5px;
    }
}

.post-right-comment-time {
    color: #a8adb7;
}
