@import 'utils/variables';

.UsersEmailsInput {
    .users-emails-input__control {
        min-height: 48px;
        background: var(--center-channel-bg);
        color: var(--center-channel-color-60);
        box-shadow: none;
        border-color: var(--center-channel-color-60);
        &:hover, &:focus, &--menu-is-open {
            border-color: var(--button-bg);
        }
    }
    .users-emails-input__placeholder, .users-emails-input__input {
        color: var(--center-channel-color-60);
    }
    input {
        height: inherit;
    }
    .users-emails-input__menu {
        margin-top: 0px;
    }
    .users-emails-input__menu-list{
        padding: 0px;
    }
    .users-emails-input__menu-notice{
        height: 60px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px 4px 0 0;
    }
    .users-emails-input__option {
        height: 60px;
        padding: 12px;
        display: flex;
        align-items: center;
        &:first-child {
            border-radius: 4px 4px 0 0;
        }
        &:last-child {
            border-radius: 0 0 4px 4px;
        }
        &:hover, &--is-focused {
            background: var(--button-bg);
            color: var(--button-color);
        }
        .mail-plus-icon {
            width: 36px;
            height: 36px;
            border-radius: 18px;
            background: $primary-color;
            padding: 3px;
            margin-right: 8px;
            display: inline-block;
            svg {
                width: 24px;
                height: 24px;
                fill: $white;
                margin: 3px;
            }
        }
        .avatar {
            width: 36px;
            height: 36px;
            border-radius: 18px;
            display: inline-block;
            margin-right: 3px;
        }
    }
    .show {
        display: block;
    }
    .users-emails-input__multi-value {
        align-items: center;
        background: var(--center-channel-color-30);
        padding: 4px;
        border-radius: 16px;
        color: var(--center-channel-color);
    }

    .users-emails-input__multi-value__label {
        display: flex;
        align-items: center;
        padding-left: 0px;
        color: var(--center-channel-color);
        .mail-icon {
            width: 24px;
            height: 24px;
            border-radius: 16px;
            background: var(--center-channel-color-60);
            padding: 3px;
            margin-right: 3px;
            svg {
                width: 18px;
                height: 18px;
                fill: var(--center-channel-color);
            }
        }
        .avatar {
            border-radius: 16px;
            width: 24px;
            height: 24px;
            margin-right: 3px;
        }
    }
    .users-emails-input__multi-value__remove {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background: $gray;
        padding: 1px;
        cursor: pointer;
        &:hover {
            background-color: var(--button-bg);
        }
        svg {
            fill: $white;
            opacity: .6;
        }
    }
    .Badge {
        margin-left: 5px;
    }
}
