.PurchaseModal {
    height: 100%;
    overflow: hidden;

    >div {
        &.processing {
            display: none;
        }
        overflow: hidden;
        color: var(--center-channel-color);
        font-size: 16px;
        font-family: 'Open Sans';
        padding: 77px 107px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        width: 100%;
        height: 100%;

        .footer-text {
            font-size: 14px;
        }

        .fineprint-text {
            color:  rgba(var(--center-channel-color-rgb), 0.72);
            font-size: 12px;
            line-height: 16px;
            margin-top: 24px;
        }

        .bold-text {
            font-weight: 600;
        }

        .normal-text {
            font-weight: normal;
        }

        .LHS {
            width: 25%;

            .title {
                font-size: 24px;
            }

            .image {
                padding: 32px 0px;
            }
        }

        .central-panel {
            width: 50%;
        }

        .full-width {
            border-color: rgba(var(--center-channel-color-rgb), 0.16);
        }

        .RHS {
            width: 25%;
            position: sticky;

            .price-container {
                font-weight: normal;
                padding: 24px;
                border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                box-sizing: border-box;
                box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
                background-color: var(--center-channel-bg);
                margin-bottom: 24px;
                width: 270px;

                .select-plan {
                    border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                    box-sizing: border-box;
                    margin-bottom: 20px;

                    .title {
                        display: flex;
                        font-weight: 600;
                        font-size: 14px;
                        justify-content: space-between;
                        line-height: 20px;

                        a {
                            font-weight: normal;
                            font-size: 11px;
                            line-height: 16px;
                        }
                    }

                    .plans-list {
                        label {
                            color: rgba(var(--sys-center-channel-color-rgb), 0.64);
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 16px;
                        }

                        @media screen and (-webkit-min-device-pixel-ratio:0) {
                            input[type='radio'] {
                                visibility: hidden;
                            }
                        }

                        @-moz-document url-prefix() {
                            input[type='radio'] {
                                visibility: visible !important;
                            }
                        }

                        input[type='radio']:after {
                            background-color: #FFFFFF;
                            border-radius: 15px;
                            border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.24);
                            content: '';
                            display: inline-block;
                            height: 15px;
                            left: -1px;
                            position: relative;
                            top: -2px;
                            visibility: visible !important;
                            width: 15px;
                        }

                        input[type='radio']:checked:before {
                            border-radius: 9px;
                            background-color: var(--button-bg);
                            content: "";
                            display: inline-block;
                            height: 9px;
                            left: 2px;
                            position: relative;
                            top: -4px;
                            visibility: visible !important;
                            width: 9px;
                        }

                        input[type='radio']:checked:after {
                            background-color: transparent;
                            border-radius: 15px;
                            border: 1px solid var(--button-bg);
                            height: 15px;
                            left: -1px;
                            position: relative;
                            top: -20px;
                            visibility: visible !important;
                            width: 15px;
                        }

                        .selected {
                            color: var(--sys-center-channel-color);
                        }
                    }
                }

                .footer-text {
                    font-size: 14px;
                    margin-bottom: 24px;
                }

                button {
                    width: 100%;
                }
            }

            .price-text {
                font-size: 32px;
                font-weight: 600;
                padding: 16px 0px;
                line-height: 1;
            }

            .monthly-text {
                font-size: 14px;
                font-weight: normal;
            }
        }

        .waves {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: -1;
            width: 100%;
            stop {
                stop-color: var(--button-bg);
            }
        }

        .blue-dots {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: -1;
        }

        .lower-blue-dots {
            position: absolute;
            right: 0;
            bottom: 100px;
            z-index: -1;
        }

        .logo {
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        button {
            background: #0058CC;
            width: fit-content;
            height: 40px;
            font-weight: 600;
            font-size: 14px;
            border-radius: 4px;
            background: var(--button-bg);
            color: var(--button-color);
            border: 0;

            &:disabled {
                background: rgba(var(--center-channel-color-rgb), 0.08);
                color: rgba(var(--center-channel-color-rgb), 0.32);
            }
        }
    }
}

.FullScreenModal {
    .close-x {
        top: 12px;
        right: 12px;
    }
}
