.PurchaseModal {
    overflow: hidden;
    height: 100%;

    >div {
        &.processing {
            display: none;
        }

        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 77px 107px;
        color: var(--center-channel-color);
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 600;

        .footer-text {
            .normal-payment-text {
                color: rgba(var(--center-channel-color-rgb), 0.72);
                font-size: 14px;
            }

            .prorrated-payment-text {
                div {
                    display: inline-block;
                    margin-right: 4px;
                    font-family: "compass-icons";
                    font-size: 16px;
                }
            }

            a {
                color: var(--button-bg) !important;
            }
        }

        .fineprint-text {
            margin-top: 24px;
            color: rgba(var(--center-channel-color-rgb), 0.72);
            font-size: 12px;
            line-height: 16px;
        }

        .bold-text {
            font-weight: 600;
        }

        .normal-text {
            font-weight: normal;
        }

        .LHS {
            width: 25%;

            .title {
                font-weight: 600;
            }

            .image {
                padding: 32px 0;
            }
        }

        .central-panel {
            width: 50%;

            .PaymentDetails {
                padding: 10px 0 0 10%;
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                line-height: 20px;

                .PaymentInfoDisplay__paymentInfo-text {
                    width: 416px;
                    height: 318px;
                    box-sizing: border-box;
                    padding: 32px;
                    border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                    margin: 24px 0;
                    background-color: #fff;
                    border-radius: 4px;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);

                    .CardImage {
                        max-width: 55px !important;
                        max-height: 37px !important;
                    }

                    .PaymentInfoDisplay__paymentInfo-cardInfo {
                        margin: 10px 0;
                    }
                }

                .title {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                }

                .editPaymentButton {
                    padding-left: 20px !important;
                    border: none;
                    background: none;
                    color: var(--button-bg);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 24px;
                }
            }
        }

        .full-width {
            border-color: rgba(var(--center-channel-color-rgb), 0.16);
        }

        .RHS {
            position: sticky;
            width: 25%;

            .price-container {
                width: 270px;
                box-sizing: border-box;
                padding: 24px;
                border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                margin-bottom: 24px;
                background-color: var(--center-channel-bg);
                border-radius: 4px;
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
                font-weight: normal;

                .select-plan {
                    box-sizing: border-box;
                    border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                    margin-bottom: 16px;

                    .title {
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 20px;

                        a {
                            font-size: 11px;
                            font-weight: normal;
                            line-height: 16px;
                        }
                    }

                    .plans-list {
                        margin-top: 16px;

                        label {
                            color: rgba(var(--center-channel-color-rgb), 0.72);
                            font-family: Open Sans;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: normal;
                            line-height: 16px;
                        }

                        @media screen and (-webkit-min-device-pixel-ratio: 0) {
                            input[type='radio'] {
                                visibility: hidden;
                            }
                        }

                        @-moz-document url-prefix() {
                            input[type='radio'] {
                                visibility: visible !important;
                            }
                        }

                        input[type='radio']::after {
                            position: relative;
                            top: -2px;
                            left: -1px;
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.24);
                            background-color: #fff;
                            border-radius: 15px;
                            content: '';
                            visibility: visible !important;
                        }

                        input[type='radio']:checked::before {
                            position: relative;
                            top: -4px;
                            left: 2px;
                            display: inline-block;
                            width: 9px;
                            height: 9px;
                            background-color: var(--button-bg);
                            border-radius: 9px;
                            content: "";
                            visibility: visible !important;
                        }

                        input[type='radio']:checked::after {
                            position: relative;
                            top: -20px;
                            left: -1px;
                            width: 15px;
                            height: 15px;
                            border: 1px solid var(--button-bg);
                            background-color: transparent;
                            border-radius: 15px;
                            visibility: visible !important;
                        }

                        .selected {
                            color: var(--center-channel-color);
                        }

                        .radio {
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 10px !important;
                            margin-bottom: 10px;

                            .side-legend {
                                margin-top: -5px;
                                margin-left: 5px;
                                color: rgba(var(--center-channel-color-rgb), 0.64);

                                &::before {
                                    content: "(";
                                }

                                &::after {
                                    content: ")";
                                }
                            }
                        }
                    }
                }

                .footer-text {
                    margin-bottom: 24px;
                    font-size: 14px;
                }

                button {
                    width: 100%;
                }
            }

            .Badge {
                margin: 0 !important;

                .unlimited-users-badge {
                    background-color: var(--sidebar-text-active-border);
                    border-radius: 4px;
                    color: var(--button-color);
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 16px;
                    text-transform: uppercase;
                }
            }

            .price-text {
                display: flex;
                align-items: baseline;
                padding: 8px 0;
                font-size: 32px;
                font-weight: 600;
                line-height: 1;

                .price-decimals {
                    align-self: end;
                    font-size: 16px;

                    &::before {
                        content: '.';
                    }
                }
            }

            .payment-note {
                margin-top: 5px;
                margin-bottom: 10px;
                color: rgba(var(--sys-center-channel-color-rgb), 0.72);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;

                a {
                    color: var(--button-bg);
                }
            }

            .monthly-text {
                align-self: center;
                margin-left: 5px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        .logo {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        button {
            width: fit-content;
            height: 40px;
            border: 0;
            background: var(--button-bg);
            border-radius: 4px;
            color: var(--button-color);
            font-size: 14px;
            font-weight: 600;

            &:disabled {
                background: rgba(var(--center-channel-color-rgb), 0.08);
                color: rgba(var(--center-channel-color-rgb), 0.32);
            }
        }
    }
}

.background-svg {
    position: absolute;
    z-index: -1;
    top: 0;

    >div {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.FullScreenModal {
    .close-x {
        top: 12px;
        right: 12px;
    }
}

.tooltipTitle {
    font-weight: 700;
}

.tooltipText {
    color: #9a9a9a !important;
    text-align: left;
}

.proratedTooltip > .tooltip-inner {
    min-width: 300px;
}
