@import 'compass/utilities';
@import 'compass/css3';

@import 'utils/module';

.AdminPanel {
    @include border-radius($border-rad);
    @include box-shadow(0 1px 2px 0 alpha-color($black, .5));

    font-size: .95em;
    margin: 2em 0 1em;
    padding: 0;

    border: solid 1px alpha-color($black, .1);

    .AdminPanel__content {
        padding: 10px 20px 20px;
    }

    .AdminPanel__table {
        width: 100%;

        th {
            border-bottom: solid 1px alpha-color($black, .1);
        }

        td,
        th {
            padding: 6px 20px;

            &:first-child {
                padding-left: 20px;
            }
        }
    }

    .header {
        align-items: center;
        background: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;

        h3 {
            font-size: 18px;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }

        .button {
            self-align: end;
            margin-left: 10px;

            svg {
                transform: rotate(0deg);
                transition: transform 300ms;
            }
        }
    }

    &.closed {
        .header {
            .button {
                svg {
                    transform: rotate(90deg);
                    transition: transform 300ms;
                }
            }
        }
    }
}
