.SidebarNextSteps {
    width: 100%;
    color: var(--sidebar-text);
    background-color: var(--sidebar-text-hover-bg);
    padding: 12px 16px 18px 14px;
    border-left: 2px solid var(--sidebar-text-active-border);
}

.SidebarNextSteps__top {
    display: flex;

    span {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }
}

.SidebarNextSteps__close {
    border: none;
    background: none;
    padding: 0;
    margin-left: auto;
    font-size: 14.4px;
    line-height: 14px;
    opacity: 0.72;
    align-self: center;

    i::before {
        margin: 0;
    }

    &:hover {
        opacity: 1;
    }
}

.SidebarNextSteps__middle {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
}

.SidebarNextSteps__progressBar {
    margin-top: 8px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--sidebar-text-16);

    .ProgressBar {
        border-radius: 4px;
        overflow: hidden;
    }

    .ProgressBar__progress {
        border-radius: 4px;
        background-color: var(--sidebar-text);
    }
}