@charset 'UTF-8';

.productNotices {
    width: 692px;

    .modal-content {
        padding: 40px;
    }

    .GenericModal__header {
        padding: 0px;
    }

    .GenericModal__body {
        padding: 0px;
    }

    .productNotices__helpText {
        margin-top: 8px;
    }

    .productNotices__img {
        border: 1px solid var(--center-channel-color-16);
        border-radius: 4px;
        max-height: 347px;
        margin: 20px auto 0px;
        display: block;
    }
    .productNotices__imageDiv {
        margin: 0px auto;
    }

    .modal-footer {
        margin-top: 20px;
    }

    .productNotices__info {
        position: fixed;
        bottom: 45px;
        z-index: 1;
    }

    .circle {
        height: 6px;
        width: 6px;
        margin: 0 3px;
        vertical-align: middle;
    }

    svg {
        margin-left: 23px;
        margin-right: 5px;
        vertical-align: middle;
    }

    &.GenericModal.modal-dialog {
        height: unset;
        margin-top: calc(50vh - 307px);
    }

    &.GenericModal .modal-footer {
        position: relative;
        padding: 0px;
    }
    .GenericModal__button {
        padding: 10px 16px;
        border: none;
        span {
            font-size: 12px;
            line-height: 9px;
        }
        &.confirm {
            background: var(--button-bg);
            color: var(--button-color);

            &:hover:not(.disabled) {
                background: linear-gradient(0deg, rgba(var(--center-channel-color-rgb), 0.16), rgba(var(--center-channel-color-rgb), 0.16)), var(--button-bg);
            }

            &:active {
                background: linear-gradient(0deg, rgba(var(--center-channel-color-rgb), 0.32), rgba(var(--center-channel-color-rgb), 0.32)), var(--button-bg);
            }

            &:focus {
                box-shadow: inset 0 0 0 2px var(--sidebar-text-active-border);
            }
        }
        &.actionButton {
            box-shadow: inset 0 0 0 1px var(--button-bg);
            border-radius: 4px;
            display: inline-block;
            color: var(--button-bg);
            background: var(--center-channel-bg);

            &:hover {
                background: rgba(var(--button-bg-rgb), 0.04);
                text-decoration: none;
            }

            &:active {
                background: rgba(var(--button-bg-rgb), 0.08);
            }

            &:focus {
                box-shadow: inset 0 0 0 2px var(--button-bg);
            }
        }
    }

    .fa {
        width: 14px;
        font-size: 14px;
        margin-left: 5px;
    }
}
