.get-app {
    min-height: 100vh;
    background-color: #fff;
}

.get-app__header {
    height: 102px;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);

    .get-app__logo {
        width: 255px;
        height: auto;
        margin: 30px 40px;
    }
}

.get-app__dialog {
    margin: 80px auto;
    width: 1127px;
    display: flex;
    align-items: center;
    height: 423px;
}

.get-app__graphic {
    flex: 0 0 487px;
}

.get-app__dialog-body {
    flex: 0 0 560px;
    margin-left: 80px;
}

.get-app__launching > span {
    opacity: 0.8;	
    color: #000;	
    font-family: "Open Sans";	
    font-size: 32px;	
    line-height: 43px;
}

.get-app__alternative {
    margin-top: 8px;
    
    > span {
        opacity: 0.8;	
        color: #000000;	
        font-family: "Open Sans";	
        font-size: 16px;	
        line-height: 22px;
    }
}

.get-app__buttons {
    margin-top: 28px;
}

.get-app__status {
    margin-right: 20px;
    font-family: "Open Sans";
    display: inline-block;

    > a {
        font-size: 16px;	
        font-weight: 600;	
        line-height: 22px;
        padding: 13px 30px;
        border-radius: 4px;
    }
}

.get-app__download {
    background-color: #145DBF;
}

.get-app__continue {
    color: #145DBF;
    border-color: #145DBF;
}

.get-app__preference {
    margin-top: 20px;

    > label > span {
        opacity: 0.8;	
        color: #000;	
        font-family: "Open Sans";	
        font-size: 16px;	
        line-height: 22px;
        font-weight: normal;
    }
}

@media only screen and (max-width: 768px) {
    .get-app__header {
        height: 52px;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);

        .get-app__logo {
            width: 170px;
            height: auto;
            margin: 0 auto;
            display: block;
            padding-top: 12px;
        }
    }

    .get-app__dialog {
        margin: 32px auto;
        width: 300px;
        height: auto;
        flex-direction: column-reverse;
    }

    .get-app__graphic {
        flex: 0 0 487px;
        margin-top: 16px;
    }
    
    .get-app__dialog-body {
        flex: 0 0 315px;
        margin-left: 0;
    }

    .get-app__launching {
        text-align: center;
        max-width: 213px;
        margin: 0 auto;

        > span {
            font-size: 20px;	
            line-height: 27px;
            font-weight: 600;
        }
    }

    .get-app__alternative {
        display: none;
    }

    .get-app__buttons {
        margin-top: 25px;
    }

    .get-app__status {
        margin-right: 0;
        display: block;
        margin-bottom: 20px;

        > a {
            width: 219px;
        }
    }
}