@charset 'UTF-8';

.user-settings {
    min-height: 300px;

    .table-responsive {
        max-height: 300px;
        max-width: 560px;
    }

    .authorized-apps__help {
        font-size: 13px;
        font-weight: 400;
        margin-top: 7px;
    }

    .authorized-apps__wrapper {
        padding: 10px 0;
    }

    .authorized-app {
        display: inline-block;
        width: 100%;

        &:not(:last-child) {
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
        }

        .authorized-app__name {
            font-weight: 600;
        }

        .authorized-app__url {
            font-size: 13px;
            font-weight: 400;
        }

        .authorized-app__description,
        .authorized-app__deauthorize {
            font-size: 13px;
            margin: 5px 0;
        }
    }

    textarea {
        resize: vertical;
    }
}

.modal {
    .settings-modal {
        width: 800px;

        .modal-back {
            font-size: 27px;
            font-weight: normal;
            height: 40px;
            left: 0;
            line-height: 32px;
            position: absolute;
            text-align: center;
            top: 12px;
            width: 50px;

            .fa {
                height: 100%;
                left: 0;
                line-height: inherit;
                position: absolute;
                width: 100%;
            }
        }

        .modal-body {
            margin: 0 auto;
            min-height: calc(100% - 62px);
            padding: 0;
        }

        li {
            list-style: none;
        }

        label {
            font-weight: 600;

            &.text-left {
                text-align: left;
            }

            &.has-error {
                font-weight: normal;
            }
        }

        .no-padding--left {
            padding-left: 0;
        }

        .profile-img {
            border-radius: 100%;
            height: 128px;
            width: 128px;
        }

        .profile-img-preview {
            background-position: 50% 50%;
            background-size: cover;
            border-radius: 100%;
            height: 128px;
            width: 128px;
        }
        .profile-img__container {
            height: 128px;
            position: relative;
            width: 128px;
        }

        .profile-img__remove {
            @include border-radius(50%);
            @include single-transition(all, .15s, ease);
            background: $black;
            color: $white;
            height: 26px;
            position: absolute;
            right: 8px;
            text-decoration: none;
            top: 4px;
            width: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            padding: 0;

            span {
                font-size: 22px;
                margin-top: -3px;
            }
        }


        .team-img-preview,
        .team-img__container {
            height: 128px;
            position: relative;
            width: 128px;

            img {
                height: auto;
                width: 100%;
            }

            .img-preview__image {
                @include border-radius(6px);
                background-color: $white;
                border: 1px solid alpha-color($black, .15);
                overflow: hidden;
            }

            div {
                @include background-size(cover);
                background-color: $white;
                background-position: center;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
            }
        }

        .team-img__remove {
            @include border-radius(50%);
            @include single-transition(all, .15s, ease);
            background: $black;
            color: $white;
            height: 24px;
            line-height: 23px;
            position: absolute;
            right: -8px;
            text-align: center;
            text-decoration: none;
            top: -8px;
            width: 24px;
            border: none;
            padding: 0;

            span {
                font-size: 22px;
                margin-top: -3px;
            }
        }

        .settings-table {
            display: table;
            margin: 0 auto;
            max-width: 1000px;
            table-layout: fixed;
            width: 100%;

            > div {
                display: table-cell;
                vertical-align: top;
            }

            .nav {
                position: fixed;
                width: 179px;

                &.position--top {
                    top: 57px;
                }
            }

            .security-links {
                margin-right: 20px;

                .fa {
                    margin-right: 6px;
                }
            }

            .settings-links {
                width: 180px;
            }

            .settings-content {
                padding: 0 20px 30px;

                .modal-header {
                    display: none;
                }

                .section-max {
                    @include legacy-pie-clearfix;
                    @include alpha-property('background', $black, .05);
                    margin-bottom: 0;
                    padding: 1em 0 1.3em;

                    .section-title {
                        margin: 0 0 5px;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .timezone-container {
                    overflow: visible;
                    display: table;
                    width: 100%;
                }

                .appearance-section {
                    .theme-group {
                        .input-group-addon {
                            padding: 4px 5px;
                            width: 40px;
                        }

                        img {
                            border: 1px solid rgba(black, .15);
                            width: 29px;
                        }
                    }

                    .group--code {
                        select {
                            @include appearance(none);
                            appearance: none;
                            padding-right: 25px;
                        }

                        &:before {
                            @include font-smoothing;
                            content: '\f0d7';
                            display: inline-block;
                            font: normal normal normal 14px/1 FontAwesome;
                            pointer-events: none;
                            position: absolute;
                            right: 50px;
                            text-rendering: auto;
                            top: 11px;
                            z-index: 5;

                            .browser--ie & {
                                display: none;
                            }
                        }
                    }

                    .premade-themes {
                        margin-bottom: 10px;

                        .theme-label {
                            font-weight: 400;
                            margin-top: 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        img {
                            border: 3px solid transparent;
                            &:hover {
                              cursor: pointer;
                            }
                        }

                        .active {
                            img {
                                border-color: $primary-color;
                            }
                        }
                    }

                    .theme-elements {
                        padding-left: 16px;

                        .element {
                            margin-right: 10px;

                            &:nth-child(2n) {
                                margin-right: 0;
                            }
                        }
                    }

                    .theme-elements__header {
                        border-bottom: 1px solid;
                        cursor: pointer;
                        font-size: em(13.5px);
                        font-weight: 600;
                        margin: 10px 20px 0 0;
                        padding: 1px 0 10px;

                        .fa-minus {
                            display: none;
                        }

                        &.open {
                            .fa-minus {
                                display: inline-block;
                            }

                            .fa-plus {
                                display: none;
                            }
                        }

                        .header__icon {
                            @include opacity(.5);
                            float: right;
                        }
                    }

                    .theme-elements__body {
                        @include border-radius(0 0 3px 3px);
                        @include legacy-pie-clearfix;
                        @include alpha-property(background-color, $white, 0.05);

                        margin: 0 20px 0 0;
                        padding: 0 0 0 24px;
                        transition: all 0.4s ease-out;
                        max-height: 0;
                        overflow-y: hidden;

                        &.open {
                            max-height: 1200px;
                            margin: 0 20px 0 0;
                            padding: 24px 0 0 24px;
                        }
                    }

                    .custom-label {
                        font-size: 12px;
                        font-weight: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                    }

                    .input-group-addon {
                        background: transparent;
                    }

                    .radio {
                        label {
                            font-weight: 600;
                        }
                    }

                    .copy-theme-button {
                        padding: 5px 8px;
                        border: 1px solid v(link-color);
                        text-decoration: none;
                    }

                    .copy-theme-success {
                        height: 30px;
                        padding: 5px 12px;
                        margin-left: 10px;
                    }
                }

                .divider-dark {
                    border-bottom: 1px solid #aaa;
                }

                .divider-light {
                    border-bottom: 1px solid lightgrey;

                    & + .divider-light {
                        display: none;
                    }

                    & + .divider-dark {
                        display: none;
                    }
                }

                .setting-list {
                    list-style-type: none;
                    padding: 0;
                }

                .setting-box__item {
                    &:first-child {
                        padding-top: 3px;
                    }

                    &:last-child {
                        hr {
                            display: none;
                        }
                    }
                }

                .setting-box__token-id {
                    margin: 4px 0;
                }

                .setting-box__inline-error {
                    margin-left: 5px;
                }

                .setting-list__hint {
                    margin-top: 20px;
                }

                .fa-wrapper {
                    margin: 0 5px;
                }

                .resend-verification-wrapper:before {
                    content: "\00a0 ";
                }

                .mentions-input {
                    margin-top: 10px;
                }

                .setting-list-item {
                    margin-top: 7px;
                }

                .has-error {
                    color: #a94442;
                }

                .file-status {
                    color: #555;
                    font-size: 13px;
                    margin-top: 8px;
                }

                .confirm-import {
                    margin: 10px 0;
                    padding: 4px 10px;
                }
            }
        }
        .disabledMessage {
            background-color: rgba(0,0,0,0.1);
            padding: 15px;
            margin-top: 10px;
        }

        .nav-pills > li button {
            color: rgba(var(--sidebar-text-rgb), 0.6);
        }
    }

    .nav-pills {
        > li {
            margin: 0;

            button {
                border-radius: 0;
                color: $gray;
                overflow: hidden;
                padding: 8px 15px;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }

            .icon {
                font-size: 15px;
                margin-right: 10px;
                text-align: center;
                top: 2px;
                width: 14px;
            }

            &:hover {
                button {
                    @include alpha-property(background-color, $black, .1);
                }
            }

            &.active {
                div {
                    background-color: #e1e1e1;
                    color: #111;

                    &:before {
                        background: $black;
                        content: '';
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 5px;
                    }
                }

                button,
                button:hover,
                button:focus {
                    @include alpha-property(background-color, $black, .1);
                    border-radius: 0;
                    font-weight: 400;
                    position: relative;
                }
            }
        }
    }

    h3 {
        font-size: em(20px);
    }
}

.channel-settings {
    padding: 0 10px;
}

.tab-header {
    margin-bottom: 1em;
}

.setting-name {
    color: grey;
    font-weight: 500;
}

.sel-btn {
    margin-right: 5px;
}

.member-div {
    border-bottom: 1px solid lightgrey;
    margin: 0;
    padding: 2px;
    position: relative;
    width: 100%;

    &:first-child {
        border-top: 1px solid lightgrey;
    }

    .post-profile-img {
        @include border-radius(50px);
        margin-right: 8px;
    }
}

.member-role,
.member-drop {
    .fa {
        font-size: 16px;
        margin: 0 0 0 4px;
    }

    .member-menu {
        right: 0;
        top: 24px;
    }
}

.member-invite {
    position: absolute;
    right: 10px;
    top: 7px;
}

.member-menu {
    left: auto;
    right: 0;
}

.member-list {
    overflow-x: visible;
    width: 100%;
}

.member-page {
    padding-top: 50px;
}

.active-border {
    border: 1px solid red;
}

.color-btn {
    margin: 4px;
}

.no-resize {
    resize: none;
}

.user-settings__submit-checkbox {
    padding-top: 0px;
    padding-bottom: 20px;
}

.section-min {
    padding: 1em;
    cursor: pointer;
    position: relative;
    @include clearfix;

    &:hover {
        background: #f9f9f9;
    }

    &:hover .fa {
        display: inline-block;
    }

    &:hover .section-min__edit {
        text-decoration: underline;
    }

    .d-flex {
        justify-content: space-between;
    }
}

.section-min__title {
    font-weight: 600;
    margin: 0 0 5px;
    padding-right: 50px;
    font-size: 14px;
    line-height: 20px;

}

.section-min__edit {
    margin-bottom: 5px;
    text-align: right;

    .fa {
        @include opacity(.5);
        display: none;
        font-size: 12px;
        margin-right: 5px;
    }
}

.section-min__describe {
    @include clearfix;
    @include opacity(.7);
    text-overflow: ellipsis;
    white-space: pre;
}
