.Table__table {
    width: 100%;

    th, td {
        padding: 4px 12px;
    }
}

.Table__table-header {
    line-height: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.16);

    &:last-child {
        border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
    }
}

.Table__table-row {
    height: 41px;

    &:nth-child(odd) {
        background: rgba(var(--sys-button-bg-rgb), 0.04);
    }
    &:hover {
        background: rgba(var(--sys-button-bg-rgb), 0.08);
        cursor: pointer;
        color: #3D3C40;
    }
    .Table__table-icon {
        width: 56px;
    }
    .Table__table-icon a i {
        display: none;
    }
    .Table__table-icon a {
        text-decoration: none;
        padding: 8px;
        border-radius: 4px;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32px;
        height: 32px;
        color: rgba(var(--sys-center-channel-color-rgb), 0.72);
        margin-left: auto;
    }
    &:hover .Table__table-icon a i {
        display: flex;
    }
    .Table__table-icon a:hover {
        background: rgba(var(--sys-center-channel-color-rgb), 0.08);
    }
}

.Table__table-bottomDesc {
    margin-top: 4px;
    color: rgba(var(--sys-center-channel-color-rgb), 0.56);
    font-size: 12px;
    line-height: 16px;
}

.Table__loading {
    margin: auto;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
}

.Table__empty {
    font-size: 1.6rem;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.Table__table-headerTotal {
    text-align: right;
}

.Table__paging {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4px;

    > span {
        margin-right: 8px;
    }

    button {
        background: none;
        border: none;
        border-radius: 4px;
        padding: 7px;
        height: 32px;
        margin-left: 4px;

        > i {
            font-size: 18px;

            &::before {
                margin: 0;
            }
        }

        &:disabled {
            opacity: 0.6;
        }

        &:hover:not(:disabled) {
            background: rgba(var(--sys-center-channel-color-rgb), 0.08);
        }
    }
}
