.StarterEditionRightPannel {
    .svg-image {
        text-align: center;

        svg {
            margin: 0 auto;
        }
    }

    .upgrade-title {
        margin: 10px 0;
        color: #3f4350;
        font-family: Metropolis;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .advantages-list {
        margin: 7px 0;

        .item {
            margin: 3px 0;

            i {
                margin-right: 5px;
            }
        }
    }

    button {
        width: 100%;
        margin: 5px auto;
        border-radius: 4px;
    }

    .purchase_buttons {
        margin-top: 20px;

        button {
            max-height: 48px !important;
            padding: 6px 12px !important;
            margin: 0 5px !important;
        }
    }

    .upgrade-error {
        margin-top: 10px;
    }
}

.StarterLeftPanel {
    .title {
        color: #3f4350;
        font-family: Metropolis;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }

    .subtitle {
        color: #3d3c40;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
    }

    .licenseInformation {
        .licenseKeyTitle {
            font-family: Metropolis;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
        }

        .uploadButtons {
            margin-top: 10px;

            input {
                display: hidden;
            }

            button {
                border-radius: 4px;

                &.btn-upload {
                    margin-left: 10px;
                }
            }
        }
    }
}
