@import 'sass/utils/_mixins';

.DeliquencyModal {
    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%) !important;
    }

    .modal-header,
    .modal-footer {
        display: flex;
        padding-left: 32px;
        padding-right: 32px;
    }

    .DeliquencyModal__header {
        border: none;
        align-items: center;
        
        &.modal-header {
            background: var(--center-channel-bg);
        }

        h3 {
            font-weight: bold;
            font-size: 22px;
            line-height: 28px;
            color: rgba(63, 67, 80, 1); 
        }

        .icon-close {
            @include button-medium;
            background: var(--center-channel-bg);
            border: none;
            color:rgba(63, 67, 80, 1);
            font-size: 24px;
            padding: 0;
            margin-left: auto;
        }
    }

    .modal-body {
        padding: 0 32px;
        display: block;
        color: rgba(63, 67, 80, 1);
        margin-bottom: 28px;
        overflow: hidden;
        max-height: none;
    }

    &__body {
        text-align: center;

        &__freemium {
            text-align: left;
        }

        &__title {
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 8px;
            line-height: 28px;
        }

        &__information {
            font-size: 12px;
            margin: 0;
        }

        &__limits-information {
            font-size: 12px;
            margin: 0;
            margin-bottom: 24px;
        }

        &__subheader {
            color: rgba(63, 67, 80, 0.56);
            text-transform: uppercase;
            font-weight: bold;
            font-size: 10px;
            display: block;
            margin-bottom: 16px;
        }
    }

    &__footer {
        &--secondary {
            @include tertiary-button;
            @include button-large;
        }

        &--primary {
            @include primary-button;
            @include button-large;
            margin-left: auto;
        }
    }
}
