.visit-marketplace-text {
    margin: 12px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.visit-marketplace {
    top: 1px;
    padding-top: 4px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-size: 12px;
    text-align: center;
}

.visit-marketplace-button {
    border-radius: 4px;
}

.visit-marketplace-button-text {
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 9px;
}

.visit-marketplace-button-icon {
    margin-right: 5px;
    font-size: 14.4px;
}

.junk {
    min-width: 500px;
}

.tutorial-tip-container {
    min-width: 265px;
    margin-right: 24px;
    margin-left: 24px;
    font-family: 'Open Sans';
}

.tutorial-tip-header {
    margin: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.tutorial-tip-text {
    margin: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.tutorial-button-container {
    text-align: right;
}

.tutorial-button-button {
    border-radius: 4px;
    text-align: right;
}

.tutorial-button-text {
    font-size: 12px;
    font-weight: 600;
    line-height: 9px;
}

.pulsating-icon {
    margin-top: -40px;
    margin-right: 7px;
}
