.VisitMarketplace {
    margin: 12px;
    font-size: 14px;
    text-align: center;
}

.VisitMarketplaceButton {
    top: 1px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-size: 12px;
    text-align: center;
}
