.TeamEditionRightPannel {
    .svg-image {
        text-align: center;

        svg {
            margin: 0 auto;
        }
    }

    .upgrade-title {
        color: #3f4350;
        font-family: Metropolis;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 10px 0;
    }

    .advantages-list {
        margin: 7px 0;

        .item {
            margin: 3px 0;

            i {
                margin-right: 5px;
            }
        }
    }

    button {
        width: 100%;
        margin: 5px auto;
        border-radius: 4px;
    }

    .upgrade-error {
        margin-top: 10px;
    }
}

.TeamEditionLeftPanel {
    .title {
        color: #3f4350;
        font-family: Metropolis;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
}
