.DowngradeModal {
    padding-top: 25px;
}

.background-svg {
    position: absolute;
    z-index: -1;
    top: 0;

    >div {
        position: absolute;
        top: 0;
        left: 0;
    }

    height: 100%;
    width: 100%;
}

.ProcessPayment-progress {
    margin: 0 auto;
    margin-top: 60px;
    height: 4px;
    width: 387px;
    background: rgba(34,64,109, 0.12);
    border-radius: 4px;
}

.ProcessPayment-progress-fill {
    height: 100%;
    background: var(--button-bg);
    border-radius: 4px;
}