
.PolicyChannelsList {
    .ChannelList__nameColumn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        span.channel-icon {
            margin: 3px 8px 0 0px;
        }
    }
}