.Button {
    padding: 4px 10px;
    border-radius: 4px;
    position: relative;


    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;

    &:hover,
    &:active {
        text-decoration: none;
    }

    &.is-active {
        color: rgba(var(--button-bg-rgb), 1);
    }


    &.Button___transparent {
        background: transparent;
        border: none;

        &:hover,
        &:focus {
            background: rgba(var(--center-channel-color-rgb), .08);
        }
        &.is-active,
        &:active:not(:active) {
            background: rgba(var(--button-bg-rgb), .08);
            &:focus {
                position: relative;
                &:after {
                    @extend %synthetic-block;
                    border-radius: 4px;
                    border: 2px solid rgba(var(--button-bg-rgb), 1);
                }
            }
        }
    }


    &.Button___large {
        font-size: 14px;

        &.Button___icon {
            width: 32px; height: 32px;
            padding: 7px;
            font-size: 18px;
            line-height: 18px;
        }
    }

    &.Margined + * {
        margin-left: 4px;
    }

    .Icon svg {
        width: 12px;
        height: 12px;
    }
    .Button_prepended {
        margin-right: .75rem;
    }
    .Button_appended {
        margin-left: .75rem;
    }
    .dot {
        position: absolute;
        width: 4px; height: 4px;
        right: 6px; top: 6px;
        border-radius: 50%;

        background: rgba(var(--sidebar-text-active-border-rgb), 1);
    }
}

.Separated,
.Button:not(.Margined):not(:hover):not(:focus):not(.is-active) {
    & + .Separated,
    & + .Button:not(.Margined):not(:hover):not(:focus):not(.is-active) {
        position: relative;
        &::before {
            width: 1px;
            height: 15px;
            position: absolute;
            left: -.5px;
            background: rgba(var(--center-channel-color-rgb), .16);
            content: '';
            display: inline-block;
        }
    }
}

%synthetic-block {
    position: absolute;
    display: block;
    width: 100%; height: 100%;
    left: 0; top: 0;
    content: '';
}
