.RhsThread__scrollbars {
    height: auto;
    max-height: 100%;
    overflow-y: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,.4) !important;
        }
    }
}