.AdminSidebarHeader {
    background: #333;

    > div {
        &:first-child {
            position: relative;
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
        }

        > img {
            width: 36px;
            height: 36px;
            border-radius: 36px;
        }

        .header__info {
            @include clearfix;
            @include flex-grow(1);

            position: relative;
            width: 100%;
            padding: 3px 15px 0 8px;
            color: $white;

            .team__name {
                overflow: hidden;
                max-width: 100%;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .user__name {
                @include opacity(0.8);

                font-weight: 400;
            }
        }

        .menu-icon {
            @include opacity(0.8);

            margin-right: 10px;
            fill: $white;
        }

        &:hover {
            .user__name,
            .menu-icon {
                @include opacity(1);
            }

            > div > img {
                @include opacity(0.8);
            }
        }
    }

    .Menu {
        margin-left: 16px;
    }
}
