.admin-panel {
    @include border-radius($border-rad);
    @include box-shadow(0 1px 2px 0 alpha-color($black, .5));
    @include clearfix;
    font-size: .95em;
    margin: 2em 0;
    padding: 0;

    .header {
        align-items: center;
        background: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;

        h3 {
            font-size: 18px;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }

        .button {
            self-align: end;
            margin-left: 10px;

            svg {
                transform: rotate(0deg);
                transition: transform 300ms;
            }
        }
    }

    &.closed {
        .header {
            .button {
                svg {
                    transform: rotate(90deg);
                    transition: transform 300ms;
                }
            }
        }
    }
}
