.channel-view {
    .badge {
        @include border-radius(100px);
        font-size: 11px;
        height: 18px;
        min-width: 18px;
        padding: 0 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 18px;
    }

    .team-sidebar {
        .badge {
            border: 1px solid transparent;
            position: absolute;
            right: -4px;
            top: -8px;
            z-index: 5;
            box-shadow: 0 0 0 3px #0E4289;
        }
    }

    .navbar-toggle {
        .badge {
            position: absolute;
            top: 10px;
            left: 8px;
        }
    }
}