.channel-view {
    .badge {
        @include border-radius(100px);
        font-size: 11px;
        height: 18px;
        min-width: 18px;
        padding: 0 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 18px;
    }

    .team-sidebar {
        .badge {
            border: 1px solid transparent;
            position: absolute;
            right: -4px;
            top: -8px;
            z-index: 5;
            box-shadow: 0 0 0 3px var(--sidebar-header-bg);

            &:before {
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                border: 3px solid rgba(0, 0, 0, 0.2);
                border-radius: 100%;
                left: -4px;
                top: -4px;
            }
        }
    }

    .navbar-toggle {
        .badge {
            position: absolute;
            top: 10px;
            left: 8px;
        }
    }
}