.channel-view {
    .badge {
        @include border-radius(100px);
        font-size: 11px;
        height: 17px;
        line-height: 16px;
        min-width: 18px;
        padding: 0 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .team-sidebar {
        .badge {
            border: 1px solid transparent;
            position: absolute;
            right: -8px;
            top: -6px;
            padding: 0px 6px;
            z-index: 5;
        }
    }

    .navbar-toggle {
        .badge {
            position: absolute;
            top: 10px;
            left: 8px;
        }
    }
}