@charset 'UTF-8';

button {
    &.style--none {
        background: transparent;
        border: none;
        padding: 0;

        &:focus {
            outline: 0;
        }

        &.btn {
            padding: 6px 12px;
        }

        &.btn--block {
            text-align: left;
            width: 100%;
        }
    }
}

.btn {
    @include single-transition(all, .15s, ease-in);
    @include border-radius($border-rad);

    &.btn-primary {
        background: $primary-color;
        border-color: transparent;

        &:hover,
        &:focus,
        &:active {
            background: $primary-color--hover;
        }
    }

    &.btn-default {
        background: alpha-color($black, .7);
        color: $white;

        &:hover,
        &:focus,
        &:active {
            background: alpha-color($black, .8);
            color: $white;
        }
    }

    &.btn-danger {
        color: $white;

        .app__body & {
            color: $white;

            &:hover,
            &:focus,
            &:active {
                color: $white;
            }
        }

        &:hover,
        &:focus,
        &:active {
            color: $white;
        }
    }

    &.btn-inactive {
        background: $light-gray;
        border-color: transparent;
        color: $white;
    }

    .fa-refresh {
        margin-right: 4px;
    }
}
