.cheader-icon {
    @include border-radius(4px);
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 32px;
    margin: 16px 0 0 4px;
    min-width: 32px;
    position: relative;
    text-align: center;
    z-index: 5;
    fill: v(center-channel-color-48);
    color: v(center-channel-color-48);

    &:hover {
        background: v(center-channel-color-04);
        fill: v(center-channel-color-64);
        color: v(center-channel-color-64);
    }

    &:active,
    &--active,
    &--active:hover {
        background: v(link-color-08);
        fill: v(link-color);
        color: v(link-color);
    }

    .icon__text {
        font-weight: 600;
        margin: 0 2px;
    }

    .icon__search {
        top: 1px;
    }
}

.cheader-icon--wide {
    width: auto;
    padding: 0 6px;
}