@charset 'UTF-8';

.color-input {
    position: relative;
}

.color-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.color-pad {
    padding: 5px;
}

.color-popover {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 8px;
    z-index: 12;
}

/* hiding hex input from color picker */
.chrome-picker .flexbox-fix:nth-child(2) {
    display: none !important;
}
