@charset "UTF-8";

.reacticon {
    display: inline-block;
    fill: inherit;
    opacity: .7;
    position: relative;
    top: 2px;
    vertical-align: middle;
    visibility: hidden;
}

.emoticon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 21px;
    min-height: 1em;
    min-width: 1em;
    vertical-align: middle;
    width: 21px;
}

.emoticon-suggestion {
    @include clearfix;
    cursor: pointer;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    width: 100%;

    > div {
        &:first-child {
            text-align: center;
            width: 30px;
        }
    }
}

.emoticon-suggestion__image {
    margin-top: -2px;
    max-height: 20px;
    max-width: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.emoji-picker {
    @include clearfix;
    @include user-select(none);
    border-radius: 3px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    height: 362px;
    margin-right: 3px;
    position: absolute;
    width: 278px;
    z-index: 10;

    .app__content & {
        margin-right: 0;
    }

    &.bottom {
        margin-top: 10px;
    }
}

.emoji-picker__categories {
    flex-grow: 0;
    flex-shrink: 0;

    .emoji-picker__category {
        color: #333333;
        display: inline-block;
        font-size: 16px;
        margin: 3px 6px;
        text-align: center;
        width: 15px;

        &--selected,
        &:hover {
            color: #666666;
        }

        &.disable {
            pointer-events: none;
        }
    }
}

.emoji-picker__search-container {
    position: relative;
    border-top-style: solid;
    border-top-width: 1px;

    .emoji-picker__search-icon {
        padding-left: 6px;
        padding-top: 6px;
        position: absolute;
        font-size: 13px;
    }

    .emoji-picker__search {
        border-width: 0px;
        padding: 2px 0 2px 25px;
        width: 100%;
        height: 25px;
        font-size: 12px;

        &:focus{
            outline: none;
        }
    }
}

.emoji-picker__items {
    border-top-style: solid;
    border-top-width: 1px;
    height: 300px; // overwritten in jsx file
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 8px 8px 8px;
    position: relative;
    width: 100%;

    .emoji-picker__container {
        min-height: 100%;
        position: relative;
        width: 100%;
    }

    .emoji-picker__category-header {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 6px;
        margin-top: 3px;
        padding-top: 3px;
    }

    .emoji-picker__preview_sprite {
        display: inline-block;
        height: 45px;
        margin: 3px;
        padding: 3px;
        vertical-align: top;
    }

    .emoji-picker-items__container {
        .emoji-picker__item {
            border-radius: 3px;
            cursor: pointer;
            display: inline-block;
            height: 26px;
            margin: 0;
            padding: 2px;
            position: relative;
            vertical-align: middle;
            width: 26px;

            > div {
                text-align: center;

                > img {
                    left: -21px;
                    position: relative;
                    top: -21px;

                    &.emoji-shipit {
                        left: -26px;
                        top: -28px;
                    }

                    &.emoji-category--custom {
                        @include transform(scale(1));
                        height: auto;
                        left: auto;
                        max-height: 22px;
                        max-width: 22px;
                        top: auto;
                        width: auto;
                    }
                }
            }
        }

        > span {
            border-radius: 6px;
            border: 0;
            cursor: pointer;
            display: inline-block;
            height: 21px;
            margin: 3px;
            overflow: hidden;
            padding: 0;
            text-align: center;
            vertical-align: top;
            width: 21px;
        }
    }

    .emoji-picker__item-wrapper {
        .emoji-picker__item {
            font-size: 18px;
            height: auto;
            margin: 0 auto;
            max-height: 21px;
            max-width: 21px;
            min-height: 0;
            min-width: 0;
            width: auto;
        }
    }
}

.emoji-picker__preview {
    align-items: stretch;
    border-top: 1px solid;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    height: 50px;
    justify-content: flex-start;
    margin-top: -15px;
    padding: 7px 10px 0;
    position: relative;
    vertical-align: middle;
    width: 278px;

    &.emoji-picker__preview-placeholder {
        padding: 12px;
    }

    > div {
        display: table-cell;
        vertical-align: middle;
    }

    .emoji-picker__preview-image-label-box {
        margin-left: 3px;

        .emoji-picker__preview-name {
            font-size: 13px;
            font-weight: bold;
        }

        .emoji-picker__preview-aliases {
            display: block;
            font-size: 12px;
            font-weight: bold;
        }
    }

    .emoji-picker__preview-image-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        max-height: 36px;
        width: 42px;
        max-width: 42px;
        text-align: center;

        .sprite-preview {
            border: none;
            display: inline-block;
            height: 36px;
            padding: 0;
            vertical-align: middle;
            width: 36px;
        }
    }

    .emoji-picker__preview-image {
        max-height: 36px;
        max-width: 42px;
    }
}
