@charset "UTF-8";

.reacticon {
    position: relative;
    top: 2px;
    display: inline-block;
    fill: inherit;
    opacity: 0.7;
    vertical-align: middle;
    visibility: hidden;
}

.emoticon {
    display: inline-flex;
    overflow: hidden;
    width: 21px;
    min-width: 21px;
    height: 21px;
    min-height: 21px;
    align-items: end;
    justify-content: space-between;
    border: none !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;

    &--unicode {
        font-size: 21px;

        .os--windows & {
            font-size: 16px;
            line-height: 1.3;
        }
    }

    &:not(.emoticon--unicode) {
        color: transparent;

        &::selection {
            background-color: transparent;
            color: transparent;
        }
    }
}

.emoticon-suggestion {
    @include clearfix;

    width: 100%;
    height: 30px;
    cursor: pointer;
    font-size: 13px;
    line-height: 30px;

    > div {
        &:first-child {
            width: 30px;
            text-align: center;
        }
    }
}

.emoticon-suggestion__image {
    max-width: 20px;
    max-height: 20px;
    padding: 0;
    margin-top: -2px;
    text-align: center;
    vertical-align: middle;
}

.emoji-picker {
    @include border-radius($border-rad);
    @include clearfix;
    @include user-select(none);

    position: absolute;
    z-index: 1100;
    display: flex;
    width: 350px;
    flex-direction: column;
    border: 1px solid;
    margin-right: 3px;
    border-radius: 4px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

    .emoji-picker__header {
        background: var(--sidebar-header-bg);
    }

    &.emoji-picker--single {
        .emoji-picker__header {
            position: relative;
        }
    }

    .browser--ie & {
        width: 325px;
    }

    .app__content & {
        margin-right: 0;
    }

    &.bottom {
        margin-top: 10px;
    }

    .nav-tabs {
        display: flex;
        flex: 0 0 34px;
        justify-content: flex-end;
        margin-bottom: 0;

        li {
            height: 34px;
            flex: 1;
            font-size: 12px;
            font-weight: 600;

            &:first-child {
                margin-left: 7px;
            }

            a {
                height: 40px;
                padding: 7px 12px;
                border: none !important;
                border-bottom: 2px solid transparent !important;
                margin-right: 5px;
                margin-left: 5px;
                outline: none;
            }
        }

        li.active {
            a {
                height: 34px;
                padding-top: 9px;
                margin-right: 5px;
                margin-left: 5px;
                border-radius: 0;
                opacity: 1;
            }
        }

        svg {
            position: relative;
            top: 2px;
        }
    }

    .tab-content {
        border-top: 1px solid rgba(61, 60, 64, 0.2);
    }
}

.emoji-picker__categories {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 8px;

    .emoji-picker__category {
        display: inline-flex;
        width: 28px;
        height: 28px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        color: rgba(var(--center-channel-color-rgb), 0.48);
        text-decoration: none;

        &:hover {
            background-color: rgba(var(--center-channel-color-rgb), 0.04);
            color: rgba(var(--center-channel-color-rgb), 0.72);
        }

        &:active {
            color: var(--button-bg);
            color: v(center-channel-color);
        }

        &--selected {
            background: rgba(var(--button-bg-rgb), 0.08);
            border-radius: 4px;
            color: var(--button-bg);
            fill: var(--button-bg);
        }

        &.disable {
            pointer-events: none;
        }

        i {
            font-size: 18px;
        }
    }
}

.emoji-picker__header,
.modal-body .emoji-picker .emoji-picker__header {
    position: absolute;
    top: 0;
    display: none; // only visible < 480px width screen
    width: 100%;
    padding: 13px 10px 13px 15px;
    border: 1px solid $light-gray;
    background: $primary-color;
    color: var(--sidebar-header-text-color);

    .emoji-picker__header-title {
        margin-top: 2px;
        font-size: 17px;
    }

    .emoji-picker__header-close-button {
        width: 30px;
        height: 30px;
        background: transparent;
        color: var(--sidebar-header-text-color);
        opacity: 1;

        &:hover {
            background: rgba($black, 0.1);
        }
    }
}

.modal-body .emoji-picker .emoji-picker__header {
    .emoji-picker__header-title {
        margin-top: 0;
    }
}

.emoji-picker__search-container {
    position: relative;
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    border-color: transparent !important;
    margin: 12px;

    .skin-tones {
        @include single-transition(all, 0.35s, ease);

        z-index: 10;
        display: flex;
        overflow: hidden;
        height: 100%;
        align-items: center;
        background: var(--center-channel-bg);

        &--active {
            position: absolute;
            width: 100%;
            justify-content: space-around;

            .skin-tones__close,
            .skin-tones__icons {
                position: relative;
                display: inline-flex;
                overflow: hidden;
                justify-content: center;
                margin: 0 3px;
                opacity: 1;

                .skin-tones__icon {
                    width: 32px;
                }
            }
        }

        .skin-tones__icon {
            position: relative;
            display: inline-flex;
            overflow: hidden;
            width: 32px;
            height: 32px;
            justify-content: center;
            padding: 3px;
            opacity: 1;

            &:hover {
                background-color: rgba(var(--center-channel-color-rgb), 0.08);
                border-radius: 4px;
            }

            & img {
                -moz-transform: matrix(0.35, 0, 0, 0.35, 0, -20); // firefox displaces the transformation, so we need to compensate
            }
        }

        .emoji-picker__item {
            &:last-child {
                margin: 0;
            }
        }
    }

    .skin-tones__content {
        display: flex;
        max-height: 32px;
        align-items: center;
        justify-content: space-between;

        &.skin-tones__content__single {
            padding-right: 4px;
            padding-left: 10px;
        }
    }

    .emoji-picker__text-container {
        position: relative;
        z-index: 5;
        width: 95%;
        height: 32px;
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.24);
        border-radius: 4px;

        &:focus-within {
            border: 2px solid v(button-bg);

            & .emoji-picker__search-icon {
                padding-top: 7px;
                padding-left: 8px;
            }
        }
    }

    .skin-tones__close {
        @include single-transition(opacity, 0.35s, ease);

        display: flex;
        align-items: center;
    }

    .skin-tones__icons {
        @include single-transition(opacity, 0.35s, ease);

        opacity: 0;
    }

    .skin-tones__close-text {
        width: 60px;
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
    }

    .skin-tones__close-icon {
        width: 32px;
        height: 32px;
        border: none;
        margin-right: 12px;
        background: none;
        border-radius: 4px;
        color: rgba(v(center-channel-color-rgb), 0.56);

        &:hover {
            background: rgba(v(center-channel-color-rgb), 0.08);
            color: rgba(v(center-channel-color-rgb), 0.72);
        }

        &:active,
        &--active,
        &--active:hover {
            background: rgba(var(--button-bg-rgb), 0.08);
            color: v(button-bg);
            fill: v(button-bg);
        }
    }

    .color-selector {
        @include single-transition(all, 0.35s, ease);

        z-index: 11;
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        border-radius: 4px;

        &:hover {
            background-color: rgba(var(--center-channel-color-rgb), 0.08);
        }

        .emoji-picker__item {
            margin: 0;

            &:hover {
                background: transparent;
            }
        }
    }

    .emoji-picker__search-icon {
        position: absolute;
        padding-top: 8px;
        padding-left: 9px;
        font-size: 14px;
    }

    .emoji-picker__search {
        width: 100%;
        height: 26px;
        padding: 4px 0 0 31px;
        border-width: 0;
        border-radius: inherit;
        font-size: 13px;

        &:focus {
            padding: 2px 0 0 30px;
            outline: none;
        }
    }
}

.emoji-picker__items {
    position: relative;
    width: 100%;
    height: 270px;
    padding: 4px 0 4px 12px;
    border-top-width: 1px;
    border-top-style: solid;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;

    .emoji-picker__container {
        position: relative;
        min-width: 325px;
        min-height: 100%;
    }

    .emoji-picker__category-header {
        position: relative;
        padding-top: 3px;
        margin-top: 3px;
        margin-bottom: 6px;
        color: rgba(var(--center-channel-color-rgb), 0.48);
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .emoji-picker__preview_sprite {
        display: inline-block;
        height: 45px;
        padding: 3px;
        margin: 3px;
        vertical-align: top;
    }

    .emoji-picker-items__container {
        > span {
            display: inline-block;
            overflow: hidden;
            width: 21px;
            height: 21px;
            padding: 0;
            border: 0;
            margin: 3px;
            border-radius: 6px;
            cursor: pointer;
            text-align: center;
            vertical-align: top;
        }
    }

    .emoji-picker__item-wrapper {
        .emoji-picker__item {
            width: auto;
            min-width: 0;
            max-width: 21px;
            height: auto;
            min-height: 0;
            max-height: 21px;
            margin: 0 auto;
            font-size: 18px;
        }
    }
}

.emoji-picker__item:nth-of-type(9n) {
    margin-right: 0;
}

.emoji-picker__item {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;

    &.selected,
    &:hover {
        background-color: rgba(var(--center-channel-color-rgb), 0.16);
    }

    &:active {
        background-color: rgba(var(--center-channel-color-rgb), 0.32);
    }

    > div {
        text-align: center;
    }

    img {
        position: relative;

        &.emoji-category--custom {
            @include transform(scale(1));

            top: auto;
            left: auto;
            width: auto;
            max-width: 22px;
            height: auto;
            max-height: 22px;
        }
    }
}

.emoji-tooltip {
    z-index: 99999;
}

.emoji-picker__footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgba(61, 60, 64, 0.2);
}

.emoji-picker__custom {
    position: relative;
    margin: 12px;
    text-decoration: none;

    a,
    a:hover {
        background: rgba(var(--button-bg-rgb), 0.08);
        border-radius: 4px;
        color: var(--button-bg) !important; // it gets overriden by link color
        fill: var(--button-bg);
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
    }

    a:hover {
        background-color: rgba(var(--button-bg-rgb), 0.12);
    }
}

.emoji-picker__preview {
    position: relative;
    display: flex;
    overflow: hidden;
    max-width: 210px;
    height: 56px;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: stretch;
    justify-content: flex-start;
    padding: 18px 0 18px 16px;
    vertical-align: middle;
    background: var(--center-channel-bg);

    &.emoji-picker__preview-placeholder {
        padding: 12px;

        span {
            display: flex;
            align-items: center;
            font-weight: bold;
        }
    }

    > div {
        display: table-cell;
        vertical-align: middle;
    }

    .emoji-picker__preview-image-label-box {
        .emoji-picker__preview-name {
            display: inline-block;
            overflow: hidden;
            max-width: 120px;
            font-size: 14px;
            font-weight: bold;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .emoji-picker__preview-aliases {
            display: block;
            overflow: hidden;
            font-size: 12px;
            font-weight: bold;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .emoji-picker__preview-image-box {
        position: relative;
        display: flex;
        width: 32px;
        height: 32px;
        max-height: 36px;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        text-align: center;

        .sprite-preview {
            display: inline-block;
            width: 32px;
            height: 32px;
            padding: 0;
            border: none;
            margin-top: -20px;
            vertical-align: middle;
        }
    }

    .emoji-picker__preview-image {
        position: relative;
        top: -8px;
        left: 2px;
        max-width: 36px;
        max-height: 36px;
    }
}
