.IconButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 14/10*1rem;
    line-height: 1;
    color: v(--center-channel-color-rgb, 0.56);
    border-radius: 4px;
    border: none;
    outline: none;
    background: v(--center-channel-color-rgb, 0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
    cursor: pointer;

    // elements
    .IconButton_icon {
        color: v(--center-channel-color-rgb, 0.56);
    }

    // states
    // - ::before used for inside border
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        border: solid 2px transparent;
        z-index: 0;
    }

    &:hover,
    &.hover {
        background: v(--center-channel-color-rgb, 0.08);

        .IconButton_icon {
            color: v(--center-channel-color-rgb, 0.72);
        }
    }
    &:focus,
    &.focus {
        &::before {
            border-color: v(--button-bg-rgb);
        }
    }
    &:active,
    &.active {
        background: v(--button-bg-rgb, 0.08);
        
        .IconButton_icon {
            color: v(--button-bg-rgb);
        }
    }
    &[disabled],
    .disabled {
        cursor: not-allowed;

        &,
        &:hover,
        &.hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background: transparent;

            .IconButton_icon {
                color: v(--center-channel-color-rgb, 0.32);
            }

            &::before {
                border-color: transparent;
            }
        }
    }

    // sizes (compact, small, large)
    &___compact {
        padding: 6px;
        width: 28px;
        height: 28px;
    }
    &___small {
        padding: 8px;
        width: 32px;
        height: 32px;
    }
    &___large {
        padding: 10px;
        width: 48px;
        height: 48px;

        // the large IconButton uses a non-standard icon size
        .IconButton_icon {
            padding: 4px;
            width: 28px;
            height: 28px;

            &::before {
                font-size: 24/10*1rem;
            }
        }
    }

    // animation
    .enable-animations & {
        transition: background-color $animation-speed-shorter 0s ease-in-out;

        &::before {
            transition: border-color $animation-speed-shorter 0s ease-in-out;
        }
    }
}