@charset 'UTF-8';

.main-tabs {
    padding: 10px;

/* Default mode */
.nav-tabs {
    border: none;
    margin: 0px;
  }
  .nav-tabs > li {
    margin-right: 2px;
  }
  .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .nav-tabs > li.open, .nav-tabs > li:hover {
    border-bottom: 4px solid rgb(var(--center-channel-color-rgb));
  }
  .nav-tabs > li.open > a, .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .nav-tabs > li.open > a > i, .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .nav-tabs > li.open .dropdown-menu, .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .nav-tabs > li.active {
    border-bottom: 4px solid rgb(var(--center-channel-color-rgb));
    position: relative;
  }
  .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
  }
  .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .portlet .tab-content {
    padding-bottom: 0;
  }    
}

