@charset "utf-8";

.mention {
    @include border-radius(3px);

    position: relative;
    z-index: 10;
    padding-bottom: 2px;
    background: $primary-color;
    color: $white;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.mention--highlight {
    padding: 0 1px;
    background-color: var(--mention-highlight-bg);
    border-radius: 4px;
    color: var(--mention-highlight-link);

    .mention--highlight {
        padding: 0;
    }

    .mention-link {
        color: inherit;

        > a {
            color: inherit;
        }
    }

    > a {
        color: inherit;
    }
}

.group-mention-link {
    color: var(--link-color);
}
