@charset 'UTF-8';

.mention {
    @include border-radius(3px);

    position: relative;
    z-index: 10;
    padding-bottom: 2px;
    background: $primary-color;
    color: $white;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.mentions__fullname {
    opacity: 0.56;
}

.mentions__name {
    @include clearfix;

    position: relative;
    z-index: 101;
    display: flex;
    width: 100%;
    padding: 6px 10px;
    margin: 0;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;

    &.no-flex {
        display: block;
    }

    .Avatar {
        display: block;
        margin-top: 3px;
        margin-right: 7px;
        text-align: center;
    }

    span {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .admin-setting-user--align {
        margin-right: 5px;
    }

    .status {
        top: 1px;
        display: block;
        width: auto;

        svg {
            width: 12px;
            height: 12px;
        }
    }

    // .mentions__name is way too multi-purpose. This rule targets its use in
    // SwitchChannelSuggestion, applying margin in a way that handles null elements correctly.
    .status,
    .mentions__fullname {
        margin: 0 0 0 8px;
    }

    .fa-user {
        position: relative;
        top: -1px;
    }

    .mention--align {
        @include clearfix;

        text-overflow: ellipsis;
    }
}

.mention__image {
    @include border-radius(20px);

    display: block;
    width: 16px;
    min-width: 16px;
    height: 16px;
    flex: 0 0 16px;
    margin-top: 3px;
    margin-right: 7px;
    font-size: 15px;
    line-height: 16px;
    text-align: center;

    .mention--align {
        display: inline-block;
        overflow: hidden;
        max-width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.mention__fullname {
    overflow: hidden;
    margin: 0 0 0 4px;
    color: rgba(v(center-channel-color-rgb), 0.56);
    text-overflow: ellipsis;
}

.mention__shared-user-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    color: rgba(61, 60, 64, 0.56);
    font-size: 16px;
    line-height: 16px;

    &::before {
        margin: 0;
    }
}

.mention--highlight {
    padding: 0 1px;
    background-color: $yellow;
    border-radius: 4px;

    .mention--highlight {
        padding: 0;
    }
}

.group-mention-link {
    color: var(--link-color);
}

.mention__purpose {
    @include opacity(0.5);

    margin-left: 5px;
    line-height: normal;
    white-space: normal;
}

.mention__channelname {
    @include opacity(0.5);
}
