@charset 'UTF-8';

.mention {
    @include border-radius(3px);
    background: $primary-color;
    color: $white;
    padding-bottom: 2px;
    position: relative;
    z-index: 10;
}

.badge {
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.mention--highlight {
    padding: 0 1px;
    border-radius: 4px;
    background-color: $yellow;

    .mention--highlight {
        padding: 0;
    }
}

.group-mention-link {
    color: var(--link-color);
}
