.permissions-block {
    border: $border-gray;
    font-size: .95em;
    margin: 2em 0;
    padding: 0;
    &.simple {
    }
    .header {
        background: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        cursor: pointer;
        h3 {
            margin: 0;
            padding: 0;
            font-weight: normal;
            font-size: 18px;
        }
        .button {
            self-align: end;
            svg {
                transform: rotate(0deg);
                transition: transform 500ms;
            }
        }
    }
    &.closed {
        .header{
            .button {
                svg {
                    transform: rotate(90deg);
                    transition: transform 500ms;
                }
            }
        }
        .permissions-tree {
            padding: 0 1.5rem;
            max-height: 0;
            overflow-y: hidden;
            transition: max-height 500ms, padding 500ms;
        }
    }
}
.permissions-tree {
    padding: .8em 1.5rem;
    max-height: 2000px;
    transition: max-height 500ms, padding 500ms;

    .permissions-tree--header {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        font-size: 1.1em;
        border-bottom: 1px solid #cccccc;
        padding: .5em 0;

        .permission-name {
            width: 100%;
            margin-left: 16px
        }
        .permission-description {
            color: #333;
        }
    }
    .permissions-tree--body {
        background-color: $bg--gray;
        background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
        background-size: 68px 68px;
        cursor: pointer;
    }
    .permission-arrow {
        display: flex;
        margin: 4px;
        min-height: 10px;
        min-width: 10px;
        align-items: center;
        justify-content: space-around;
        transition: transform 500ms;
        &.open {
            transform: rotate(90deg);
            transform-origin: 60% 50%;
            transition: transform 500ms;
        }
    }
    .permission-check {
        display: flex;
        margin: 5px 5px 5px 0;
        min-height: 18px;
        min-width: 18px;
        border: 2px solid $dark-gray;
        border-radius: 3px;
        align-items: center;
        justify-content: space-around;
        &.checked, &.intermediate {
            border: 0;
            svg {
                fill: $primary-color;
                background: $white;
            }
        }
    }
    .permission-name {
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .permission-description {
        min-width: 500px;
        color: $gray;
    }

    .permission-group {
        .permission-group-permissions {
            overflow-y: hidden;
            max-height: 0;
            &.open {
                transition: max-height .5s cubic-bezier(0, 1, 0.5, 1);
                max-height: 2000px;
            }
            .permission-row {
                padding: 0 0 0 48px;
            }
            .permission-group-row {
                padding: 0 0 0 30px;
                &.combined {
                    padding: 0 0 0 48px;
                }
            }
            .permission-group-permissions {
                .permission-row {
                    padding: 0 0 0 78px;
                }
                .permission-group-row {
                    padding: 0 0 0 60px;
                    &.combined {
                        padding: 0 0 0 78px;
                    }
                }
            }
        }
    }

    .permission-row, .permission-group-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-left: 2px solid $transparent;
        height: 34px;
        &:hover {
            background-color: lighten($primary-color, 40%);
            border-left: 2px solid $primary-color;
            .permission-description {
                color: #333;
            }
        }
        &.read-only {
            .permission-check {
                border: 0;
                background-color: $gray;
                &.checked, &.intermediate {
                    svg {
                        fill: $gray;
                        background: $white;
                    }
                }
            }
        }
    }
}
