@charset 'UTF-8';
@import 'compass/css3/transition';

.popover {
    @include border-radius($border-rad * 2);
    color: lighten($black, 25%);
    font-family: inherit;
    padding: 0;

    &.bottom,
    &.right,
    &.top,
    &.left {
        > .arrow {
            display: none;

            &:after {
                border-color: transparent;
            }
        }
    }

    &.bottom {
        margin-top: 10px;
    }

    ul + p,
    ol + p {
        margin-top: .6em;
    }

    p + ul,
    p + ol {
        margin-top: .6em;
    }

    blockquote {
        padding-bottom: 0;
    }

    .popover-title {
        @include border-radius(0);
        background: alpha-color($black, .05);
        max-width: 100%;
        overflow: hidden;
        padding: 8px 10px;
        text-overflow: ellipsis;

        > span {
            display: flex;
            justify-content: space-between;
        }
    }

    hr {
        &.divider {
            margin: 8px 0;
        }

        &.divider--expanded {
            margin: 8px -15px;
        }
    }

    .popover-content {
        word-break: break-word;

        p {
            &:last-child {
                margin-bottom: 5px;
            }
        }
    }

    .popover__row {
        margin: 0 -15px 0;
        padding: 9px 15px 0;

        &.first {
            border-top: 1px solid transparent;
            margin-top: 4px;
        }

        > a {
            i {
                margin-right: 5px;
            }
        }
    }
}

.channel-header__info {
    .popover-content {
        max-height: 250px;
        overflow: auto;
    }
}

.user-popover {
    cursor: pointer;
    display: inline-block;
}

.code-popover {
    .popover-content {
        padding: 5px;
    }
}

.user-popover__username,
.user-popover__username > a {
    display: inline-block;
    max-width: 150px;
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#user-profile-popover .user-popover__username:only-child,
#user-profile-popover .user-popover__username:only-child > a{
    max-width: 100%;
}
#user-profile-popover .Avatar {
    margin: 5px auto;
    display: block;
}

.user-popover__role {
    padding: 3px 5px;
    margin-left: 10px;
    background-color: $gray;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.8em;
    color: $white;
}


.user-popover__email {
    display: block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-help-popover {
    @include single-transition(opacity, .3s, ease-in);
    font-size: em(13px);
    max-width: 350px;
    top: 36px;
    visibility: hidden;
    width: 100%;

    &.autocomplete {
        display: block;

        .popover-content {
            padding: 10px;
            position: relative;
            -webkit-overflow-scrolling: touch;
        }
    }

    .search-autocomplete__divider {
        line-height: 21px;
        margin: 10px 0 5px;
        position: relative;

        &:first-child {
            margin-top: 5px;
        }

        > span {
            background: $white;
            display: inline-block;
            padding-right: 10px;
            position: relative;
            z-index: 5;
        }

        &:before {
            @include opacity(.2);
            background: $dark-gray;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            top: 10px;
            width: 100%;
        }
    }

    .search-autocomplete__item {
        @include border-radius(2px);
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 3px 0 0 5px;
        overflow: hidden;
        padding: 6px 8px;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            background: alpha-color($black, .1);
        }

        &.selected {
            background: alpha-color($black, .2);
            box-shadow: none;
        }

        .mention--align {
            display: inline-flex;
            overflow: hidden;
        }

        .search-autocomplete__name {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .fa {
            @include opacity(.5);
            margin-right: 5px;
            top: 1px;
            position: relative;
        }

        .Avatar {
            margin-right: 6px;
            margin-top: -1px;
        }
    }

    &.bottom > .arrow {
        border-width: 9px;
        left: 30px;
        top: -18px;
    }

    .popover-content {
        max-height: 500px;
        overflow: auto;
        padding: 15px;
    }

    h4 {
        font-size: 1.4rem;
        margin-top: 0;
    }

    ul {
        padding-left: 17px;

        span {
            @include opacity(.8);
        }

        strong,
        b {
            @include opacity(1);
        }
    }

    .tooltip-inner {
        max-width: 100%;
    }

    &.visible {
        @include opacity(1);
        visibility: visible;
    }
}

.member-list__popover {
    margin-left: -95px;
    max-width: initial;

    .more-modal__body {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        max-height: 275px;
        overflow: auto;
        position: relative;
    }

    .more-modal__header {
        padding: 14px 20px;

        .icon {
            @include opacity(.8);
            margin: 0 38px 0 24px;
            position: relative;
            top: 2px;
        }

        span {
            font-weight: 600;
        }

        .subhead {
            font-size: 12px;
            opacity: 0.6;
            span {
                font-weight: normal;
            }
        }
    }

    .more-modal__button {
        .btn {
            height: 42px;
        }
    }

    .more-modal__list {
        .more-modal__row {
            border: none;
            cursor: pointer;
            height: 50px;
            margin: 1px 0;
            overflow: hidden;
            padding: 0 12px 0 20px;

            .more-modal__actions {
                opacity: 1;
                padding: 0;
                margin-left: 12px;

                button {
                    opacity: 0;
                    line-height: 0;
                    width: 2em;
                    height: 2em;

                    &.a11y--focused {
                        opacity: 1;
                    }
                }
            }

            &:hover {
                border-left: 3px solid transparent;
                padding-left: 17px;

                .more-modal__actions {
                    button {
                        @include opacity(1);
                    }
                }

                .more-modal__name {
                    font-weight: 600;
                }
            }

            &.more-modal__row--button {
                border-left: none;
                height: 40px;
                position: relative;

                button {
                    font-weight: 500;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }

        .more-modal__name {
            display: block;
            font-size: 13.5px;
            font-weight: normal;
        }

        .more-modal__image {
            margin: 0;
            position: relative;
            top: -1px;
        }

        .more-modal__details {
            line-height: 39px;
            padding-left: 16px;
        }

        .more-modal__actions {
            @include opacity(0);
            line-height: 42px;
            margin: 0;

            .icon {
                position: relative;
                top: 2px;
            }
        }
    }

    .popover-content {
        max-height: 380px;
        padding: 0;
        position: relative;
        width: 260px;

        .text-nowrap {
            font-size: 13px;
            line-height: 26px;
            overflow: hidden;
            padding: 6px 10px;
            width: 100%;
        }

        .more__name {
            margin-left: 6px;
            max-width: 140px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.channel_search {
    display: flex;

    .search_input {
        flex: 1;
        margin-left: 16px;
        margin-right: 16px;
    }

    .create_button {
        margin-right: 16px;
    }
}
