@charset "UTF-8";

// _about-modal.scss

.modal {
    .share-message-modal {
        color: red;

        .post-preview {
            .post__img {
                width: 24px;
                padding: 0;
                text-align: left;

                img.avatar-post-preview {
                    display: block;
                }
            }

            .user-popover {
                padding-left: 8px;
            }

            .post-message__text-container {
                overflow: hidden;
            }

            .post-message--collapsed.post-message-preview--overflow .post-message__text {
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .post-preview-collapse__show-more-button {
                padding: 0;
                border: none;
                background: none;
                font-size: 12px;
            }

            .post-preview__time {
                margin-left: 6px;
            }

            .post__preview-footer {
                display: block;
                padding-top: 8px;

                p {
                    display: inline-block;
                    width: auto;
                    margin-right: 8px;
                    color: rgba(var(--center-channel-color-rgb), 0.56);
                    font-size: 12px;
                    line-height: 16px;
                }

                a {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }

        // TODO
    }
}