@charset "UTF-8";

// _about-modal.scss

.modal {
    .share-message-modal {
        &.modal-dialog {
            margin-top: 80px;

        }

        .modal-body {
            padding: 0;      

            .post-preview {
                .post__img {
                    width: 24px;
                    padding: 0;
                    text-align: left;
    
                    img.avatar-post-preview {
                        display: block;
                    }
                }
    
                .user-popover {
                    padding-left: 8px;
                }
    
                .post-message__text-container {
                    overflow: hidden;
                }
    
                .post-message--collapsed.post-message-preview--overflow .post-message__text {
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
    
                .post-preview-collapse__show-more-button {
                    padding: 0;
                    border: none;
                    background: none;
                    font-size: 12px;
                }
    
                .post-preview__time {
                    margin-left: 6px;
                }
    
                .post__preview-footer {
                    display: block;
                    padding-top: 8px;
    
                    p {
                        display: inline-block;
                        width: auto;
                        margin-right: 8px;
                        color: rgba(var(--center-channel-color-rgb), 0.56);
                        font-size: 12px;
                        line-height: 16px;
                    }
    
                    a {
                        display: inline-block;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
        
        .modal-content {
            border-radius: 8px;
            // margin-bottom: 80px;
            // max-height: 800px;
            //height: calc(100vh - 160px); responsive height limit
        }

        .modal-header {
            min-height: 0;
            padding: 0;
            border: none;
            background: transparent;

            .close {
                top: 6px;
                right: 4px;
                display: flex;
                width: 4rem;
                height: 4rem;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                font-size: 32px;
                font-weight: 400;
                color: rgba(var(--center-channel-color-rgb), 0.56);
                &:hover {
                    background-color:
                        rgba(
                            var(--center-channel-color-rgb),
                            0.08
                        );
                    color: rgba(var(--center-channel-color-rgb), 0.72);
                }

                &:active {
                    background-color: rgba(var(--button-bg-rgb), 0.08);
                    color: var(--button-bg);
                }
            }
        }

        .share-message-modal__suggestion-box {
            position: relative;
            padding: 0;


            .form-control {
                width: calc(100% - 48px);
                height: 40px;
                padding: 0 34px 0 16px;
                margin: 0 24px 24px;
                border-radius: 4px;

                &:focus {
                    border: 2px solid v(button-bg);
                }
            }

            .suggestion-list {
                padding-top: 0.6rem;
                // margin-top: 2.3rem;
            }

            .suggestion-list__content {
                overflow: auto;
                width: calc(100% - 48px);
                height: auto;
                margin: 40px 24px 20px 24px;
                // box-shadow: none;
                border: 1px solid rgba(61, 60, 64, 0.16);
                box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
                border-radius: 4px;

            }
        }

        .Input_container {
            margin: 0 24px 24px;
            width: calc(100% - 48px);
        }
        
        // TODO
    }
}

.share-message__header {

    padding: 2.4rem 2.4rem 2.4rem;

    h1 {
        margin: 0 0 0;
        font-size: 2rem;
        font-weight: 600;
    }
}