.SidebarHeaderDropdownButton {
    display: flex;
    position: relative;
    align-items: center;

    .header__info {
        @include flex-grow(1);
        color: $white;
        padding: 3px 15px 0 8px;
        position: relative;
        width: 100%;

        .team__name {
            font-size: 14px;
            font-weight: 600;
            overflow: hidden;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .user__name {
            font-weight: 400;
        }
    }

    .unread-badge {
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin: 0 8px;
        background: rgba(var(--sidebar-text-active-border-rgb), 1);
    }

    .menu-icon {
        @include opacity(.8);
        fill: $white;
    }

    &:hover {
        .user__name,
        .menu-icon {
            @include opacity(1);
        }
    }
}
