.file-view--single {
    .file__image {
        position: relative;

        .image-header {
            button.single-image-view__toggle {
                display: inline-block;
                padding: 0;
                border: none;
                background: transparent;
                border-radius: 4px;
                color: rgba(var(--center-channel-color-rgb), 0.56);
                font-size: 18px;
                line-height: 18px;

                &:hover {
                    color: rgba(var(--center-channel-color-rgb), 0.72);
                }

                .icon {
                    width: 18px;
                    height: 18px;

                    &::before {
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
            }

            &.active {
                position: absolute;

                button.single-image-view__toggle {
                    display: none;
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
                    background-color: var(--center-channel-bg);
                    border-radius: 16px;
                    color: rgba(var(--center-channel-color-rgb), 0.56);
                    font-size: 18px;
                    line-height: 21px;

                    @include box-shadow($elevation-1);
                }
            }
        }

        &:hover .image-header.active button.single-image-view__toggle {
            display: block;

            @include box-shadow($elevation-2);
        }
    }
}
