@charset 'UTF-8';

.suggestion-list {
    width: 100%;
    z-index: 100;

    .post-create & {
        margin: 0 0 -8px 16px;
    }

    .badge {
        position: absolute;
        top: 8px;
        right: 10px;
        color: rgb(61, 60, 64);
        background: #CECECF;
        font-size: 10px;
    }
    .LoadingSpinner {
        margin: 6px 11px;
    }
}

.suggestion-list--top {
    bottom: 100%;
    position: absolute;
}

.suggestion-list--bottom {
    position: absolute;
}

.suggestion-list__content {
    border-radius: 4px;
    -webkit-overflow-scrolling: touch;
    background-color: v(center-channel-bg);
    border: 1px solid v(center-channel-color-08);
    max-height: 292px;
    overflow-x: auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.012);
    overflow-y: scroll;
    padding-bottom: 12px;
    max-width: 100%;
    width: 496px;

    .Avatar {
        margin: 0 12px 0 0;
    }

    .mentions__name {
        font-size: inherit;
        height: 4rem;
        display: flex;
        align-items: center;
        padding: 0 2.4rem;
    }

    .modal & {
        max-height: 205px;
    }
}

.slash-command {
    display: flex;
    align-items: center;
    padding: 1rem 2.4rem;

    &:first-child {
        margin: 12px 0 0 0;
    }
}

.slash-command__icon {
    background: v(center-channel-color-08);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;

    span {
        opacity: .56;
    }
}

.slash-command__info {
    margin-left: 12px;
    height: 36px;
}

.slash-command__desc {
    @include opacity(.56);
    font-size: 12px;
}

.suggestion-list__content--top {
    bottom: 0;
    position: absolute;
}

.suggestion-list__divider {
    font-size: 1.2rem;
    color: v(center-channel-color-60);
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1.2rem 0 0 0;
    padding: 0 0 0 2.4rem;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;

    &:first-child {
        &:before {
            display: none;
        }
    }

    &:before {
        content: '';
        height: 1px;
        background: v(center-channel-color-08);
        position: absolute;
        top: -7px;
        left: 0;
        width: 100%;
    }
}

.suggestion-list__no-results {
    line-height: 21px;
    margin: 7px 10px 2px;
    position: relative;

    > span {
        display: inline-block;
        font-size: .9em;
        padding: 0 10px 0 5px;
        position: relative;
        z-index: 5;
    }
}
