@import 'utils/mixins';

.ChannelsPreview-body {
    position: fixed;
    // 50vh for midscreen, 230px to center the main content,
    // because the whole SVG contains some extra padding on bottom to account for shadow.
    top: calc(50vh - 230px);
    right: -150px;
}

@include simple-in-and-out-before("ChannelsPreview");
