@import 'utils/mixins';

.ChannelsPreview-body {
    position: absolute;
    // 50vh for midscreen, 230px to center the main content,
    // because the whole SVG contains some extra padding on bottom to account for shadow.
    top: calc(50vh - 230px);
    right: -400px;
}

@include simple-in-and-out-before("ChannelsPreview");

.ChannelsPreview--enter-from-after {
    &-enter {
        transform: translateX(100vw);
    }

    &-enter-active {
        transform: translateX(0);
        transition: transform 300ms ease-in-out;
    }

    &-enter-done {
        transform: translateX(0);
    }
}

.ChannelsPreview--exit-to-after {
    &-exit {
        transform: translateX(0);
    }

    &-exit-active {
        transform: translateX(100vw);
        transition: transform 300ms ease-in-out;
    }

    &-exit-done {
        transform: translateX(100vw);
    }
}

// hide preview if it will overlay main interactive elements,
// in either channels or invite team members step
@media screen and (max-width: 950px) {
    .ChannelsPreview-body {
        display: none;
    }
}
