@import 'utils/mixins';
@import './mixins';

.Channel-body {
    max-width: 520px;
}

.Channel {
    &__input {
        @include input;

        margin-bottom: 0;
    }

    &__status {
        display: flex;
        align-items: center;
        color: rgba(var(--center-channel-color-rgb), 0.72);
        font-size: 12px;

        &--error {
            margin-top: 8px;
            color: var(--dnd-indicator);
        }
    }
}

@include simple-in-and-out("Channel");
