@import 'utils/mixins';

$svg_height: 500px;

.ChannelsPreview-body {
    position: absolute;
    top: calc(50vh - #{$svg_height / 2});
    right: 0;
}

@include simple-in-and-out-before("ChannelsPreview");
