@import 'utils/mixins';

.InviteMembers-body {
    .UsersEmailsInput {
        max-width: 420px;
    }
}

.InviteMembers {
    &__submit {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

@include simple-in-and-out-before("InviteMembers");

.InviteMembers--enter-from-after {
    &-enter {
        transform: translateX(-100vw);
    }

    &-enter-active {
        transform: translateX(0);
        transition: transform 300ms ease-in-out;
    }

    &-enter-done {
        transform: translateX(0);
    }
}

.InviteMembers--exit-to-after {
    &-exit {
        transform: translateX(0);
    }

    &-exit-active {
        transform: translateX(-100vw);
        transition: transform 300ms ease-in-out;
    }

    &-exit-done {
        transform: translateX(-100vw);
    }
}
