@mixin input {
    width: 452px;
    padding: 12px 16px;
    border: 2px solid rgba(var(--center-channel-color-rgb), 0.16);
    border-radius: 4px;
    font-size: 16px;

    &:active,
    &:focus {
        border: 2px solid var(--button-bg);
    }

    &--error {
        border: 2px solid var(--dnd-indicator);

        &:active,
        &:focus {
            border: 2px solid var(--dnd-indicator);
        }
    }
}

@mixin stacked-multi-select {
    .MultiSelectCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 16px;

        .MultiSelectCard {
            width: 100%;
            max-width: 500px;
            flex-direction: row;
            flex-grow: 1;
            padding: 16px;
            margin-right: 0;
            margin-bottom: 16px;
            text-align: left;

            svg {
                max-width: 50px;
                max-height: 50px;
                flex-shrink: 0;
            }

            &__label {
                width: 100%;
                flex-grow: 1;
                padding-top: 0;
                padding-left: 20px;
            }

            &__checkmark {
                position: static;
                padding-right: 4px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
