@mixin input {
    padding: 12px 16px;
    border: 2px solid rgba(var(--center-channel-color-rgb), 0.16);
    margin: 24px 0 36px;
    border-radius: 4px;
    font-size: 16px;

    &:active,
    &:focus {
        border: 2px solid var(--button-bg);
    }
}
