.PageLine {
    position: relative;
    left: 100px;
    width: 1px;
    background-color: black;

    &--no-left {
        left: initial;
    }

    /* background-color: rgba(var(--center-channel-rgb), 0.24); */
}
