@import 'utils/variables';
@import 'utils/mixins';

.PreparingWorkspace {
    &__logo {
        position: fixed;
        z-index: 1;
        top: 32px;
        right: 32px;
    }

    &__previous {
        display: inline-flex;
        align-items: center;
        padding-right: 2px;
        color: var(--button-bg);
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;

        &:first-child {
            margin-right: 5px;
        }
    }
}

.PreparingWorkspaceContainer {
    display: flex;
    flex-direction: row;
    background: url('images/admin-onboarding-background.png');

    .tertiary-button {
        @include tertiary-button;

        margin-left: 16px;
    }

    .primary-button {
        @include primary-button;
    }

    .child-page {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
    }
}

.PreparingWorkspacePageContainer {
    position: relative;
    width: calc(100vw - 120px);
}
