.SingleColumnLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__inner {
        position: relative;
    }
}
