.TeamMembers-body {
    position: absolute;
    top: 0;
    right: 0;

    .wave {
        position: absolute;
        top: 250px;
        right: 300px;
    }

    .smile {
        position: absolute;
        top: 125px;
        right: 375px;
    }

    .elbow {
        position: absolute;
        top: 200px;
        right: 575px;
    }
}

.TeamMembers--enter-from-before {
    &-enter {
        transform: translateY(100vh);
    }

    &-enter-active {
        transform: translateY(0);
        transition: transform 300ms ease-in-out;
    }

    &-enter-done {
        transform: translateY(0);
    }
}

.TeamMembers--exit-to-before {
    &-exit {
        transform: translateY(0);
    }

    &-exit-active {
        transform: translateY(100vh);
        transition: transform 300ms ease-in-out;
    }

    &-exit-done {
        transform: translateY(100vh);
    }
}
