@import 'utils/variables';
@import 'utils/mixins';
@import './mixins';

.Url-body {
    display: flex;
}

.Url-form-wrapper {
    position: relative;
}

.Url-right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Url {
    &__input {
        @include input;

        margin-bottom: 0;
    }

    &__status {
        display: flex;
        align-items: center;
        margin-top: 8px;
        color: rgba(var(--center-channel-color-rgb), 0.72);
        font-size: 12px;

        &--success {
            .icon {
                font-size: 16px;
            }

            color: var(--denim-status-online);
        }

        &--error {
            color: var(--dnd-indicator);

            .icon-alert-outline {
                margin-right: 3px;
                font-size: 16px;
            }
        }
    }

    &__status-spinner {
        width: 16px;
        margin-right: 3px;
    }
}

@include simple-in-and-out("Url");
