@import 'utils/variables';
@import 'utils/mixins';
@import './mixins';

.UseCase-body {
    display: flex;
}

.UseCase-form-wrapper {
    position: relative;
}

.UseCase-right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// preempt cards wrapping
@media screen and (max-width: 1100px) {
    .UseCase-body {
        @include stacked-multi-select;
    }
}

@include simple-in-and-out("UseCase");
