.cloud-limits-disabled {
    pointer-events: 'none';
}


.upgrade-options-button {
    background: #1C58D9;
    border-radius: 4px;
    margin-left: 16px;
    color: #FFF;
    height: 100%;
    padding: 9px, 16px;
    font-weight: 600;
}
