.DataRetentionSettings {
    .JobSelectTime {
        display: inline-block;
        width: 80px;
        margin: -10px 8px -10px;
    }
    span.JobSelectedtime {
        margin: 0px 8px;
    }
    .datagrid-menuwrapper {
        z-index: 999999;
    }
    a.EditJobTime {
        opacity: 1;
        font-weight: 600;
    }
    .actionIcon {
        flex-grow: 0.15;
    }
}
