.DropdownInput {
    z-index: 999999;
    &.Input_container {
        margin-top: 20px;
    }

    .Input_wrapper {
        padding: 0 1px;
    }

    .Input {
        font-size: 14px;
        line-height: 20px;

        &.Input___focus .a11y--focused {
            box-shadow: none;
        }
    }

    .Input_legend {
        margin-left: 8px;
    }
}

.DropdownInput__indicatorsContainer {
    margin-right: 8px;

    i {
        color: rgba(var(--center-channel-color-rgb), 0.64);
        font-weight: normal;

        &::before {
            margin: 0;
        }
    }
}

.DropdownInput__option > div {
    padding: 10px 24px;
    line-height: 16px;
    cursor: pointer;
    z-index: 999999;
}

.DropdownInput__option.selected > div {
    background-color: rgba(var(--button-bg-rgb), 0.08);
    color: var(--center-channel-color);
}

.DropdownInput__option.focused > div {
    background-color: rgba(var(--center-channel-color-rgb), 0.08);
}
