@charset 'UTF-8';

.app__body .modal .GenericModal {
    &.modal-dialog {
        margin-top: calc(50vh - 240px);
    }

    &.modal-overflow {
        .modal-body {
            overflow: visible;
        }
    }

    .modal-body {
        max-height: 100%;
        padding: 0;

        .form-control {
            height: 40px;
            box-sizing: border-box;
            border: 2px solid var(--button-bg);
            border-radius: 4px;

            &.has-error {
                border-color: var(--error-text);
            }
        }

        .MaxLengthInput {
            &.form-control.has-error {
                padding-right: 66px;
            }

            &__validation {
                position: absolute;
                top: 12px;
                right: 56px;
                color: var(--error-text);
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                line-height: 16px;
            }
        }

        .input-clear {
            top: 12px;
            right: 36px;
            width: 16px;
            height: 16px;
            color: var(--center-channel-color);
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            line-height: 16px;
            opacity: 0.48;
        }
    }

    .modal-content {
        padding: 16px 15px;
        border-radius: 8px;
    }

    .modal-header {
        min-height: 0;
        padding: 0;
        border: none;
        background: transparent;

        .close {
            top: 6px;
            right: 6px;
            display: flex;
            width: 4rem;
            height: 4rem;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            color: rgba(var(--center-channel-color-rgb), 0.56);
            font-size: 32px;
            font-weight: 400;

            &:hover {
                background-color: rgba(var(--center-channel-color-rgb), 0.08);
                color: rgba(var(--center-channel-color-rgb), 0.72);
            }

            &:active {
                background-color: rgba(var(--button-bg-rgb), 0.08);
                color: v(button-bg);
            }
        }
    }

    .modal-footer {
        padding: 12px 24px 24px 24px;
        border: none;
        border-radius: 4px;
    }
}

.GenericModal__header {
    padding: 28px 24px 16px 24px;

    h1 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }
}

.GenericModal__body {
    position: relative;
    width: 100%;
    padding: 0 24px;
    color: rgba(var(--center-channel-color-rgb), 0.72);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}

.GenericModal__button {
    padding: 12px 16px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;

    &.cancel {
        background: var(--center-channel-bg);
        color: var(--button-bg);
    }

    &.confirm {
        background: var(--button-bg);
        border-radius: 4px;
        color: var(--button-color);

        &.disabled {
            background: rgba(var(--center-channel-color-rgb), 0.08);
            color: rgba(var(--center-channel-color-rgb), 0.64);
        }
    }
}
