.Badge {
    font-size: 1em;
    margin: auto 2rem;
    padding-right: 2rem;

    .Badge__box {
        background: #1156b2;
        color: #FFF;
        text-transform: uppercase;
        padding: 2px 4px;
        border-radius: 3px;
    }
}

.ug-name-row {
    display: flex;
    height: 80px;

    .ug-name {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-direction: column;
        align-self: center;
        padding-left: 10px;

        overflow: hidden;
        text-overflow: ellipsis;

        span {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.ug-remove-row {
    padding-right: 20px;
}
