.ug-name-row {
    display: flex;
    height: 80px;

    .ug-name {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-direction: column;
        align-self: center;
        overflow: hidden;
        padding-left: 10px;
        text-overflow: ellipsis;
    }
    .Badge {
        font-size: 1em;
        margin: auto 10px;
    }
}

.ug-remove-row {
    padding-right: 20px;
}

.ug-loading, .ug-empty {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;

    font-size: 1.6rem;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.3);
}

.ug-empty {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ug-loading {
    padding-top: 100px;
    padding-bottom: 100px;
}