.ug-name-row {
    display: flex;
    height: 80px;

    .ug-name {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-direction: column;
        align-self: center;
        overflow: hidden;
        padding-left: 10px;
        text-overflow: ellipsis;
    }
    .Badge {
        font-size: 1em;
        margin: auto 2rem;
    }
}

.ug-remove-row {
    padding-right: 20px;
}
