@import 'utils/mixins';

.WelcomePostRenderer {
    color: var(--center-channel-color);

    .WelcomePostRenderer__ActionsContainer {
        margin-top: 1em;
        display: flex;
        flex-direction: row;

        &>div {
            margin-right: 1em;
        }

        button {
            @include tertiary-button;
            @include button-small;
        }
    }
}
