@import './mixins';

.CloudUsageMiniModal {
    .CloudUsageMiniModal__header {
        border: none;

        @include hide-before-after;

        &.modal-header {
            padding: 24px;
            background-color: var(--center-channel-bg);

            .modal-title {
                @include title;
            }
        }

        button.close {
            @include close-modal-btn;
        }
    }

    .modal-body {
        padding: 0 24px 24px;
        border-bottom: rgba(var(--center-channel-color-rgb), 0.16);
    }

    .btn.btn-primary:disabled {
        background-color: rgba(var(--center-channel-color-rgb), 0.08);
        color: rgba(var(--center-channel-color-rgb), 0.32);

        &:hover {
            border-color: rgba(var(--center-channel-color-rgb), 0.08);
            background-color: rgba(var(--center-channel-color-rgb), 0.08);
            color: rgba(var(--center-channel-color-rgb), 0.32);
        }
    }
}
