@charset 'UTF-8';

@mixin larger-padding {
    padding: 24px 32px;
}

@mixin larger-padding-sides {
    padding: 0 32px;
}

@mixin title {
    margin: 0;
    color: var(--center-channel-color);
    font-size: 22px;
    font-weight: 600;
}

@mixin close-modal-btn {
    padding: 0;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    color: rgba(var(--center-channel-color-rgb), 0.56);
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        color: rgba(var(--center-channel-color-rgb), 0.56);
    }
}

@mixin hide-before-after {
    &::before,
    &::after {
        display: none;
    }
}
