.Badge {
    display: inline-flex;
    align-items: center;
    margin: 0 0 0 4px;
}

.Badge__box {
    padding: 1px 4px;
    border: none;
    background: rgba(var(--semantic-color-general), 0.16);
    border-radius: 2px;
    font-family: inherit;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;

    &.BotBadge,
    &.GuestBadge {
        padding: 2px 4px;
    }

    &.info {
        background: rgb(var(--semantic-color-info));
        color: #fff;
    }

    &.success {
        background: rgb(var(--semantic-color-success));
        color: #fff;
    }

    &.warning {
        background: rgb(var(--semantic-color-warning));
        color: #fff;
    }

    &.danger {
        background: rgb(var(--semantic-color-danger));
        color: #fff;
    }
}
