.Badge {
    display: inline-flex;
    align-items: center;

    &__icon {
        display: flex;
        align-items: center;
        margin-right: 3px;
    }

    &--uppercase {
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    &--xs {
        height: 16px;
        font-size: 10px;
        line-height: 12px;
    }

    &--sm {
        height: 20px;
        font-size: 12px;
        line-height: 16px;
    }

    &--md {
        height: 24px;
        font-size: 14px;
        line-height: 20px;
    }

    &--lg {
        height: 28px;
        font-size: 16px;
        line-height: 22px;
    }
}

.Badge__box {
    display: inline-flex;
    align-items: center;
    padding: 2px 5px;
    border: none;
    margin-left: 4px;
    background: rgba(var(--semantic-color-general), 0.08);
    border-radius: 4px;
    color: var(--semantic-color-general);
    font-family: inherit;
    font-weight: 600;

    &.BotBadge,
    &.GuestBadge {
        padding: 2px 4px;
    }

    &.info {
        background: rgb(var(--semantic-color-info));
        color: #fff;
    }

    &.success {
        background: rgb(var(--semantic-color-success));
        color: #fff;
    }

    &.warning {
        background: rgb(var(--semantic-color-warning));
        color: #fff;
    }

    &.danger {
        background: rgb(var(--semantic-color-danger));
        color: #fff;
    }
}
