.InsightsTable,
.top-thread-container {
    .thread-details {
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        .display-name {
            margin-left: 8px;
            color: var(--center-channel-color);
            font-family: 'Open Sans';
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
        }

        .reply-count {
            margin-left: auto;

            i.icon {
                width: 12px;
                height: 12px;
                color: rgba(var(--center-channel-color-rgb), 0.56);
                font-size: 12px;
            }

            span {
                color: rgba(var(--center-channel-color-rgb), 0.64);
                font-family: 'Open Sans';
                font-size: 11px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;
            }
        }
    }

    .preview {
        display: -webkit-box;
        overflow: hidden;
        height: 32px;
        max-height: 32px;
        margin: 0;
        -webkit-box-orient: vertical;
        color: rgba(var(--center-channel-color-rgb), 0.72);
        font-family: 'Open Sans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        -webkit-line-clamp: 2;
        line-height: 16px;

        .compliance-information {
            font-style: italic;
        }

        .file_card {
            width: auto;
            height: 32px;
            margin: 0;

            img.file_card__image {
                min-width: 24px;
                max-width: 24px;
                min-height: 24px;
                max-height: 24px;
            }
        }
    }
}
