.InsightsTable,
.top-thread-container {
    .thread-details {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    
        .display-name {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: var(--center-channel-color);
            margin-left: 8px;
        }
    
        .reply-count {
            margin-left: auto;
    
            i.icon {
                width: 12px;
                height: 12px;
                font-size: 12px;
                color: rgba(var(--center-channel-color-rgb), 0.56);
            }
    
            span {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 11px;
                line-height: 16px;
                color: rgba(var(--center-channel-color-rgb), 0.64);
            }
        }
    }
    .preview {
        height: 32px;
        margin: 0;
        color: rgba(var(--center-channel-color-rgb), 0.72);
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 32px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    
        .file_card {
            width: auto;
            margin: 0;
            height: 32px;
    
            img.file_card__image {
                min-width: 24px;
                max-width: 24px;
                min-height: 24px;
                max-height: 24px;
            }
        }
    }
}
