:root {
    --sidebar-bg: #145dbf;
    --sidebar-text: #ffffff;
    --sidebar-unread-text: #ffffff;
    --sidebar-text-hover-bg: #4578bf;
    --sidebar-text-active-border: #579eff;
    --sidebar-text-active-color: #ffffff;
    --sidebar-header-bg: #1153ab;
    --sidebar-header-text-color: #ffffff;
    --online-indicator: #06d6a0;
    --away-indicator: #ffbc42;
    --dnd-indicator: #f74343;
    --mention-bg: #ffffff;
    --mention-color: #145dbf;
    --center-channel-bg: #ffffff;
    --center-channel-color: #3d3c40;
    --new-message-separator: #ff8800;
    --link-color: #2389d7;
    --button-bg: #166de0;
    --button-color: #ffffff;
    --error-text-color: #fd5960;
    --mention-highlight-bg: #ffe577;
    --mention-highlight-link: #166de0;
}
