@charset 'UTF-8';

html,
body {
    height: 100%;
}

body {
    background: $bg--gray;
    position: relative;
    width: 100%;

    &.announcement-bar--fixed {
        padding-top: $announcement-bar-height;
    }

    &.sticky {
        .container-fluid {
            -webkit-overflow-scrolling: touch;
            overflow: auto;
        }
    }
}

*:focus {
    outline: none;
}

.sticky {
    background: $white;

    > .channel-view {
        height: 100vh;
        padding: 0 15px;
        overflow: auto;
    }

    .inner-wrap {
        width: 100%;

        > .row {
            &.content {
                min-height: calc(100vh - 89px);

                @media (max-width: 768px) {
                    min-height: calc(100vh - 187px);
                }
            }
        }
    }
}

.help-page {
    overflow: hidden;
    padding: 3em 0;
}

.inner-wrap {
    height: 100%;

    &.sticky {
        overflow: auto;
    }

    > .row {
        &.main {
            height: 100%;
            position: relative;
        }
    }
}

.container-fluid {
    @include legacy-pie-clearfix;
    height: 100%;
    position: relative;
}

.channel-view {
    @include clearfix;
    height: 100%;
    position: relative;
}

#channel_view.channel-view {
    background: var(--center-channel-bg);
}

img {
    max-width: 100%;
}
