@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=lato:300,400');

b,
strong {
    font-weight: 400;
}

a {
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    word-break: break-word;

    &:focus,
    &:hover {
        color: $primary-color--hover;
    }
}

body {
    @include font-smoothing;
    font-family: 'Lato', sans-serif;
}

.light {
    @include opacity(.6);
}

.word-break--all {
    word-break: break-all;
}

.whitespace--nowrap {
    white-space: nowrap;
}

.overflow--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa {
    &.fa-margin--left {
        margin-left: 3px;
    }

    &.fa-margin--right {
        margin-right: 3px;
    }
}

.font-weight--normal {
    font-weight: 300;
}

.app__body.font--open_sans {
    font-family: 'Lato', 'sans-serif';
}
