
@charset 'UTF-8';

.GenericModal.CollapsedReplyThreadsModal {
    width: 692px;

    .modal-content {
        padding: 16px 15px;
    }

    .CollapsedReplyThreadsModal__img {
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
        margin-top: 40px;
        border-radius: 4px;
    }

    .modal-footer {
        margin-top: 20px;
    }
}

// Styles to override global styles
.modal {
    .GenericModal.CollapsedReplyThreadsModal.modal-dialog {
        height: unset;
        margin-top: calc(50vh - 307px);
    }

    .GenericModal.CollapsedReplyThreadsModal .modal-footer {
        position: relative;
    }
}
