@import 'utils/variables';

.RenewLicenseCard.TrialLicense {
    .TrialLicenseCard__text-title {
        font-style: normal;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 22px;
        color: var(--sys-button-bg);
    }
    .RenewLicenseCard__text-description {
        line-height: 20px;
        margin-bottom: 16px;
    }
    button {
        display: inline-block;
        margin-top: 0;
    }
    button.ContactSales {
        background-color: var(--sys-center-channel-bg);
        color: var(--sys-button-bg);
        border: 1px solid var(--sys-button-bg);
        padding: 11px 19px;
        margin-left: 10px;
    }
}
