button.purchase_now_bar {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;

    color: var(--sidebar-text);
    border: 1px solid var(--sidebar-text);
}