.post__header-set-custom-status {
    display: none;
}

.post.other--root.current--user {
    .post__header-set-custom-status {
        display: revert;
        background: #ecf3fd;
        padding: 0 4px;
        border-radius: 4px;
        margin-left: 8px;
    }

    .post__header-set-custom-status-icon > svg {
        height: 14px;
        width: 14px;
        vertical-align: middle;
        background: inherit;
        fill: #3f76e6;
        margin-right: 4px;
    }
    .post__header-set-custom-status-text {
        font-weight: normal;
        font-size: 12px;
        color: #3f76e6;
    }
}
