.toggle-monthly-yearly-container {
    display: grid;
    width: 161px;
    height: 32px;
    margin: auto;

    .toggle-monthly-yearly,
    .toggle-border {
        grid-column: 1;
        grid-row: 1;
    }

    .toggle-monthly-yearly {
        width: 161px;
        height: 32px;
        margin: auto;
        position: absolute;
    }
    
    .toggle-border {
        width: 80px;
        height: 32px;
        border: 1px solid var(--denim-button-bg);
        // margin-top: 44px;
        margin-left: 80px;
        border-radius: 40px;
        position: absolute;
    }

    .move-left {
        position: relative;
        animation-duration: 0.1s;
        animation-fill-mode: forwards;
        animation-name: moveLeft;
    }

    .move-right {
        position: relative;
        animation-duration: 0.1s;
        animation-fill-mode: forwards;
        animation-name: moveRight;
    }

    .text {
        top: 7px;
        left: 90px;
        width: 56px;
        height: 18px;
        margin: 7px 16px 0;
        font-family: 'Metropolis';
        font-size: 14px;
        font-style: normal;
    }

    .text-selected {
        color: var(--denim-button-bg);
        font-weight: 600;
        line-height: 18px;
    }

    .text-unselected {
        color: var(--center-channel-text);
        font-weight: 500;
        line-height: 17px;
    }
}

@keyframes moveLeft {
    from { right: 0; }

    to {
        right: 80px;
    }
}

@keyframes moveRight {
    from {
        right: 80px;
    }

    to {
        right: 0;
    }
}
