@import 'utils/variables';
@import 'utils/mixins';

//  since the modal is kind of tall, this makes it look more aligned to the top and the content better distributed
.GenericModal.modal-dialog {
    margin-top: calc(40vh - 240px) !important;
}

.ThreeDaysLeftTrialModal {
    .modal-content, .modal-header {
        border-radius: 8px;
    }

    .modal-body {
        display: flex;
        overflow: hidden;
        width: 100%;
        flex-direction: column;
        padding-bottom: 24px !important;

        .header-subtitle-text {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;            
            color: rgba(var(--center-channel-text-rgb), 0.72);
        }

        .content-container {
            display: flex;
            flex-direction: column;
            margin-right: 24px;

            .three-days-left-card {
                display: flex;
                align-items: flex-start;
                padding: 28px 0px 16px;
                gap: 10px;
                width: 100%;
                height: 136px;

                .svg-wrapper {
                    width: 130px;
                    height: 91px;
                }

                .content-wrapper {
                    font-family: 'Open Sans';
                    font-style: normal;
                    display: flex;
                    flex-direction: column;
                    margin-left: 15px;

                    .title {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        color: var(--center-channel-color);
                    }

                    .description {
                        margin-top: 8px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                    }

                    .LearnMoreActionButton {
                        margin-left: 5px;
                    }
                }
            }

            .workspace-limits-panel {
                margin: 24px 0;

                .limits-title {
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 16px;                    
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: rgba(var(--center-channel-text-rgb), 0.56);
                }
            }
        }

        .divisory-line {
            border-top: 1px solid rgba(var(--center-channel-text-rgb), 0.1);
            width: 598px;
            margin-left: -32px;
        }

        .footer-content {
            min-height: 60px;
            display: flex;

            .open-view-plans-modal-btn {
                align-self: self-end;
                margin-left: auto;
                margin-top: 24px;

                @include primary-button;
                @include button-medium;

                &:focus-visible {
                    outline: none !important;
                }
                &:focus {
                    border: 0px;
                }
            }
        }
    }
}
