.InviteMembersStep {
    max-width: 840px;
    padding: 12px 40px 24px 40px;

    h4 {
        margin: 0;
        color: var(--center-channel-color);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
}

.InviteMembersStep__shareInviteLink {
    margin-top: 32px;

    .InviteMembersStep__shareLinkBlock {
        display: flex;
        margin-top: 8px;
    }

    .InviteMembersStep__shareLinkInput {
        flex-grow: 1;
        padding: 8px 12px;
        border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
        border-right: 0;
        border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
        border-left: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
        border-radius: 4px 0 0 4px;
        color: rgba(var(--center-channel-color-rgb), 0.64);
        font-size: 12px;
        line-height: 16px;
    }

    .InviteMembersStep__shareLinkInputButton {
        display: flex;
        min-width: 108px;
        flex-grow: 0;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        border-radius: 0 4px 4px 0;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;

        &.copied {
            box-shadow: inset 0 0 0 1px var(--online-indicator);
            color: var(--online-indicator);
        }

        i {
            font-size: 14px;

            &::before {
                margin: 0;
            }
        }

        span {
            display: inline-block;
            margin-left: 4px;
        }
    }
}

.InviteMembersStep__send {
    display: flex;
    margin-top: 8px;
}

.InviteMembersStep__sendButton {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;

    i {
        font-size: 14px;

        &::before {
            margin: 0;
        }
    }

    span {
        display: inline-block;
        margin-left: 4px;
    }

    &.disabled i {
        color: 1px solid var(--center-channel-color);
    }
}

.InviteMembersStep__emailInvitations {
    > span {
        color: rgba(var(--center-channel-color-rgb), 0.56);
        font-size: 12px;
        line-height: 16px;
    }
}

.InviteMembersStep__invitationResults {
    display: flex;
    align-items: center;
    margin-left: 16px;
    color: var(--center-channel-color);
    font-size: 12px;
    line-height: 16px;

    i {
        color: var(--online-indicator);
        font-size: 14px;

        &::before {
            margin: 0;
        }
    }

    > span {
        margin-left: 4px;
    }

    &.error {
        color: var(--error-text);

        i {
            color: var(--error-text);
        }

        button.upgradeLink {
            padding: 0 !important;
            border: none;
            margin-left: 5px;
            background: none !important;
            font-weight: 600;

            span {
                color: var(--sys-button-bg);
            }
        }
    }
}

@media screen and (max-width: 1020px) {
    .InviteMembersStep {
        flex-direction: column;
        padding: 4px 12px 24px 12px;
    }
}
