.Card.insights-card {
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    margin: 8px;
    border-radius: 8px;
    box-shadow: none;

    &.large {
        width: auto;
    }

    &.small {
        width: calc((100%/3) - 16px);
        float: left;
    }

    .Card__header {
        display: flex;
        align-items: center;
        padding: 24px 24px 12px;

        &:hover {
            cursor: pointer;
        }

        .title-and-subtitle {
            display: flex;
            flex-direction: column;

            .text-top {
                display: block;

                h2 {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                }
            }

            .text-bottom {
                display: block;
                color: rgba(var(--center-channel-color-rgb), 0.72);
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
            }
        }

        span.icon {
            margin-left: auto;
        }

        .Card__hr {
            display: none;
        }
    }

    .Card__body {
        padding: 0 24px 24px;

        &.expanding {
            transition: none;
        }

        &.expanded {
            overflow: visible;
            margin: 0;
        }
    }
}
