@charset 'UTF-8';

.NotificationSeparator {
    padding-top: 2em;
    .separator__hr {
        border-color: #ffaf53;
    }

    .separator__text {
        color: #ff8800;
        font-weight: normal;
    }
}

