@charset 'UTF-8';

@import 'compass/utilities';

.Separator {
    height: 2em;
    margin: 0;
    position: relative;
    text-align: center;
    z-index: 0;
    pointer-events: none;

    &:before,
    &:after {
        content: '';
        display: none;
        height: 1em;
        left: 0;
        position: absolute;
        width: 100%;
    }

    &:before {
        bottom: 0;
    }

    &:after {
        top: 0;
    }

    &.hovered--after {
        &:before {
            background: #f5f5f5;
            display: block;
        }
    }

    &.hovered--before {
        &:after {
            background: #f5f5f5;
            display: block;
        }
    }

    .separator__hr {
        border-color: #cccccc;
        margin: 0;
        position: relative;
        top: 1em;
        z-index: 5;
    }

    .separator__text {
        @include border-radius(50px);
        background: #ffffff;
        color: #555555;
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        line-height: 2em;
        padding: 0 1em;
        position: relative;
        z-index: 5;
    }
}

@media screen and (max-width: 1440px) {
    .Separator {
        &.hovered--comment {
            &:before,
            &:after {
                background: none !important;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .Separator {
        &.hovered--after {
            &:before {
                background: none;
            }
        }

        &.hovered--before {
            &:after {
                background: none;
            }
        }
    }
}

@media print {
    .Separator .separator__hr {
        top: 1.7em;
    }
}
