.LessThanMaxFreeUsers,
.MoreThanMaxFreeUsers {
    display: flex;
    flex-direction: row;

    .titleAndButton {
        display: flex;
        flex-direction: column;
        align-items: center;

        > span {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }
    }

    button {
        width: fit-content;
        padding: 8px 16px;
        border: none;
        background-color: var(--button-bg);
        border-radius: 4px;
        color: var(--button-color);
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;

        span {
            color: var(--button-color);
            font-size: 14px;
            font-weight: 600;
        }

        &:hover:not(.disabled) {
            background: linear-gradient(0deg, rgba(var(--center-channel-color-rgb), 0.16), rgba(var(--center-channel-color-rgb), 0.16)), var(--button-bg);
            color: var(--button-color);
            text-decoration: none;
        }
    }
}

.MoreThanMaxFreeUsersWrapper {
    display: flex;
    flex-direction: row;

    .channelIntroButton {
        margin-top: 10px;
    }
}

.channelIntroButton {
    display: flex;
    width: 92px;
    height: 62px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0 12px 10px 0;
    background-color: rgba(63, 67, 80, 0.04);
    border-radius: 4px;
    color: rgba(63, 67, 80, 0.56);
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;

    &:hover {
        background-color: rgba(63, 67, 80, 0.08);
        color: rgba(63, 67, 80, 0.72);
    }

    svg {
        margin-bottom: 1.6px;
    }
    
    &:active {
        background-color: rgba(28, 88, 217, 0.08);
        color: #1C58D9;
    }

    @media screen and (max-width: 768px) and (min-width: 375px) {
        width: 114px;
        height: 62px;
    }
}

.channelIntroButton-not-svg {
    display: flex;
    width: 92px;
    height: 62px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0 12px 10px 0;
    background-color: rgba(63, 67, 80, 0.04);
    border-radius: 4px;
    color: rgba(63, 67, 80, 0.56);
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;

    &:hover {
        background-color: rgba(63, 67, 80, 0.08);
        color: rgba(63, 67, 80, 0.72);
    }

    svg {
        margin-bottom: 1.6px;
    }
}

.channelIntroButton-text-white {
    background-color: rgba(221, 223, 228, 0.04);
    color: rgba(221, 223, 228, 0.56);
}

.channel-intro__desc {
    display: flex;
    margin-bottom: 15px;
    color: rgba(63, 67, 80, 0.64);
    font-size: 11px;
}
