@import 'utils/variables';

.InvitationModalMembersStep {
    max-width: 720px;
    width: 100%;
    h2 {
        margin-bottom: 12px;
        margin-top: 0px;
        font-size: 20px;
        span {
            font-weight: 400;
        }
    }
    .share-link {
        max-width: 720px;
        width: 100%;
        .share-link-input-block {
            display: flex;
        }
        .share-link-input {
            flex-grow: 1;
            height: 48px;
            background: var(--center-channel-color-04);
            border-top: 1px solid var(--center-channel-color-20);
            border-left: 1px solid var(--center-channel-color-20);
            border-bottom: 1px solid var(--center-channel-color-20);
            border-right: 0;
            border-radius: 4px 0 0 4px;
            padding: 12px 14px;
            font-size: 16px;
            color: var(--center-channel-color-56);
        }
        .share-link-input-button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 0;
            border: 1px solid;
            border-color: var(--button-bg);
            color: var(--button-bg);
            height: 48px;
            width: 180px;
            border-radius: 0 4px 4px 0;
            background: var(--center-channel-bg);
            font-size: 16px;
            font-weight: 600;
            &:hover {
                background: var(--button-bg-08);
            }
            &:active {
                background: var(--button-bg-08);
            }
            span {
                display: inline-block;
                margin-right: 9px;
                height: 24px;
            }
            svg {
                fill: var(--button-bg);
            }
        }
        .help-text {
            margin-top: 8px;
            color: var(--center-channel-color-64);
        }
    }
    .search-and-add {
        max-width: 720px;
        width: 100%;
        margin-bottom: 28px;
        .search-and-add-input {
            height: 48px;
            background: $white;
            border: 1px solid $gray;
            border-radius: 4px;
            padding: 12px 14px;
            width: 100%;
        }
        .help-text {
            margin-top: 8px;
            color: var(--center-channel-color-64);
        }
    }
    .invitation-modal-or {
        position: relative;
        max-width: 720px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        hr {
            max-width: 720px;
            width: calc(100% - 40px);
            margin: 45px 0;
            border-color: var(--center-channel-color-08);
        }
        div {
            text-align: center;
            display: inline-block;
            position: absolute;
            background: var(--center-channel-bg);
            padding: 30px 12px;
            top: 0;
            color: var(--center-channel-color-20);
            font-size: 20px;
        }
    }
    .invite-members {
        text-align: right;
        margin-bottom: 28px;
    }
}

.InvitationModalMembersStep {
    .btn {
        line-height: 16px;
        height: 48px;
        padding: 14px 26px;
        font-size: 16px;
        font-weight: 600;
        min-width: 180px;
        border-radius: 4px;
        background: var(--button-bg);
        color: var(--button-color);
        &:focus, &:active, &:focus:active {
            outline: none;
            border-color: transparent;
        }
        &.btn-inactive {
            background: var(--center-channel-color-08);
            color: var(--center-channel-color-56);
        }
        &.btn-secondary {
            background: var(--center-channel-bg);
            border: 1px solid var(--button-bg);
            color: var(--button-bg);
        }
    }
}
