@import 'utils/variables';

.InvitationModalMembersStep {
    width: 100%;
    max-width: 720px;

    h5 {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 600;
    }

    .share-link {
        width: 100%;
        max-width: 720px;

        .share-link-input-block {
            display: flex;
        }

        .share-link-input {
            height: 48px;
            flex-grow: 1;
            padding: 12px 14px;
            border-top: 1px solid var(--center-channel-color-20);
            border-right: 0;
            border-bottom: 1px solid var(--center-channel-color-20);
            border-left: 1px solid var(--center-channel-color-20);
            background: var(--center-channel-color-04);
            border-radius: 4px 0 0 4px;
            color: var(--center-channel-color-56);
            font-size: 16px;
        }

        .share-link-input-button {
            display: flex;
            width: 180px;
            height: 48px;
            flex-grow: 0;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--button-bg);
            background: var(--center-channel-bg);
            border-radius: 0 4px 4px 0;
            color: var(--button-bg);
            font-size: 16px;
            font-weight: 600;

            &:hover {
                background: var(--button-bg-08);
            }

            &:active {
                background: var(--button-bg-08);
            }

            span {
                display: inline-block;
                height: 24px;
                margin-right: 9px;
            }

            svg {
                fill: var(--button-bg);
            }
        }

        .help-text {
            margin-top: 8px;
            color: var(--center-channel-color-64);
        }
    }

    .search-and-add {
        width: 100%;
        max-width: 720px;
        margin-bottom: 28px;

        .search-and-add-input {
            width: 100%;
            height: 48px;
            padding: 12px 14px;
            border: 1px solid $gray;
            background: $white;
            border-radius: 4px;
        }

        .help-text {
            margin-top: 8px;
            color: var(--center-channel-color-64);
        }
    }

    .invitation-modal-or {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 720px;
        flex-direction: column;
        align-items: center;

        hr {
            width: calc(100% - 40px);
            max-width: 720px;
            border-color: var(--center-channel-color-08);
            margin: 45px 0;
        }

        div {
            position: absolute;
            top: 0;
            display: inline-block;
            padding: 30px 12px;
            background: var(--center-channel-bg);
            color: var(--center-channel-color-20);
            font-size: 20px;
            text-align: center;
        }
    }

    .invite-members {
        margin-bottom: 28px;
        text-align: right;
    }

    .btn {
        min-width: 180px;
        height: 48px;
        padding: 14px 26px;
        background: var(--button-bg);
        border-radius: 4px;
        color: var(--button-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;

        &:focus,
        &:active,
        &:focus:active {
            border-color: transparent;
            outline: none;
        }

        &.btn-inactive {
            background: var(--center-channel-color-08);
            color: var(--center-channel-color-56);
        }

        &.btn-secondary {
            border: 1px solid var(--button-bg);
            background: var(--center-channel-bg);
            color: var(--button-bg);
        }
    }
}
