.file-preview-modal-main-actions {
    &__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        i {
            font-size: 2.4rem;
        }
    }

    &__action-item {
        border: unset;
        margin-left: 10px;
        background: transparent;
    }
}
