.ic {
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ic-arrow-left {
  width: .7rem;
  height: 1.2rem;
  background-size: .7rem 1.2rem;
  background-image: url('../../static/icons/ic_arrow_greyblue_left.svg');
  background-position: center;
}

.ic-reactions {
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
  font-size: 2rem;
}

@keyframes play-loading {
  from { background-position: 0; }
  to { background-position: -10000px; }
}

.img-loading {
  animation: play-loading 1.5s steps(50) infinite;
  background-image: url('../../static/img_loading.png');
  background-size: 10000px 200px;
}

.mattermost {
  .ic-reactions {
    color: #ffffff;
  }
}

.ic-search {
  width: 3.3rem;
  height: 3.3rem;
}

.ic-trending {
  width: 1.9rem;
  height: 2.4rem;
  background-size: 1.9rem 2.4rem;
}

.ic-drawing {
  width: 2.2rem;
  height: 2.2rem;
  background-size: 2.2rem 2.2rem;
}

.ic-trash-can {
  background-image: url('../../static/icons/ic_trash_can.svg');
  background-size: 3rem 3rem;
  height: 3rem;
  width: 3rem;
}

.ic-send-button {
  background-image: url('../../static/icons/ic_send_white.svg');
}

.ic-pencil {
  background-image: url('../../static/icons/ic_pencil.svg');
  background-size: 5.6rem 6.4rem;
  height: 6.4rem;
  width: 5.6rem;
}

.ic-canvas-border {
  border: 8rem solid #000;
  border-image: url('../../static/icons/ic_canvas_border.svg') 80 stretch;
}

.mattermost {
  .ic-clear-search {
    background-image: url('../../static/icons/ic_clear_search.svg');
    background-size: 1.3rem;
  }

  .ic-trending {
    background-image: url('../../static/icons/ic_trending_white.svg');
  }

  .ic-reactions {
    background-image: url('../../static/icons/ic_reactions_white.svg');
  }

  .ic-search {
    background-image: url('../../static/icons/ic_search_grey.svg');
    background-size: 1.3rem;
  }
}
