.Card__card {
    background-color: var(--sys-center-channel-bg);
    border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    color: var(--sys-center-channel-color);
    width: 100%;
    height: '463px';
    margin-bottom: 20px;
}

.Card__cardHeader {
    padding: 28px 32px 24px 32px;
    border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
    display: flex;
    align-items: center;
}

.Card__cardHeaderText-top {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.Card__cardHeaderText-bottom {
    font-size: 14px;
    line-height: 20px;
}
.Card__cardHeaderButton {
    margin-left: auto;
    padding: 10px 16px;
    font-size: 12px;
    height: 32px;
    font-weight: 600;
    line-height: 9.5px;
    border: none;
    border-radius: 4px;
}
.Card__cardHeaderButton.primary {
    background: var(--button-bg);
    color: var(--button-color);
}
.Card__cardBody {
    padding: 20px 32px;
}