.modal .channel-notifications-settings-modal {
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    border-radius: 12px;

    .modal-content {
        display: flex;
        overflow: hidden;
        flex-direction: column;
    }

    .modal-header {
        border: none;
        border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
        background: none;
    }

    &__body {
        display: flex;
        width: 100%;
        max-width: 1024px;
        height: calc(100vh - 265px);
        min-height: 150px;
    }

    &__footer {
        display: flex;
        width: 100%;
        max-width: 1024px;
        align-items: center;
        justify-content: flex-end;
        padding: 24px 32px;
        border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
        gap: 8px;
    }

    &__reset-btn {
        display: flex;
        padding: 5px 8px;
        border: none;
        background: transparent;
        border-radius: 4px;
        color: var(--button-bg);
        font-size: 12px;
        font-weight: 600;
        gap: 4px;
        line-height: 9.5px;
        place-items: center;

        &:hover,
        &:active {
            background: rgba(var(--button-bg-rgb), 0.08);
        }
    }

    &__save-btn {
        padding: 12px 20px 12px 20px;
        border: none;
        background: var(--button-bg);
        border-radius: 4px;
        color: var(--button-color);
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        text-transform: capitalize;

        &:hover,
        &:active {
            background: rgba(var(--button-bg-rgb), 0.12);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), var(--button-bg);
        }

        &:focus {
            box-sizing: border-box;
            padding: 10px 18px;
            border: 2px solid var(--sidebar-text-active-border);
            box-shadow: none;
        }
    }

    &__cancel-btn {
        padding: 12px 20px 12px 20px;
        border: none;
        background: rgba(var(--button-bg-rgb), 0.08);
        border-radius: 4px;
        color: var(--button-bg);
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        text-transform: capitalize;

        &:hover,
        &:active {
            background: rgba(var(--button-bg-rgb), 0.12);
        }
    }

    &__content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 32px;
        gap: 24px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__divider {
        border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    }

    @media screen and (max-width: 768px) {
        max-width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0;

        .modal-content {
            display: flex;
            height: 100vh;
            flex-direction: column;
        }

        &__body {
            height: unset;
            overflow-y: scroll;
        }
    }
}
