.app__body {
    .shortcut-key {
        display: inline-block;
        padding: 2px 8px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;

        &.shortcut-key--contrast {
            background-color: rgba(var(--center-channel-color-rgb), 0.08);
            color: var(--center-channel-color);
        }
    }
}
