.Form {
    margin: 0 auto;
    width: 75%;
    max-width: 448px;
}

.Form-header {
    text-align: left;
    color: #22406D;
}

.Form-header-title {
    font-family: Metropolis;
    font-size: 28px;
    line-height: 34px;;
    margin-bottom: 24px;
}

.Form-header-sub {
    font-size: 18px;
    line-height: 28px;
    margin-top: -16px;
    margin-bottom: 24px;
}

.Form-section-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #22406D;
    text-align: left;
    margin-bottom: 16px;
}

.Form-row {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
}

.Form-row-half-1 {
    max-width: 216px;
    width: 50%;
    margin-right: 16px;
}

.Form-row-half-2 {
    max-width: 216px;
    width: 50%;
}

.Form-row-third-1 {
    max-width: 288px;
    width: 66%;
    margin-right: 16px;
}

.Form-row-third-2 {
    max-width: 144px;
    width: 34%;
}

.Form-error {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    margin-top: 4px;
    color: #DB3214;
}

.Form-checkbox {
    color: #22406D;
    line-height: 28px;
    font-size: 18px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 26px;
}

.Form-checkbox-input {
    vertical-align: middle;
    height: 28px;
}

.Form-checkbox-label {
    cursor: default;
    padding-left: 12px;
    vertical-align: middle;
}

.Form-btn-link {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
}

.Form-btn-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.Form-link {
    color: #0058cc;
    word-break: break-word;
    text-decoration: none;
}

.Form-link:hover {
    color: #0058cc;
}

.Form-url {
    font-weight: 300;
    font-size: 14px;
    text-align: right;
}

.Form-btn {
    background: #0058CC;
    min-width: 120px;
    height: 44px;
    font-weight: 600;
    font-size: 18px;
    padding: 0 24px;
    margin-right: 12px;
}

.Form-btn-trans {
    background: none;
    color: #22406D;
    opacity: 0.6;
}

.Form-btn:disabled {
    background-color: #000;
    opacity: 0.12;
    border: none;
    cursor: default;
}

.Form-btn-div {
    text-align: left;
}

.Form-forgotpassword-div {
    text-align: left;
    margin-top: 20px;
}

.Form-forgotpassword-link {
    font-family: Source Sans Pro;
    color: #22406D;
}

.Form-error-icon {
    height: 16px;
    width: 16px;
    margin-right: 4px;
    margin-bottom: 2px;
}
