.EnterSupportEmailStep {
    max-width: 840px;
    padding: 12px 40px 24px 40px;

    h3 {
        margin: 0;
        color: var(--center-channel-color);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
}

.EnterSupportEmailStep__header {
    > span {
        color: rgba(var(--center-channel-color-rgb), 0.56);
        font-size: 12px;
        line-height: 16px;
    }
}

.EnterSupportEmailStep__body {
    margin-top: 15px;

    .support_input {
        width: 70%;
    }
}

.EnterSupportEmailStep__body--error {
    display: flex;
    margin-top: 8px;
    color: var(--error-text);
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.EnterSupportEmailStep__body--error i {
    height: 16px;
    align-self: baseline;
    margin-right: 8px;
}
