.CloudBillingHistoryModal {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-y: hidden !important;
    border-radius: 8px;
    .modal-header {
        background-color: #FFFFFF;
        .modal-title {
            color: #3F4350
        }
        .modal-body {
            .BillingHistory__table {
                border-radius: 8px;
            }
        }

        .close {
            color: rgba(#3F4350, 0.56)
        }
    }

}
