.CloudBillingHistoryModal {
    top: 50%;
    left: 50%;
    border-radius: 8px;
    overflow-y: hidden !important;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .modal-header {
        border: none;
        background: #fff !important;
        background-color: #fff !important;

        .modal-title {
            color: #3f4350;
        }

        .modal-body {
            .BillingHistory__table {
                border-radius: 8px;
            }
        }

        .close {
            color: rgba(#3f4350, 0.56);
        }
    }
}
