.PaymentInfoDisplay {
    background-color: var(--sys-center-channel-bg);
    border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    color: var(--sys-center-channel-color);
}

.PaymentInfoDisplay__header {
    padding: 28px 32px 24px 32px;
    border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
    display: flex;
    align-items: center;
}

.PaymentInfoDisplay__headerText-top {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.PaymentInfoDisplay__headerText-bottom {
    font-size: 14px;
    line-height: 20px;
}

.PaymentInfoDisplay__addInfo {
    margin-left: auto;
}

.PaymentInfoDisplay__addInfoButton {
    background: var(--sys-button-bg);
    padding: 8px 16px;
    border-radius: 4px;
    display: flex;
    color: var(--sys-button-color);
    align-items: center;

    &:hover:not(.disabled) {
        background: linear-gradient(0deg, rgba(var(--sys-center-channel-color-rgb), 0.16), rgba(var(--sys-center-channel-color-rgb), 0.16)), var(--sys-button-bg);
        text-decoration: none;
        color: var(--sys-button-color);
    }

    &:active {
        background: linear-gradient(0deg, rgba(var(--sys-center-channel-color-rgb), 0.32), rgba(var(--sys-center-channel-color-rgb), 0.32)), var(--sys-button-bg);
        text-decoration: none;
        color: var(--sys-button-color);
    }

    &:focus {
        box-shadow: inset 0 0 0 2px var(--sys-sidebar-text-active-border);
        text-decoration: none;
        color: var(--sys-button-color);
    }

    &.disabled {
        color: rgba(var(--sys-center-channel-color-rgb), 0.32);
        background: rgba(var(--sys-center-channel-color-rgb), 0.08);
    }

    > i {
        font-size: 14.4px;
        line-height: 17px;

        &::before {
            margin: 0;
        }
    }

    > span {
        font-weight: 600;
        font-size: 12px;
        line-height: 9px;
        margin-left: 4px;
    }
}

.PaymentInfoDisplay__noPaymentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}

.PaymentInfoDisplay__noPaymentInfo-message {
    margin-top: 24px;
    font-size: 14px;
    line-height: 20px;
    color: var(--sys-center-channel-color);
}

.PaymentInfoDisplay__noPaymentInfo-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--sys-button-bg);
    margin-top: 20px;
    margin-bottom: 12px;
}

.PaymentInfoDisplay__paymentInfo {
    padding: 28px 45px 30px 32px;
    color: var(--sys-center-channel-color);
    font-size: 14px;
    line-height: 20px;
    display: flex;

    .CardImage {
        max-height: 37px;
        max-width: 55px;
    }
}

.PaymentInfoDisplay__paymentInfo-name {
    font-weight: 600;
}

.PaymentInfoDisplay__paymentInfo-addressTitle {
    font-weight: 600;
    margin-top: 16px;
}

.PaymentInfoDisplay__paymentInfo-address > div {
    margin-top: 4px;
}

.PaymentInfoDisplay__paymentInfo-edit {
    margin-left: auto;
}

.PaymentInfoDisplay__paymentInfo-editButton {
    color: rgba(var(--sys-center-channel-color-rgb), 0.56);
    font-size: 18px;
    margin-left: 12px;
    border-radius: 4px;
    padding: 2px;

    &:hover, &:focus {
        text-decoration: none;
        color: rgba(var(--sys-center-channel-color-rgb),.72);
        background: rgba(var(--sys-center-channel-color-rgb),.08);
    }
}

.PaymentInfoDisplay__paymentInfo-cardInfo::first-letter {
    text-transform: capitalize;
}
