.DebugBarButton {
    position: fixed;
    width: 60px;
    height: 30px;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.DebugBar {
    height: 300px;
    background: white;
    grid-row: 4;
    grid-column: 1/span 5;

    .header {
        display: flex;
        height: 30px;
        padding: 2px;
        div {

        }
        .selected {
            background: lightblue;
        }
        .action {
            align-self: flex-end;
        }
    }
    .body {
        overflow: scroll;
        height: 100%;
    }
    .DebugBarTable {
        font-family: "Times New Roman", Times, serif;
        border: 1px solid #FFFFFF;
        text-align: center;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        td, th {
            border: 1px solid #FFFFFF;
            padding: 3px 2px;
            &.time, &.duration {
                width: 150px;
            }
            &.level, &.statusCode, &.success {
                width: 100px;
            }
        }
        tbody td {
            font-size: 13px;
            pre {
                text-align: left;
                background: none;
                border: 0;
            }
        }
        tr:nth-child(even) {
            background: #D0E4F5;
        }
        thead {
            background: #0B6FA4;
            border-bottom: 5px solid #FFFFFF;
            th {
                font-size: 17px;
                font-weight: bold;
                color: #FFFFFF;
                text-align: center;
                border-left: 2px solid #FFFFFF;
            }
            th:first-child {
                border-left: none;
            }
        }
    }
}
