
.ThreadHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    padding-right: 16px;
    --button-separator-height: 24px;

    .Button {
        padding: 4px 8px;
        font-size: 12px;
        height: 24px;
    }

    h3 {
        display: inline-block;
        margin: 0;
        color: rgba(var(--center-channel-color-rgb), 1);

        > span {
            font-size: 16px;
            line-height: 32px;
            font-weight: 600;
            vertical-align: top;
            padding: 0 8px;
        }

        .Button {
            font-weight: 400;
            color: rgba(var(--center-channel-color-rgb), .56);
        }
    }

    > .spacer {
        flex: 1;
    }

    .MenuWrapper {
        margin-left: 4px;

        .dropdown-menu {
            min-width: 250px;
        }
    }
}
