.TrueUpReview__card {
    width: 100%;
    height: '463px';
    border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
    background-color: var(--sys-center-channel-bg);
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    color: var(--sys-center-channel-color);
}

.TrueUpReview__cardHeader {
    display: flex;
    align-items: center;
    padding: 28px 32px 24px 32px;
    border-bottom: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
}

.TrueUpReview__cardHeaderText-top {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.TrueUpReview__cardBody {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.TrueUpReview__cardBody > * {
    margin-bottom: 10px;
}

.TrueUpReview__cardBody > svg {
    margin-left: 15px;
}

.dueDate :first-child {
    color: #a3a4a8;
}

.warning-icon {
    color: var(--warning-text);
    font-size: 24px;
}

.Submit_Button {
    width: 181px;
    height: 40px;
    border: none;
    background: var(--denim-button-bg);
    border-radius: 4px;
    box-shadow: none;
    color: var(--button-color);
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 10px;
}

.Submit_Button_Error {
    width: 181px;
    height: 40px;
    border: none;
    background: var(--button-bg-16);
    border-radius: 4px;
    box-shadow: none;
    color: var(--button-bg);
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 10px;
}
