.url-input-main {
    display: flex;
    flex-direction: column;

    .url-input-container {
        display: flex;
        min-height: 32px;
        align-items: center;

        .url-input-label {
            flex: none;
            margin-right: 4px;
            color: rgba(var(--center-channel-color-rgb), 0.64);
            font-size: 12px;
            line-height: 17px;
        }

        .url-input-editable-container {
            margin-right: 6px;
        }

        .url-input-editable-path {
            height: 26px;
            font-size: 12px;
            line-height: 16px;
        }

        .url-input-button {
            padding: 0;
            border: none;
            background: var(--center-channel-bg);
            color: var(--button-bg);

            .url-input-button-label {
                color: #1c58d9;
                font-size: 12px;
                font-weight: 600;
                line-height: 9px;
            }

            &.disabled {
                .url-input-button-label {
                    color: rgba(var(--center-channel-color-rgb), 0.32);
                }
            }
        }
    }

    .url-input-error {
        display: flex;
        margin-top: 5px;
        color: var(--error-text);
        font-size: 12px;
        line-height: 16px;
        text-align: left;

        i {
            height: 14px;
            align-self: baseline;
            margin-right: 7px;
            font-size: 14px;

            &::before {
                margin: 0;
            }
        }
    }
}
