@import 'utils/variables';

.FeatureDiscovery {
    background: $white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
}

.FeatureDiscovery_imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FeatureDiscovery_copyWrapper,
.FeatureDiscovery_imageWrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.FeatureDiscovery_image {
    height: 220px;
}

.FeatureDiscovery_title {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 24px;
}

.FeatureDiscovery_copy {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 24px;
}

.FeatureDiscovery .btn {
    margin-right: 24px;
    width: 160px;
    line-height: 16px;
    height: 48px;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background: $primary-color;
    color: $white;
    &:focus, &:active, &:focus:active {
        outline: none;
        border-color: transparent;
    }
    &:disabled {
        background: $light-gray;
        color: $dark-gray;
        border-color: transparent;
    }
    &.btn-inactive {
        background: var(--center-channel-color-08);
        color: var(--center-channel-color-56);
    }
    &.btn-secondary {
        background:  $white;
        border: 1px solid $primary-color;
        color: $primary-color;
    }
}
