.PanelHeader {
    display: flex;
    min-height: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    color: rgba(var(--center-channel-color-rgb), 0.64);
    font-size: 12px;
    line-height: 16px;

    &__right {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        div + div {
            padding-left: 8px;
        }
    }

    &__left {
        display: flex;
        flex: 1;
        align-items: center;
        font-weight: 600;

        > span {
            display: inline-flex;
            min-width: 0;
            align-items: center;
        }
    }

    &__timestamp {
        color: rgba(var(--center-channel-color-rgb), 0.64);
    }

    &__actions {
        display: none;

        &.show {
            display: inline-flex !important;
        }
    }

    &__info {
        display: inline-flex;

        &.hide {
            display: none;
        }
    }
}
