.PanelHeader {
    display: flex;
    min-height: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    color: rgba(var(--center-channel-color-rgb), 0.64);
    font-size: 12px;
    line-height: 16px;

    &__right {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__left {
        flex: 1;
        font-weight: 600;

        > span {
            display: inline-flex;
            align-items: center;
        }
    }

    &__timestamp {
        color: rgba(var(--center-channel-color-rgb), 0.64);
    }
}
