.TextCardWithAction {
    width: 100%;
    .card-body {
        max-height: 80px;
        max-width: 1440px;
        margin: 12px 46px 16px 40px;
    }

    .card-action-button {
        margin-bottom: 16px;
    }
}
