.app__body {
    color: var(--center-channel-color);
    scrollbar-arrow-color: var(--center-channel-color);

    hr {
        border-color: rgba(var(--center-channel-color-rgb), 0.2);
    }

    .input-group-addon {
        border-color: rgba(var(--center-channel-color-rgb), 0.1);
    }

    .svg-text-color,
    .icon--body {
        fill: var(--center-channel-color);
    }

    #post-create,
    .input-group-addon,
    .post-create__container .post-create-body .btn-file,
    .post-create__container .post-create-footer .msg-typing {
        color: var(--center-channel-color);
    }

    .edit-post__actions .icon svg,
    .post-create__container .post-create-body .btn-file svg,
    .post.post--compact .post-image__column .post-image__details svg {
        fill: var(--center-channel-color);
    }

    .table > tbody > tr > td,
    .table > thead > tr > th,
    .post .MenuWrapper .dropdown-menu button {
        border-color: rgba(var(--center-channel-color-rgb), 0.12);
    }

    /** IMO these rules feel like overkill **/
    .MenuWrapper .MenuItem > button:hover,
    .Menu .MenuItem > button:hover,
    .MenuWrapper .MenuItem > button:focus,
    .MenuWrapper .MenuItem > a:hover,
    .MenuItem > div:hover,
    .SubMenuItemContainer:not(.hasDivider):hover {
        background: rgba(var(--center-channel-color-rgb), 0.1);
    }
}
