@import 'utils/variables';

.InvitationModal .InvitationModalConfirmStep h1 {
    margin-bottom: 10px;
}

.InvitationModalConfirmStep {
    display: block;
    width: 720px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    .subtitle {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;

        strong {
            font-weight: 600;
        }
    }

    .invitation-modal-confirm-not-sent {
        h2 {
            margin-top: 32px;
            margin-bottom: 13px;
            font-size: 20px;
            font-weight: 400;
        }

        .InvitationModalConfirmStepTable {
            .table-header {
                height: 40px;
                border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                background: rgba(238, 179, 0, 0.2);
                color: var(--center-channel-color);
                font-size: 14px;
            }
        }
    }

    .invitation-modal-confirm-sent {
        h2 {
            margin-bottom: 13px;
            font-size: 20px;
            font-weight: 400;
        }

        .InvitationModalConfirmStepTable {
            .table-header {
                height: 40px;
                border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                background: rgba(0, 131, 89, 0.2);
                color: var(--center-channel-color);
                font-size: 14px;

                svg {
                    width: 18px;
                    height: 18px;
                    fill: var(--center-channel-color);
                }
            }
        }
    }

    .button-input-block {
        margin-top: 32px;
        margin-bottom: 28px;
        text-align: right;

        button {
            min-width: 120px;
            height: 48px;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 600;
        }

        .invite-more {
            padding: 13px 20px;
            border: 1px solid;
            border-color: var(--button-bg);
            margin-right: 16px;
            background: var(--center-channel-bg);
            color: var(--button-bg);

            &:hover {
                background: rgba(var(--button-bg-rgb), 0.08);
            }

            &:active {
                background: rgba(var(--button-bg-rgb), 0.08);
            }
        }

        .confirm-done {
            padding: 13px 40px;
            background: var(--button-bg);
            color: var(--button-color);

            &:focus,
            &:active,
            &:focus:active {
                border-color: transparent;
                outline: none;
            }
        }
    }
}
