.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
}

.flex-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
    -webkit-box-direction: reverse !important;
    -webkit-box-orient: horizontal !important;
}

.flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    -webkit-box-direction: reverse !important;
    -webkit-box-orient: vertical !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
}

.justify-content-start {
    justify-content: flex-start !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
}

.justify-content-end {
    justify-content: flex-end !important;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
}

.justify-content-center {
    justify-content: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
}

.justify-content-around {
    justify-content: space-around !important;
    -ms-flex-pack: distribute !important;
}

.align-items-start {
    align-items: flex-start !important;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
}

.align-items-end {
    align-items: flex-end !important;
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
}

.align-items-center {
    align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
}

.align-items-baseline {
    align-items: baseline !important;
    -webkit-box-align: baseline !important;
    -ms-flex-align: baseline !important;
}

.align-items-stretch {
    align-items: stretch !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
}

.align-content-start {
    align-content: flex-start !important;
    -ms-flex-line-pack: start !important;
}

.align-content-end {
    align-content: flex-end !important;
    -ms-flex-line-pack: end !important;
}

.align-content-center {
    align-content: center !important;
    -ms-flex-line-pack: center !important;
}

.align-content-between {
    align-content: space-between !important;
    -ms-flex-line-pack: justify !important;
}

.align-content-around {
    align-content: space-around !important;
    -ms-flex-line-pack: distribute !important;
}

.align-content-stretch {
    align-content: stretch !important;
    -ms-flex-line-pack: stretch !important;
}

.align-self-auto {
    align-self: auto !important;
    -ms-flex-item-align: auto !important;
}

.align-self-start {
    align-self: flex-start !important;
    -ms-flex-item-align: start !important;
}

.align-self-end {
    align-self: flex-end !important;
    -ms-flex-item-align: end !important;
}

.align-self-center {
    align-self: center !important;
    -ms-flex-item-align: center !important;
}

.align-self-baseline {
    align-self: baseline !important;
    -ms-flex-item-align: baseline !important;
}

.align-self-stretch {
    align-self: stretch !important;
    -ms-flex-item-align: stretch !important;
}

@media (min-width: 576px) {
    .flex-sm-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: horizontal !important;
    }

    .flex-sm-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
    }

    .flex-sm-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
        -webkit-box-direction: reverse !important;
        -webkit-box-orient: horizontal !important;
    }

    .flex-sm-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
        -webkit-box-direction: reverse !important;
        -webkit-box-orient: vertical !important;
    }

    .flex-sm-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .flex-sm-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }

    .flex-sm-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
    }

    .justify-content-sm-start {
        justify-content: flex-start !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
    }

    .justify-content-sm-end {
        justify-content: flex-end !important;
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
    }

    .justify-content-sm-center {
        justify-content: center !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
    }

    .justify-content-sm-between {
        justify-content: space-between !important;
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
    }

    .justify-content-sm-around {
        justify-content: space-around !important;
        -ms-flex-pack: distribute !important;
    }

    .align-items-sm-start {
        align-items: flex-start !important;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
    }

    .align-items-sm-end {
        align-items: flex-end !important;
        -webkit-box-align: end !important;
        -ms-flex-align: end !important;
    }

    .align-items-sm-center {
        align-items: center !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
    }

    .align-items-sm-baseline {
        align-items: baseline !important;
        -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
    }

    .align-items-sm-stretch {
        align-items: stretch !important;
        -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
    }

    .align-content-sm-start {
        align-content: flex-start !important;
        -ms-flex-line-pack: start !important;
    }

    .align-content-sm-end {
        align-content: flex-end !important;
        -ms-flex-line-pack: end !important;
    }

    .align-content-sm-center {
        align-content: center !important;
        -ms-flex-line-pack: center !important;
    }

    .align-content-sm-between {
        align-content: space-between !important;
        -ms-flex-line-pack: justify !important;
    }

    .align-content-sm-around {
        align-content: space-around !important;
        -ms-flex-line-pack: distribute !important;
    }

    .align-content-sm-stretch {
        align-content: stretch !important;
        -ms-flex-line-pack: stretch !important;
    }

    .align-self-sm-auto {
        align-self: auto !important;
        -ms-flex-item-align: auto !important;
    }

    .align-self-sm-start {
        align-self: flex-start !important;
        -ms-flex-item-align: start !important;
    }

    .align-self-sm-end {
        align-self: flex-end !important;
        -ms-flex-item-align: end !important;
    }

    .align-self-sm-center {
        align-self: center !important;
        -ms-flex-item-align: center !important;
    }

    .align-self-sm-baseline {
        align-self: baseline !important;
        -ms-flex-item-align: baseline !important;
    }

    .align-self-sm-stretch {
        align-self: stretch !important;
        -ms-flex-item-align: stretch !important;
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: horizontal !important;
    }

    .flex-md-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
    }

    .flex-md-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
        -webkit-box-direction: reverse !important;
        -webkit-box-orient: horizontal !important;
    }

    .flex-md-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
        -webkit-box-direction: reverse !important;
        -webkit-box-orient: vertical !important;
    }

    .flex-md-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }

    .flex-md-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
    }

    .justify-content-md-start {
        justify-content: flex-start !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
    }

    .justify-content-md-end {
        justify-content: flex-end !important;
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
    }

    .justify-content-md-center {
        justify-content: center !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
    }

    .justify-content-md-between {
        justify-content: space-between !important;
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
    }

    .justify-content-md-around {
        justify-content: space-around !important;
        -ms-flex-pack: distribute !important;
    }

    .align-items-md-start {
        align-items: flex-start !important;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
    }

    .align-items-md-end {
        align-items: flex-end !important;
        -webkit-box-align: end !important;
        -ms-flex-align: end !important;
    }

    .align-items-md-center {
        align-items: center !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
    }

    .align-items-md-baseline {
        align-items: baseline !important;
        -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
    }

    .align-items-md-stretch {
        align-items: stretch !important;
        -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
    }

    .align-content-md-start {
        align-content: flex-start !important;
        -ms-flex-line-pack: start !important;
    }

    .align-content-md-end {
        align-content: flex-end !important;
        -ms-flex-line-pack: end !important;
    }

    .align-content-md-center {
        align-content: center !important;
        -ms-flex-line-pack: center !important;
    }

    .align-content-md-between {
        align-content: space-between !important;
        -ms-flex-line-pack: justify !important;
    }

    .align-content-md-around {
        align-content: space-around !important;
        -ms-flex-line-pack: distribute !important;
    }

    .align-content-md-stretch {
        align-content: stretch !important;
        -ms-flex-line-pack: stretch !important;
    }

    .align-self-md-auto {
        align-self: auto !important;
        -ms-flex-item-align: auto !important;
    }

    .align-self-md-start {
        align-self: flex-start !important;
        -ms-flex-item-align: start !important;
    }

    .align-self-md-end {
        align-self: flex-end !important;
        -ms-flex-item-align: end !important;
    }

    .align-self-md-center {
        align-self: center !important;
        -ms-flex-item-align: center !important;
    }

    .align-self-md-baseline {
        align-self: baseline !important;
        -ms-flex-item-align: baseline !important;
    }

    .align-self-md-stretch {
        align-self: stretch !important;
        -ms-flex-item-align: stretch !important;
    }
}

@media (min-width: 992px) {
    .flex-lg-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: horizontal !important;
    }

    .flex-lg-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
    }

    .flex-lg-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
        -webkit-box-direction: reverse !important;
        -webkit-box-orient: horizontal !important;
    }

    .flex-lg-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
        -webkit-box-direction: reverse !important;
        -webkit-box-orient: vertical !important;
    }

    .flex-lg-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .flex-lg-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }

    .flex-lg-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
    }

    .justify-content-lg-start {
        justify-content: flex-start !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
    }

    .justify-content-lg-end {
        justify-content: flex-end !important;
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
    }

    .justify-content-lg-center {
        justify-content: center !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
    }

    .justify-content-lg-between {
        justify-content: space-between !important;
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
    }

    .justify-content-lg-around {
        justify-content: space-around !important;
        -ms-flex-pack: distribute !important;
    }

    .align-items-lg-start {
        align-items: flex-start !important;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
    }

    .align-items-lg-end {
        align-items: flex-end !important;
        -webkit-box-align: end !important;
        -ms-flex-align: end !important;
    }

    .align-items-lg-center {
        align-items: center !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
    }

    .align-items-lg-baseline {
        align-items: baseline !important;
        -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
    }

    .align-items-lg-stretch {
        align-items: stretch !important;
        -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
    }

    .align-content-lg-start {
        align-content: flex-start !important;
        -ms-flex-line-pack: start !important;
    }

    .align-content-lg-end {
        align-content: flex-end !important;
        -ms-flex-line-pack: end !important;
    }

    .align-content-lg-center {
        align-content: center !important;
        -ms-flex-line-pack: center !important;
    }

    .align-content-lg-between {
        align-content: space-between !important;
        -ms-flex-line-pack: justify !important;
    }

    .align-content-lg-around {
        align-content: space-around !important;
        -ms-flex-line-pack: distribute !important;
    }

    .align-content-lg-stretch {
        align-content: stretch !important;
        -ms-flex-line-pack: stretch !important;
    }

    .align-self-lg-auto {
        align-self: auto !important;
        -ms-flex-item-align: auto !important;
    }

    .align-self-lg-start {
        align-self: flex-start !important;
        -ms-flex-item-align: start !important;
    }

    .align-self-lg-end {
        align-self: flex-end !important;
        -ms-flex-item-align: end !important;
    }

    .align-self-lg-center {
        align-self: center !important;
        -ms-flex-item-align: center !important;
    }

    .align-self-lg-baseline {
        align-self: baseline !important;
        -ms-flex-item-align: baseline !important;
    }

    .align-self-lg-stretch {
        align-self: stretch !important;
        -ms-flex-item-align: stretch !important;
    }
}

@media (min-width: 1200px) {
    .flex-xl-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: horizontal !important;
    }

    .flex-xl-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
    }

    .flex-xl-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
        -webkit-box-direction: reverse !important;
        -webkit-box-orient: horizontal !important;
    }

    .flex-xl-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
        -webkit-box-direction: reverse !important;
        -webkit-box-orient: vertical !important;
    }

    .flex-xl-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .flex-xl-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }

    .flex-xl-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
    }

    .justify-content-xl-start {
        justify-content: flex-start !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
    }

    .justify-content-xl-end {
        justify-content: flex-end !important;
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
    }

    .justify-content-xl-center {
        justify-content: center !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
    }

    .justify-content-xl-between {
        justify-content: space-between !important;
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
    }

    .justify-content-xl-around {
        justify-content: space-around !important;
        -ms-flex-pack: distribute !important;
    }

    .align-items-xl-start {
        align-items: flex-start !important;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
    }

    .align-items-xl-end {
        align-items: flex-end !important;
        -webkit-box-align: end !important;
        -ms-flex-align: end !important;
    }

    .align-items-xl-center {
        align-items: center !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
    }

    .align-items-xl-baseline {
        align-items: baseline !important;
        -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
    }

    .align-items-xl-stretch {
        align-items: stretch !important;
        -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
    }

    .align-content-xl-start {
        align-content: flex-start !important;
        -ms-flex-line-pack: start !important;
    }

    .align-content-xl-end {
        align-content: flex-end !important;
        -ms-flex-line-pack: end !important;
    }

    .align-content-xl-center {
        align-content: center !important;
        -ms-flex-line-pack: center !important;
    }

    .align-content-xl-between {
        align-content: space-between !important;
        -ms-flex-line-pack: justify !important;
    }

    .align-content-xl-around {
        align-content: space-around !important;
        -ms-flex-line-pack: distribute !important;
    }

    .align-content-xl-stretch {
        align-content: stretch !important;
        -ms-flex-line-pack: stretch !important;
    }

    .align-self-xl-auto {
        align-self: auto !important;
        -ms-flex-item-align: auto !important;
    }

    .align-self-xl-start {
        align-self: flex-start !important;
        -ms-flex-item-align: start !important;
    }

    .align-self-xl-end {
        align-self: flex-end !important;
        -ms-flex-item-align: end !important;
    }

    .align-self-xl-center {
        align-self: center !important;
        -ms-flex-item-align: center !important;
    }

    .align-self-xl-baseline {
        align-self: baseline !important;
        -ms-flex-item-align: baseline !important;
    }

    .align-self-xl-stretch {
        align-self: stretch !important;
        -ms-flex-item-align: stretch !important;
    }
}

.col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
}

.col-auto {
    width: auto;
    max-width: 100%;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
