#statusDropdownMenu {
    .icon {
        position: relative;
        display: inline-flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        padding: 0;
        margin: 0 8px 0 0;

        span {
            display: flex;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    #status-menu-dnd {
        padding: 4px 16px;

        .dropdown-menu {
            margin: auto;

            #dndSubMenu-header {
                font-weight: bold;
                pointer-events: none;
            }
        }

        .icon {
            top: 2px;
        }

        .SubMenu__icon-right {
            padding-top: 5px;
        }
    }
}

.custom_status__row {
    position: relative;
    height: auto;
    font-size: inherit;

    &:hover {
        background-color: rgba(var(--center-channel-color-rgb), 0.08);

        .custom-status-emoji {
            fill: rgba(var(--center-channel-color-rgb), 0.72);
        }
    }

    &:active {
        background-color: rgba(var(--button-bg-rgb), 0.08);
    }
}

.custom_status {
    &__container {
        display: flex;
        padding: 7px 0;
        line-height: 20px;
    }

    &__icon {
        margin-right: 12px;
    }

    &__text {
        overflow: hidden;
        max-width: 73%;
        height: 16px;
        line-height: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__expiry.MenuItem__help-text {
        padding-left: 28px;
    }
}

#custom_status__clear {
    position: absolute;
    top: 0;
    right: 10px;
    width: auto;
    padding: 0;
    color: rgba(var(--center-channel-color-rgb), 0.52);

    &:hover {
        background: transparent;
    }
}

.custom-status {
    &-emoji {
        fill: rgba(var(--center-channel-color-rgb), 0.56);
    }

    &-suggestion-emoji > span:first-child {
        background-size: 20px;
    }
}

@keyframes pulse1 {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    80% {
        opacity: 0;
        transform: scale(2.5);
    }

    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

@keyframes pulse2 {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    30% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
