@charset "UTF-8";

@import 'utils/mixins';
@import 'utils/variables';

.PostPriorityPicker {
    position: absolute;
    z-index: 1100;
    display: flex;
    width: 324px;
    flex-direction: column;
    border: 1px solid $light-gray;
    margin-right: 3px;
    background: var(--center-channel-bg);
    border-radius: 4px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    user-select: none;

    @include clearfix;

    &__header {
        display: flex;
        align-items: center;
        padding: 14px 20px;

        > h4 {
            display: inline;
            margin-right: 4px;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 20px;
            text-align: left;
        }
    }

    &__body {
        border-top: 1px solid rgba(var(--center-channel-text-rgb), 0.08);
    }

    &__menu {
        padding: 8px 0;
        margin: 0;
        color: var(--center-channel-text-rgb);
        list-style: none;
    }

    &__bottom {
        padding: 14px 20px;
        border-top: 1px solid rgba(var(--center-channel-text-rgb), 0.08);
        text-align: right;
    }

    &__apply {
        @include button-medium;
        @include primary-button;

        margin-left: 8px;
    }

    &__feedback {
        @include button-small;
        @include link;

        margin-left: auto;
    }

    &__cancel {
        @include button-medium;
        @include tertiary-button;
    }

    &__standard > svg {
        fill: rgba(var(--center-channel-text-rgb), 0.56);
    }

    &__important > svg {
        fill: var(--sidebar-text-active-border);
    }

    &__urgent > svg {
        fill: var(--dnd-indicator);
    }

    &__check {
        display: flex;
        margin-left: auto;

        > svg {
            fill: var(--button-bg);
        }
    }

    .Menu .MenuItem > button.PostPriorityPicker__item {
        display: flex;
        align-items: center;
    }

    .browser--ie & {
        width: 325px;
    }

    .app__content & {
        margin-right: 0;
    }
}
