.UserLimitModal {

    .modal-content {
        height: 404px;
        border: rgba(var(--center-channel-color-rgb), 0.1);
        border-radius: 8px;
        box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.12);
    }

    .modal-header {
        .close {
            color: rgba(var(--center-channel-color-rgb), 0.56)
        }
        border-bottom: 0 none;
        padding: 14px;
        color:var(--center-channel-color);
        background: #FFFFFF !important;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        .upgrade-image {
            display: block;
            margin: auto;
            margin-top: 10px;
        }
        .title {
            font-size: 26px;
            text-align: center;
            margin-top: 8px;
        }
        .description {
            text-align: center;
            margin-top: 8px;
        }

        .buttons {
            margin-top: 32px;
            text-align: center;

            .dismiss-link {
                border: none;
                font-weight: 600;
                font-size: 14px;
                align-items: center;
                align-self: center;
            }

            .confirm-button {
                padding: 12px 20px;
                background: var(--sys-button-bg);
                flex: none;
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: #FFFFFF;
                border-radius: 4px;
                margin-left: 28px;
            }
        }

        padding: 0px 44px 48px 44px;
        width: 100%;
    }
    .modal-centered {
        text-align: center;
    }
}
