.purchase-card {
    display: flex;
}

.top-wrapper {
    display: flex;

    .left-pannel {
        width: 568px;

        .panel-card {
            padding: 28px 32px;
            border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
            background: var(--sys-center-channel-bg);
            border-radius: 4px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
        }
    }

    .right-pannel {
        width: 332px;
        margin-left: 20px;

        .panel-card {
            padding: 28px 32px;
            border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
            background: var(--sys-center-channel-bg);
            border-radius: 4px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
        }
    }

    .terms-and-policy {
        margin-top: 15px;
    }
}

.current-plan-legend {
    color: #3db887;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    margin: 10px 0;

    i {
        margin-left: -5px;
        margin-right: 5px;
    }
}
