.purchase-card {
    display: flex;
}

.top-wrapper {
    display: flex;

    .left-panel {
        width: 568px;

        .panel-card {
            padding: 28px 32px;
            border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
            background: var(--sys-center-channel-bg);
            border-radius: 4px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
        }
    }

    .right-panel {
        width: 332px;
        margin-left: 20px;

        .panel-card {
            padding: 28px 32px;
            border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
            background: var(--sys-center-channel-bg);
            border-radius: 4px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
        }
    }

    .terms-and-policy {
        margin-top: 15px;
    }

    .compare-plans-text {
        margin-top: 15px;
    }
}

.file__upload {
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;

    input {
        // @include opacity(0);

        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 100%;
        cursor: pointer;

        &[disabled] {
            cursor: not-allowed;
        }
    }
}

.banner-start-trial {
    .trial-legal-terms {
        color: #3f4350;
    }
}

.light-blue-btn {
    border: none !important;
    background: rgba(var(--sys-denim-button-bg-rgb), 0.08) !important;
    color: var(sys-denim-button-bg) !important;
}

.admin-console__banner_section {
    margin-bottom: 20px;
}

.current-plan-legend {
    margin: 10px 0;
    color: #3db887;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;

    i {
        margin-right: 5px;
        margin-left: -5px;
    }
}
