.ThreadFooter {
    display: inline-flex;
    align-items: center;

    padding: 5px 10px;

    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 15px;

    .indicator {
        padding: 8px;
    }

    .dot-unread {
        background: rgba(var(--sidebar-text-active-border-rgb), 1);
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }

    .Avatars {
        margin-right: 4px;
    }

    .hover-visible {
        display: none;
    }

    &:hover {
        color: rgba(var(--button-bg-rgb), 1);
        .Icon {
            fill: rgba(var(--button-bg-rgb), 1);
        }
        .hover-visible {
            display: unset;
        }
        .hover-hidden {
            display: none;
        }
    }

    .Button:hover ~ .ButtonSeparator {
        visibility: hidden;
    }


    .Timestamp {
        padding: .5rem 1rem;
    }
}

.ButtonSeparator {
    width: 1px;
    height: 15px;
    background: rgba(var(--center-channel-color-rgb), .16)
}

.Button {
    padding: 4.5px 10px;
    border-radius: 4px;

    .Icon svg {
        width: 12px;
        height: 10px;
    }
    .Button_leftIcon {
        margin-right: .75rem;
    }

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;

    &:hover,
    &:active {
        text-decoration: none;
    }
}

.Button___transparent {
    background: transparent;
    border: none;

    &:hover,
    &:focus {
        background: rgba(var(--center-channel-color-rgb), .08);
    }
}
