.TeamsList {
    .DataGrid {
        .DataGrid_cell {
    
            .TeamList_NameColumn {
                display: flex;
                align-items: center;
                height: 80px;

                .TeamList_NameText {
                    overflow: hidden;
                }

                .TeamList_DescriptionText {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

            }
        
            .TeamList_ManagementText {
                opacity: 0.65;
            }
        
            .TeamList_EditText {
                padding-right: 20px;
            }
        }
    }
}
