.mm-app-bar-rhs-binding {
    &-list-block {
        display: flex;
        flex-direction: column;
    }

    &-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

        &-item {
            display: flex;
            align-items: flex-start;
            padding: 12px 18px 12px 24px;
            gap: 8px;
            list-style: none;

            &:hover,
            &:active {
                background: rgba(var(--center-channel-color-rgb), 0.08);

                .mm-app-bar-rhs-binding-list-item__more-btn {
                    display: flex;
                }
            }

            &__icon-ctr {
                display: flex;
                width: 18px;
                place-items: center;
            }

            &__content-ctr {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
            }

            &__title {
                display: flex;
                padding: 0;
                margin: 0;
                color: var(--center-channel-color);
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;
            }

            &__sub-text {
                display: flex;
                padding: 0;
                margin: 0;
                color: rgba(var(--center-channel-color-rgb), 0.64);
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }

            &__more-btn {
                display: none;
                overflow: hidden;
                width: 28px;
                height: 28px;
                align-items: center;
                justify-content: center;
                border: unset;
                margin-left: 8px;
                background: transparent;
                border-radius: 4px;
                color: rgba(var(--center-channel-color-rgb), 0.56);

                &:hover,
                &.active {
                    background: rgba(var(--center-channel-color-rgb), 0.16);
                }

                &.more-btn-menu-active {
                    display: flex;
                    background: rgba(var(--center-channel-color-rgb), 0.16);
                }
            }
        }
    }

    .cursor-pointer {
        cursor: pointer;
    }
}
