.mm-app-bar-rhs-binding {
    &-list-block{
        display: flex;
        flex-direction: column;
    }
    &-list{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

        &-item{
            display: flex;
            list-style: none;
            padding: 12px 18px 12px 24px;
            align-items: flex-start;
            gap: 8px;

            &:hover,&:active{
                background: rgba(var(--center-channel-text-rgb),0.08);

                .mm-app-bar-rhs-binding-list-item__more-btn{
                    display: flex;
                }
            }

            &__icon-ctr{
                display: flex;
                place-items: center;
                width: 18px;
            }

            &__content-ctr{
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
            }

            &__title{
                margin: 0;
                padding: 0;
                display: flex;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: var(--center-channel-text);
            }

            &__sub-text{
                margin: 0;
                padding: 0;
                display: flex;
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 16px;
                color: rgba(var(--center-channel-text-rgb),0.64);
            }



            &__more-btn{
                display: none;
                color: rgba(var(--center-channel-text-rgb),0.56);
                overflow: hidden;
                width: 28px;
                height: 28px;
                align-items: center;
                justify-content: center;
                border: unset;
                margin-left: 8px;
                background: transparent;
                border-radius: 4px;
                &:hover, &.active {
                    background: rgba(var(--center-channel-text-rgb),0.16);
                }

                &.more-btn-menu-active{
                    display: flex;
                    background: rgba(var(--center-channel-text-rgb),0.16);
                }
            }
        }
    }

    .cursor-pointer{
        cursor: pointer;
    }
}
