.ChannelsList {
    .DataGrid {
        .DataGrid_row {
            min-height: 40px;
            cursor: pointer;
        }
        
        .DataGrid_cell {
            .TeamList_editRow {
                padding-right: 20px;
            }

            .TeamList_channelDisplayName {
                font-weight: 600;
                color: #333333;
                opacity: 0.8;
            }

            .channel-icon___lowerOpacity {
                opacity: 0.8;
            }
        }
    }
}

