.ChannelsList {
    .DataGrid {
        .DataGrid_row {
            min-height: 40px;
            cursor: pointer;
            padding-left: 16px;
        }
        
        .DataGrid_cell {
            .TeamList_editRow {
                padding-right: 20px;
            }

            .TeamList_channelDisplayName {
                font-weight: 600;
                color: #333333;
                opacity: 0.8;
            }

            .channel-icon___lowerOpacity {
                opacity: 0.8;
            }

            .channel-icon___left2Pixel {
                left: 2px;
            }

            .channel-icon___removeLeft2Pixel {
                left: 0px;
            }

            	
            .channel-icon___increaseMargin {
                margin: 0 10px 0 0px;
            }
        }
    }
}

