.ChannelsList {
    .DataGrid {
        .DataGrid_row {
            min-height: 40px;
            cursor: pointer;
            padding-left: 16px;
        }
        
        .DataGrid_cell {
            .TeamList_editRow {
                padding-right: 20px;
            }

            .TeamList_channelDisplayName {
                font-weight: 600;
                color: #333333;
                opacity: 0.8;
            }
            
            .channel-icon {
                display: inline-flex;
                justify-content: center;
                margin-right: 10px;
                opacity: 0.8;
                width: 16px;
            }

            .row-content {
                display: flex;
                align-items: center;
            }
        }
    }
}

