@charset "utf-8";

// css feature flag: apply styling overrides to legacy layout when global header is enabled
.feature-global-header {
    --global-header-background: var(--sidebar-teambar-bg);
    --global-header-text: var(--sidebar-header-text-color);
    --global-header-background-rgb: var(--sidebar-teambar-bg-rgb);
    --global-header-text-rgb: var(--sidebar-header-text-color-rgb);

    @media screen and (max-width: 768px) {
        > header {
            display: none;
        }
    }

    @media screen and (min-width: 769px) {
        // ensure the global header always sits on top of it's immediate sibling
        > header {
            z-index: 2;

            + * {
                position: relative;
                z-index: 1;
            }
        }

        .dropdown-menu {
            top: calc(100% + 4px);
            min-width: 245px;
        }

        .team-sidebar {
            // use sidebar header variables for team sidebar
            --sidebar-teambar-bg: var(--sidebar-header-bg);
            --sidebar-header-text-color: var(--sidebar-text);
            --sidebar-teambar-bg-rgb: var(--sidebar-header-bg-rgb);
            --sidebar-header-text-color-rgb: var(--sidebar-text-rgb);

            // adjust height of team sidebar
            height: calc(100% - 40px);
            border-right: solid 1px rgba(var(--center-channel-color-rgb), 0.08);
        }

        // adjust height of sidebar to account for GH
        #SidebarContainer {
            height: calc(100% - 40px);
        }

        #lhsNavigator {
            .SidebarChannelNavigator {
                margin-top: 0;
                margin-bottom: 11px;
            }
        }

        .channel__wrap {

            // indicates the RHS is open
            &.move--left {

                // adjust channel header width
                #channel-header {
                    width: calc(100% - 400px);
                }
            }
        }

        // adjust RHS position and height
        #sidebar-right {
            z-index: 20;
            top: 0;

            .sidebar-right-container {
                height: 100%;
            }

            .sidebar--right__header {
                flex-basis: 63px;
            }

            .sidebar--right__title {
                height: auto;
                align-items: center;
                line-height: 63px;
            }

            // search bar container is now only for mobile
            .search-bar__container {
                display: none !important;
            }
        }

        .product-switcher-icon {
            padding: 0 6px;
        }

        .backstage {
            position: relative;
            z-index: 2;
            margin-top: -40px;
        }
    }

    @media screen and (min-width: 1680px) {
        .channel__wrap {

            // indicates the RHS is open
            &.move--left {

                // adjust channel header width
                #channel-header {
                    width: calc(100% - 500px);
                }
            }
        }
    }

    @media screen and (max-width: 1020px) {
        .channel__wrap {

            // indicates the RHS is open
            &.move--left {

                // adjust channel header width
                #channel-header {
                    width: 100%;
                }
            }
        }
    }

    .Menu > .product-switcher-menu {
        .MenuItem {
            .MenuItem__primary-text {
                line-height: 26px;
            }

            a,
            button {
                padding: 0 20px;

                .icon {
                    color: rgba(var(--center-channel-color-rgb), 0.56);
                }
            }
        }
    }

    .status-dropdown-menu-global-header {
        padding: 4px 8px;
        border-radius: 4px;

        .icon > i:not(.status-icon) {
            color: rgba(var(--center-channel-color-rgb), 0.56);
            font-family: "compass-icons";
        }

        &:hover {
            background: var(--sidebar-text-08);
            cursor: pointer;

            .status {
                background-image:
                    linear-gradient(
                        0deg,
                        rgba(var(--global-header-text-rgb), 0.08),
                        rgba(var(--global-header-text-rgb), 0.08)
                    );
            }
        }

        &.active {
            background: rgba(var(--global-header-text-rgb), 0.16);

            .status {
                background-image:
                    linear-gradient(
                        0deg,
                        rgba(var(--global-header-text-rgb), 0.16),
                        rgba(var(--global-header-text-rgb), 0.16)
                    );
            }
        }

        .Menu__content {
            right: -1px;
            left: inherit;
            width: 264px;
        }

        .custom_status__row > #custom_status__clear {
            top: 4px;
        }

        .custom_status__container {
            align-items: center;
            line-height: 14px;
        }

        .username-wrapper {
            padding: 0 12px;

            > p {
                overflow: hidden;
                max-width: 150px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .MenuHeader {
            height: 50px;
            padding: 0 16px;
        }

        .MenuItem > button,
        #status-menu-dnd-timed {
            padding: 1px 16px;

            .MenuItem__primary-text {
                display: grid;
                align-items: center;
                grid-template-columns: auto 1fr auto auto;

                .SubMenu__icon-right {
                    padding-top: 0;
                    padding-left: 12px;
                }
            }

            > .MenuItem__help-text {
                padding-left: 28px;
            }
        }

        #statusDropdownMenu-timedDND,
        #statusDropdownMenu-timedDND #status-menu-dnd-timed, {
            .icon {
                top: unset;
                width: auto;
                height: auto;
                padding: 0 12px 0 0;
                margin: 0;
            }

            .SubMenu__icon-right {
                padding-top: 0;
            }
        }

        .dnd--icon {
            vertical-align: middle;
        }

        .status-wrapper {
            display: flex;
            height: auto;
            align-items: center;

            .status {
                position: absolute;
                top: auto;
                right: -4px;
                bottom: -4px;
                width: 16px;
                height: 16px;
                background-color: var(--global-header-background);
                color: var(--global-header-text);

                &:hover {
                    cursor: pointer;
                }

                svg {
                    top: 0;
                }
            }
        }
    }
}

.search-bar-container--global {
    width: 100%;
}

.search__form.search__form--global {
    background: var(--sidebar-text-08);
    border-radius: 4px;

    .Global__search-bar {
        padding: 3px 2.8rem 2px 3rem;
        color: rgba(var(--global-header-text-rgb), 0.64);
        font-size: 12px;

        &::placeholder {
            color: rgba(var(--global-header-text-rgb), 0.64);
            opacity: 1;
        }
    }

    .searchTypeBadge {
        margin: 0 6px;
        background: var(--sidebar-text-08);
        color: var(--sidebar-text);
    }

    &:hover {
        background: var(--sidebar-text-16);
    }

    &.active {
        background: var(--sidebar-text-32);
    }

    &:focus-within {
        background: var(--center-channel-bg);

        .search__font-icon,
        .input-clear-x {
            color: rgba(var(--center-channel-color-rgb), 0.56);
        }

        .searchTypeBadge {
            background: rgba(var(--button-bg-rgb), 0.08);
            color: var(--button-bg);
        }

        .Global__search-bar {
            color: rgba(var(--center-channel-color-rgb));
        }
    }

    .search-help-popover {
        width: 432px;
        max-width: 432px;
    }

    .search__font-icon,
    .input-clear-x {
        color: rgba(var(--global-header-text-rgb), 0.56);
    }
}
