@charset 'UTF-8';

// css feature flag: apply styling overrides to legacy layout when global header is enabled
.feature-global-header {
    --global-header-background: var(--sidebar-teambar-bg);
    --global-header-text: var(--sidebar-text);
    --global-header-background-rgb: var(--sidebar-teambar-bg-rgb);
    --global-header-text-rgb: var(--sidebar-text-rgb);

    .team-sidebar {
        --sidebar-teambar-bg: var(--sidebar-header-bg);

        height: calc(100% - 40px);
        border-right: solid 1px rgba(var(--center-channel-color-rgb), 0.08);
    }

    #SidebarContainer {
        height: calc(100% - 40px);
    }

    #lhsHeader {
        --sidebar-header-bg: var(--sidebar-bg);
    }
}
