.HorizontalContainer {
    display: flex;
    height: 70px;
    flex-direction: horizontal;
}

.BigButton {
    display: flex;
    min-width: 0;
    flex: 1;
    flex-direction: horizontal;
    align-items: center;
    padding: 12px 22px 12px 12px;
    border: 1px solid rgba(var(--button-bg-rgb), 0.08);
    margin-left: 8px;
    background: var(--center-channel-bg);
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);

    &:first-child {
        margin-left: 0;
    }

    &.disabled,
    &.locked {
        border: 1px solid rgba(63, 67, 80, 0.16);
        opacity: 0.4;
    }

    &.selected {
        border: 1px solid rgba(93, 137, 234, 0.32);

        .GiantIcon,
        .CheckIcon {
            fill: var(--button-bg);
        }
    }

    .StackedText {
        min-width: 0;
        flex: 1;
        margin-left: 12px;
        text-align: left;

        .BigText {
            overflow: hidden;
            color: #3f4350;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;

            .upgradeBadge {
                display: inline-flex;
                width: 16px;
                height: 16px;
                margin-left: 8px;
                fill: var(--online-indicator);
                vertical-align: sub;
            }
        }

        .SmallText {
            overflow: hidden;
            color: rgba(var(--center-channel-color-rgb), 0.72);
            font-size: 12px;
            line-height: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .GiantIcon {
        display: flex;
        flex: none;
        fill: rgba(var(--center-channel-color-rgb), 0.56);
    }

    .CheckIcon {
        display: flex;
        flex: none;
        margin-left: auto;
    }
}
