.HorizontalContainer {
    display: flex;
    flex-direction: horizontal;
    height: 70px;
}

.BigButton {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    padding: 12px 22px 12px 12px;
    border: 1px solid rgba(var(--button-bg-rgb), 0.08);
    background: var(--center-channel-bg);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    flex: 1;
    min-width: 0;
    margin-left: 8px;

    &:first-child {
        margin-left: 0;
    }

    &.disabled,
    &.locked {
        border: 1px solid rgba(63, 67, 80, 0.16);
        opacity: 0.4;
    }

    &.selected {
        border: 1px solid rgba(93, 137, 234, 0.32);

        .GiantIcon,
        .CheckIcon {
            fill: var(--button-bg);
        }
    }

    .StackedText {
        flex: 1;
        min-width: 0;
        text-align: left;
        margin-left: 12px;

        .BigText {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            color: #3F4350;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .upgradeBadge {
                margin-left: 8px;
                vertical-align: sub;
                width: 16px;
                height: 16px;
                display: inline-flex;
                fill: var(--online-indicator);
            }
        }
    
        .SmallText {
            font-size: 12px;
            line-height: 16px;
            color: rgba(var(--center-channel-color-rgb), 0.72);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .GiantIcon {
        display: flex;
        flex: none;
        fill: rgba(var(--center-channel-color-rgb), 0.56);
    }

    .CheckIcon {
        display: flex;
        flex: none;
        margin-left: auto;
    }
}
