.notifications__section {
    padding-top: 117px;
    padding-left: 264px;
}

.font-16-weight-600 {
    font-size: 16px;
    font-weight: 600;
}

.font-12-weight-400 {
    font-size: 12px;
    font-weight: 400;
}

.font-12-weight-600 {
    font-size: 12px;
    font-weight: 600;
}

.Pt-8 {
    padding-top: 8px;
}

.Pt-24 {
    padding-top: 24px;
}

.Pb-24 {
    padding-bottom: 24px;
}

.Pb-8 {
    padding-bottom: 8px;
}

.Pb-14 {
    padding-bottom: 14px;
}

.Pb-6 {
    padding-bottom: 6px;
}

.notifications-title {
    padding-bottom: 8px;
}

.notifications-description {
    color: rgba(63, 67, 80, 0.64);
    padding-bottom: 24px;
}

.notifyme-title {
    color: #3f4350;
    padding-bottom: 6px;
}

.extra-padding {
    padding-bottom: 2px;
}

.margin-bottom--none {
    margin-bottom: 0;
}

.notifyme-description {
    padding-bottom: 24px;
}

.thread-section-title {
    color: #3f4350;
    padding-bottom: 6px;
}

.sound-section-title {
    padding-top: 24px;
}

.sound-section--select {
    padding: 10px 16px 10px 15px;
    width: 224px;
    height: 40px;
}

.inline--block {
    display: inline-block;
}

.notification-sound-dropdown {
    width: 224px;
    height: 40px;
    margin-left: 24px;
    margin-bottom: 16px;
}

.divider-light {
    width: 636px;
    height: 1px;
    background: rgba(63, 67, 80, 0.08);
}
