.Accordion {
    padding: 0;
    margin: 0;
    list-style: none;

    .accordion-item {
        border: 1px solid #ccc;

        .accordion-item:not(:first-of-type) {
            border-top: 0;
        }

        .accordion-item-header {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px 20px;
            border: 0;
            background-color: #fff;
            font-size: 18px;
            font-weight: 400;

            &__title {
                width: 100%;
                margin: 0;
            }

            &__description {
                width: 100%;
                margin: 0;
            }

            &::after {
                width: 18px;
                height: 18px;
                flex-shrink: 0;
                margin-left: auto;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-size: 100%;
                content: "";
                opacity: 0.5;
                transition: transform 0.2s ease-in-out;
            }
        }

        &.active .accordion-item-header::after {
            transform: rotate(-180deg);
        }

        .accordion-item-container {
            overflow: hidden;
            transition: height 0.2s ease-in-out;

            &__content {
                padding: 15px 20px;
                border-top: 1px solid #ccc;
            }
        }
    }
}
