.date-picker__popper {
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    background: rgba(var(--center-channel-bg-rgb), 1);
    border-radius: 4px;
    box-shadow: 0 8px 24px 0 rgb(0 0 0 / 12%);
}

.rdp {
    --rdp-accent-color: var(--button-bg);
    --rdp-background-color: rgba(var(--center-channel-color-rgb), 0.08);
}
