.ThreadFooter {
    --button-separator-height: 15px;
    --button-separator-gap: 4px;

    position: relative;
    left: -34px;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    padding-top: 0;
    margin-top: 1px;
    margin-bottom: 5px;
    color: rgba(var(--center-channel-color-rgb), 0.64);
    font-size: 12px;
    line-height: 15px;
    white-space: nowrap;

    .indicator {
        width: 24px;
        height: 24px;
        padding: 8px;
    }

    .dot-unreads {
        width: 8px;
        height: 8px;
        background: rgba(var(--sidebar-text-active-border-rgb), 1);
        border-radius: 50%;
    }

    .Avatars {
        margin-right: 4px;
        font-weight: 600;
    }

    .icon {
        width: 14px;
        height: 13px;
        font-size: 14px;
    }

    .alt-visible {
        display: none;
    }

    &:hover,
    &:focus-within,
    &.is-active,
    .post:hover &,
    .post:focus-within & {
        .alt-visible {
            display: unset;
        }

        .alt-hidden {
            display: none;
        }
    }

    .Timestamp {
        padding: 0 1rem;
        font-weight: 400;
    }
}
