@import 'utils/variables';

.included-title {
    color: rgba(var(--center-channel-color-rgb), 0.56);
    font-weight: 600;
    text-transform: uppercase;
}

.preview-integrations {
    &-plugins {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8px;
        gap: 8px;

        &-item {
            display: flex;
            width: 128px;
            height: 48px;
            flex-basis: 45%;
            border: 1px solid rgba(var(--center-channel-text-rgb), 0.24);
            border-radius: 4px;

            &__uninstalled {
                opacity: 65%;
            }

            &__icon {
                display: flex;
                width: 24px;
                height: 24px;
                align-items: center;
                margin: 12px 10px;

                img {
                    position: relative !important;
                    width: 100%;
                    height: 100%;
                }

                &_blue {
                    color: var(--denim-button-bg);
                }
            }

            &__name {
                flex-grow: 2;
                margin-top: 8px;
                color: var(--center-channel-text);
                font-family: 'Open Sans';
                font-size: 11px;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 0.02em;
                line-height: 22px;
            }
        }
    }

    &-warning {
        display: flex;
        margin-top: 8px;
        color: var(--error-text);

        &-message {
            margin-left: 3px;
            font-family: 'Open Sans';
            font-size: 11px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
        }
    }
}

.icon-check-circle::before {
    margin-top: 8px;
    margin-right: 8px;
}

.icon-download-outline::before {
    margin-top: 8px;
    margin-right: 8px;
}
