.sidebar__list {
    width: 232px;
    background: rgba(63, 67, 80, 0.04);
    height: 587px;
    padding: 103px 24px 0 24px;
    // border-right: 1px solid rgba(63, 67, 80, 0.08);
    position: fixed;
}
