.emoji-picker li a {
    padding-top: 7px !important;
    width: max-content;
}

.custom-emoji-tab {
    display: flex;
}

.custom-emoji-tab span {
    margin-right: 5px;
}

.emoji-picker .nav.nav-tabs {
    width: fit-content;
}
