.file_preview_modal_main_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.6rem;

    &__next {
        display: flex;
        align-items: center;
        border: unset;
        margin-left: 12px;
        background: transparent;
        font-weight: 600;
        i {
            font-size: 2.4rem;
        }
    }

    &__prev {
        display: flex;
        align-items: center;
        border: unset;
        margin-right: 12px;
        background: transparent;
        font-weight: 600;
        i {
            font-size: 2.4rem;
        }
    }
}
