.AdminUserCard {
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    margin: 2em 0 1em;
    padding: 0;
}

.AdminUserCard__header {
    align-items: flex-start;
    background-color: #295EB9;
    display: flex;
    flex-direction: row;
    padding: 30px 20px 12px 30px;
    height: 92px;
}

.AdminUserCard__header .Avatar.Avatar-xxl {
    border: solid 2px #fff;
}

.AdminUserCard__body {
    padding: 12px 20px 20px 178px;
    background-color: #fff;
}

.AdminUserCard__footer {
    padding: 20px;
    background-color: #fff;
    border-top: solid 1px rgba(0,0,0,0.2);
}

.AdminUserCard__user-info {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-left: 20px;
    padding: 0;
    align-self: flex-end;
}

.AdminUserCard__user-nickname {
    opacity: .5;
}

.AdminUserCard__user-id {
    color: #fff;
    font-size: 12px;
    margin-left: auto;
    align-self: flex-end;
    opacity: .5;
}
