.new-replies-banner {
    position: absolute;
    bottom: 48px;
    display: flex;
    justify-content: center;

    .toast {
        width: 156px;

        .toast__jump ~ span {
            margin-left: 24px;
        }
    }
}
