.ThreadList {
    display: grid;
    overflow: hidden;
    grid-template-areas:
        'header'
        'list';
    grid-template-rows: 56px 1fr;

    .Header {
        padding-right: 12px;
        padding-left: 14px;
        border-bottom: var(--border);
        color: rgba(var(--center-channel-color-rgb), 0.56);
        grid-area: header;

        .tab-button-wrapper + .tab-button-wrapper {
            margin-left: 4px;
        }

        .left {
            display: flex;
            height: 100%;
            align-items: center;
        }
    }

    .threads {
        grid-area: list;

        .no-results__wrapper {
            position: relative;
            top: -28px;
        }
    }

    .ThreadItem {
        border-bottom: var(--border);
    }

    .tab-button-wrapper {
        position: relative;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 13px 0;
    }
}
