@import 'compass/css3';
@import 'utils/module';

.Menu {
    .MenuItem {
        font-size: 14px;
        display: flex;
        align-items: center;

        .MenuItem__icon {
            text-align: center;
            width: 20px;
            margin-right: 8px;
        }

        span.icon {
            width: 30px;
            padding-right: 15px;
            display: inline-block;
            text-align: center;
        }

        span.MenuItem__primary-text {
            display: block;
            white-space: normal;
            line-height: 28px;
        }

        span.MenuItem__help-text {
            @include opacity(.7);
            display: block;
            margin-top: 2px;
            font-size: 12px;
            line-height: 17px;
            white-space: normal;
        }

        > a {
            text-decoration: none;

            &:focus,
            &:hover {
                color: inherit;
            }
        }

        > div {
            padding-left: 0px !important;
            &:hover,
            &:focus {
                background-color: var(--center-channel-color-10) !important;
            }
        }

        > div,
        > button,
        > a {
            align-items: center;
            clear: both;
            color: inherit;
            cursor: pointer;
            display: block;
            font-weight: normal;
            padding: 0 32px 0 24px;
            text-align: left;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 28px;

            &.MenuItem__with-help {
                height: auto;
                padding: 4px 24px 7px;
                .MenuItem__primary-text {
                    line-height: 22px;
                }
            }

            .MenuItem__icon {
                width: 20px;
                height: 20px;
                display: inline-flex;
                align-items: center;
                margin-right: 8px;
                top: 4px;
                position: relative;
            }

            &:hover {
                background: alpha-color($black, .08);
            }
        }

        &.MenuItem__dangerous {
            color: $red;
        }
    }
}

.SubMenu {
    padding-left: 0px;
    position: absolute;
    top: unset;
    left: unset;
}

.SubMenu__icon-left {
    color: inherit;
    font-size: 19px;
    padding: 0 8px 0 9px;
    position: relative;
    top: 0;
}

.SubMenu__icon-left-empty {
    visibility: hidden;
    font-size: 19px;
    padding: 0 8px 0 9px;
    position: relative;
    top: 0;

    &.mobile {
        padding: 0 4px 0 9px;
    }
}

.SubMenu__icon-right {
    color: inherit;
    font-size: 19px;
    padding: 0;
    margin-left: auto;
    top: 0;
}

.SubMenu__icon-right-empty {
    visibility: hidden;
    font-size: 19px;
    padding: 0;
    margin-left: auto;
    width: 0;
    top: 0;
}

.MenuItem__divider {
    margin: 8px 0;
    border-top: $border-gray;
}
