.EELicenseModal {
    .modal-header {
        background: none !important;

        button.close {
            span {
                color: rgba(63, 67, 80, 0.56) !important;
            }
        }
    }

    .title {
        color: #3f4350;
        font-family: Metropolis;
        font-size: 22px;
        line-height: 28px;
        font-weight: 700;
        margin: 10px 0;
    }

    .enterprise-license-text {
        max-height: 200px;
        overflow-y: auto;
        padding: 10px;
        background: white;
        text-align: justify;
    }

    .content-footer {
        display: flex;

        button {
            margin-left: auto;
            margin-top: 15px !important;
            border-radius: 4px;
        }
    }

    .modal-footer {
        border-top: none !important;
    }
}
