.AdminChannelDetails {
    .channel-organizations {
        .shared-channel-icon {
            margin-left: -3px;
            font-size: 130%;
            color: rgba(61, 60, 64, 0.56);
        }
    }
}
