.MenuWrapper {
    position: relative;
    .Menu {
        display: block;
    }
    *:first-child {
        @include unselectable;
        cursor: pointer;
    }

    .fa {
        width: 20px;
    }
}
